
<div class="row section recentworks topspace">
<h2 class="section-title">
		<span> Auto ShowRooms </span>
	</h2>
	<div class="thumbnails recentworks row">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="" alt="Sree Venkateswara Motors" height=200px
					width=200px>
			</span>
		</div>
		</span> <span class="title">Sree Venkateswara Motors</span> </a>
		<h4></h4>
		<p class="text-center">Borgaon ( pangra ),Hyderabad Road,Nizamabad.<br>Phone No.08462-235535
		</p>
	</div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="" alt="Bajaj Show Room" height=200px
					width=200px>
			</span>
		</div>
		</span> <span class="title">Bajaj Show Room </span> </a>
		<h4></h4>
		<p class="text-center">
			Borgaon ( pangra ),Hyderabad Road,Nizamabad
		</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="" alt="Tata Motors" height=200px
					width=200px>
			</span>
		</div>
		</span> <span class="title">Tata Motors </span> </a>
		<h4></h4>
		<p class="text-center">
			Pragathi Nagar, Nizamabad.
		</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/bikeshwrms/sai tvs.JPG" alt="Sai TVS" height=200px
					width=200px>
			</span>
		</div>
		</span> <span class="title">Sai TVS </span> </a>
		<h4></h4>
		<p class="text-center">
			Pragathi Nagar, Nizamabad.
		</p>
	</div>
	
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/bikeshwrms/bike4.jpg" alt="Sahil Motors" height=200px
					width=200px>
			</span>
		</div>
		</span> <span class="title">Sahil Motors </span> </a>
		<h4></h4>
		<p class="text-center">
			9/1/1/-A,Bodhan Road, Nizamabad <br>Phone +(91)-8462- 222011.
		</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/bikeshwrms/bajaj.jpg" alt="Bijay Bajaj" height=200px
					width=200px>
			</span>
		</div>
		</span> <span class="title">Bijay Bajaj </span> </a>
		<h4></h4>
		<p class="text-center">
			127-128,Arya nagar, Boregaon, Nizamabad.<br> Phone +(91)-8462-
			234014.
		</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/bikeshwrms/tvs.jpg" alt="Laxmi TVS" height=200px
					width=200px>
			</span>
		</div>
		</span> <span class="title">Laxmi TVS </span> </a>
		<h4></h4>
		<p class="text-center">
			1-1-2/103,Vinayak nagar, Nizamabad, Near state bank of Hyderabad <br>
			Phone +(91)-8462- 234162.
		</p>
	</div>
</div>
</div>
