<h1>Armoor</h1>
<div class="wrapper col4">
  <div id="container">
    <div id="services">
      <ul>
        <li>
          <h2>About Armoor</h2>
          <div class="imgholder"><img src="images/gallary/armoorkavaathu.jpg" width="240" height="120" alt="" /></div>
          <p>Armoor is located in Nizamabad District of Telangana in India. It is also  known as  Navanthpuram.
           </p>
          <p class="more"><a href="http://en.wikipedia.org/wiki/Armoor">Continue Reading &raquo;</a></p>
        </li>
        <li>
          <h2>History</h2>
          <div class="imgholder"><img src="images/gallary/elagandul-copy.png" width=width="240" height="120" alt="" /></div>
          <p>There are 21 Gram Panchayat villages in Armoor Mandal. Armoor is located on NH-7 in (Hyderabad-Nagpur)section on {north- south  Highway corridor}  and NH-16( Nizamabad-Jagdalpur). </p>
          <p class="more"><a href="http://en.wikipedia.org/wiki/Armoor">Continue Reading &raquo;</a></p>
        </li>
        <li class="last">
          <h2>Temple</h2>
          <div class="imgholder"><img src="images/gallary/siddulamgutta.jpg" width=width="240" height="120" alt="" /></div>
          <p>Navanatha Siddeshwara Temple, Sri Apuroopa Venkateshwara Swami  Temple at  Mamidipally on Armoor . </p>
          <p class="more"><a href="http://en.wikipedia.org/wiki/Armoor">Continue Reading &raquo;</a></p>
        </li>
      </ul>
      <br class="clear" />
    </div>
    <div id="content">
      <h2>Population Tally</h2>
      <p> Armur consist of 24 Villages and 21 Panchayats . Rampur is the smallest Village and Armur is the biggest Village . It is in the 384 m elevation. Armoor  pincode is 503224, Armoor  STD code is 08463. </p>
    </div>
    <div id="column">
      <div class="holder">
        
        <h2>AGRICULTURE</h2>
        <div class="imgholder"><img src="images/gallary/ankapur.jpg" width="240" height="120" alt="" /></div>
<p align="left">Ankapur  is  a small, self adequate ,continuing steadily by  increament  village located in Armoor. Armoor  agri culture devisions are Armoor, Balkonda, Nadipet .</p>
        <p class="readmore"><a href="http://en.wikipedia.org/wiki/Armoor">Continue Reading &raquo;</a></p>
      </div>
    </div>
    <div id="content">
      <h2>Transportation</h2>
      <p>                   Armoor  is well connected by National Highway roads NH-44 and NH-16. There is  only one way is available in armor.  i.e. bus,  but   nearest railway station is Nizamabad. It is 25km from Armoor.         
 
</a>.</p>
      
      
    </div>
    
    <br class="clear" />
  </div>
</div>