<h1>Bodhan</h1>
<div class="wrapper col4">
  <div id="container">
    <div id="services">
      <ul>
        <li>
          <h2>About Bodhan</h2>
          <div class="imgholder"><img src="images/gallary/bdnbusstation.JPG" width="240" height="120" alt="" /></div>
          <p>
                                     Bodhan is located in Nizamabad District of Telangana. It is about 28km from District  Headquarters   Nizamabad .Bodhan is a municipal town  and  it  is   primarily known for the Nizam sugar factory  and  historical stories.  </p>
          <p class="more"><a href="http://en.wikipedia.org/wiki/Bodhan">Continue Reading &raquo;</a></p>
        </li>
        <li>
          <h2>History</h2>
          <div class="imgholder"><img src="images/gallary/sugarfactory.jpg" width="240" height="120" alt="" /></div>
          <p>Bodhan was previously known as Boodhan. Assaka (Sanskrit: अश्मक, Aśmaka Pali: Assaka). The Prakrit name of Bodhan was Boodhan meaning "Land given to poor as alms", identified as present day. It is one of the solasa (sixteen) mahajanapadas. It was the only Mahajanapada situated to the south of the Vindhya Range, and was in Dakshinapatha  mentioned in the Buddhist text Anguttara Nikaya.</p>
          <p class="more"><a href="http://en.wikipedia.org/wiki/Bodhan">Continue Reading &raquo;</a></p>
        </li>
        <li class="last">
          <h2>Temple</h2>
          <div class="imgholder"><img src="images/gallary/bodhan.jpg" width="240" height="120" alt="" /></div>
          <p>Temples to visited in Bodhan  are   Sri Rama Temple,  Renuka ellamma Temple,  Alivelu  Mangamma Temple , Saibaba Temple, Hanuman Temple, and  Pochamma  &  Sri  Rajeshwarai Temple. </p>
          <p class="more"><a href="http://en.wikipedia.org/wiki/Bodhan">Continue Reading &raquo;</a></p>
        </li>
      </ul>
      <br class="clear" />
    </div>
    <div id="content">
      <h2>Population Tally</h2>
      <p>Telugu is the Local Language here. Total population of Bodhan is 2841. Males are 1443 and Females are 1,398 living in 574 Houses. Total area of Bodhan is 4565 hectares. Bodhan   pincode  is 503185 Bodhan   Telephone  code  is 08462</p>
      
    </div>
    <div id="column">
      <div class="holder">
        
        <h2>AGRICULTURE</h2>
<p align="left">Bodhan agriculture devisions are.
Bodhan, Renjal, Yedapally</p>
        <p class="readmore"><a href="http://en.wikipedia.org/wiki/Bodhan">Continue Reading &raquo;</a></p>
      </div>
    </div>
    <div id="content">
      <h2>Transportation</h2>
      <p>We can reach Bodhan in two ways   one is Bus, another  is by Train.
 
</a>.</p>
      <p>Bodhan TSRTC  have the Healthy collection when compared to the other divisions in Nizamabad.</p>
      
    </div>
    
    <br class="clear" />
  </div>
</div>