
<h1>BUS TIMINGS</h1>
<a href="#/yellowpages/onlinebus">You Can Book Your Ticket Here</a>
<h4><b>NIZAMABAD TO OTHER PILGRIMS</b></h4>
<table>
	<thead>
		<tr align="center">
			<th scope="col">Deity And Temple Name</th>
			<th scope="col">Service Type</th>
			<th scope="col">Timings</th>
			<th scope="col">Adult Fare</th>
			<th scope="col">Child Fare</th>
			<th scope="col">KMs From Nizamabad</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong class="book-title">Bhadrachalam</strong> Badradri
				Ramalayam</td>
			<td class="item-stock">Hi-Tech</td>
			<td class="item-qty">16.30</td>
			<td class="item-price">254.00</td>
			<td class="item-price">127.00</td>
			<td><strong class="book-title">488</strong> From Nizamabad</td>
		</tr>
		<tr>
			<td><strong class="book-title">Shirdi</strong> Sri Sai Baba</td>
			<td class="item-stock">Luxury</td>
			<td class="item-qty">13.30</td>
			<td class="item-price">271.00</td>
			<td class="item-price">136.00</td>
			<td><strong class="book-title">550</strong> From Nizamabad</td>
		</tr>
		<tr>
			<td><strong class="book-title">Tirupathi</strong> Lord
				Venkateshwara</td>
			<td class="item-stock">Express</td>
			<td class="item-qty">13.30</td>
			<td class="item-price">275.00</td>
			<td class="item-price">138.00</td>
			<td><strong class="book-title">741</strong> From Nizamabad</td>
		</tr>
		<tr>
			<td><strong class="book-title">Vemulavada</strong> Lord sri
				Rajarajeshwara swamy</td>
			<td class="item-stock">Ordinary</td>
			<td class="item-qty">07.15<br>16.30
			</td>
			<td class="item-price">42.00</td>
			<td class="item-price">21.00</td>
			<td><strong class="book-title">127</strong> From Nizamabad</td>
		</tr>
		<tr>
			<td><strong class="book-title">Badapahad</strong> Syed Sadullah
				Hussaini</td>
			<td class="item-stock">Ordinary</td>
			<td class="item-qty">Every 40 minutes</td>
			<td class="item-price">19.00</td>
			<td class="item-price">10.00</td>
			<td><strong class="book-title">49</strong> From Nizamabad</td>
		</tr>
		<tr>
			<td><strong class="book-title">Basar</strong> Sri Gnyana
				Saraswathi</td>
			<td class="item-stock">Ordinary<br>Express
			</td>
			<td class="item-qty">Every 20 minutes</td>
			<td class="item-price">13.00<br>14.00
			</td>
			<td class="item-price">8.00<br>8.00
			</td>
			<td><strong class="book-title">36</strong> From Nizamabad</td>
		</tr>
		<tr>
			<td><strong class="book-title">Dharmapuri</strong> Sri Laxmi
				Narasimha Swamy</td>
			<td class="item-stock">Ordinary</td>
			<td class="item-qty">07.00<br>16.25
			</td>
			<td class="item-price">45.00</td>
			<td class="item-price">24.00</td>
			<td><strong class="book-title">129</strong> From Nizamabad</td>
		</tr>
	</tfoot>
</table>
<h4><b>NIZAMABAD LONG DISTANCE SERVICES FROM MAJOR BUS STATIONS</b></h4>
<table>
	<thead>
		<tr align="center">
			<th scope="col">Origin</th>
			<th scope="col">Destination</th>
			<th scope="col">Service Type</th>
			<th scope="col">Timings</th>
			<th scope="col">Adult fare</th>
			<th scope="col">Child fare</th>
			<th scope="col">KMs</th>
			<th scope="col">VIA</th>
			<th scope="col">Reaching Time</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong class="book-title">Nizamabad</strong></td>
			<td><strong class="book-title">Bhadrachalam</strong></td>
			<td class="item-stock">Hi-Tech</td>
			<td class="item-qty">16.30</td>
			<td class="item-price">254.00</td>
			<td class="item-price">127.00</td>
			<td class="item-price">488</td>
			<td><strong class="book-title">Hyderabad<br>Khammam<br>Kothagudem
			</strong></td>
			<td class="item-price">05.00</td>
		</tr>
		<tr>
			<td><strong class="book-title">Nizamabad</strong></td>
			<td><strong class="book-title">Shirdi</strong></td>
			<td class="item-stock">Luxury</td>
			<td class="item-qty">13.30</td>
			<td class="item-price">271.00</td>
			<td class="item-price">136.00</td>
			<td class="item-price">550</td>
			<td><strong class="book-title">Nanded<br>Parbani<br>Aurungabad
			</strong></td>
			<td class="item-price">04.45</td>
		</tr>
		<tr>
			<td><strong class="book-title">Kamareddy</strong></td>
			<td><strong class="book-title">Mumbai</strong></td>
			<td class="item-stock">Express</td>
			<td class="item-qty">11.00</td>
			<td class="item-price">310.00</td>
			<td class="item-price">155.00</td>
			<td class="item-price">750</td>
			<td><strong class="book-title">Nizamabad<br>Mukhed<br>Lathoor<br>Pune
			</strong></td>
			<td class="item-price">06.00</td>
		</tr>
		<tr>
			<td><strong class="book-title">Kamareddy</strong></td>
			<td><strong class="book-title">Bhadrachalam</strong></td>
			<td class="item-stock">Express</td>
			<td class="item-qty">06.15</td>
			<td class="item-price">141.00</td>
			<td class="item-price">72.00</td>
			<td class="item-price">381</td>
			<td><strong class="book-title">Siricilla<br>Karimnagar<br>Warangal<br>Bayyaram<br>Khammam
			</strong></td>
			<td class="item-price">17.00</td>
		</tr>
		<tr>
			<td><strong class="book-title">Bodhan</strong></td>
			<td><strong class="book-title">Kakinada</strong></td>
			<td class="item-stock">Express</td>
			<td class="item-qty">13.30</td>
			<td class="item-price">267.00</td>
			<td class="item-price">134.00</td>
			<td class="item-price">714</td>
			<td><strong class="book-title">Medak<br>Hyderabad<br>Vijayawada<br>Elur<br>Ravulapalem<br>Rajahmandry
			</strong></td>
			<td class="item-price">09.00</td>
		</tr>
		<tr>
			<td><strong class="book-title">Bodhan</strong></td>
			<td><strong class="book-title">Udayagiri</strong></td>
			<td class="item-stock">Express</td>
			<td class="item-qty">11.45</td>
			<td class="item-price">240.00</td>
			<td class="item-price">120.00</td>
			<td class="item-price">646</td>
			<td><strong class="book-title">Nizamabad<br>Hyderabad<br>Hill
					colony<br>Kanigiri<br>Udayagiri
			</strong></td>
			<td class="item-price">04.00</td>
		</tr>
		<tr>
			<td><strong class="book-title">Bodhan</strong></td>
			<td><strong class="book-title">Pamuru</strong></td>
			<td class="item-stock">Express</td>
			<td class="item-qty">14.00</td>
			<td class="item-price"></td>
			<td class="item-price"></td>
			<td class="item-price"></td>
			<td><strong class="book-title">Nizamabad<br>Hyderabad<br>Markapoor<br>Podili<br>Kanigiri
			</strong></td>
			<td class="item-price">06.00</td>
		</tr>
		<tr>
			<td><strong class="book-title">Bodhan</strong></td>
			<td><strong class="book-title">Guntur</strong></td>
			<td class="item-stock">Express</td>
			<td class="item-qty">17.00</td>
			<td class="item-price">184.00</td>
			<td class="item-price">92.00</td>
			<td class="item-price">495</td>
			<td><strong class="book-title">Kamareddy<br>Ramayampet<br>Siddipet<br>Jangaon<br>Suryapet<br>Vijayawada
			</strong></td>
			<td class="item-price">04.45</td>
		</tr>
	</tbody>
</table>
<h4><b>NIZAMABAD TOURIST PLACES</b></h4>
<table>
	<thead>
		<tr align="center">
			<th scope="col">Tourism Place</th>
			<th scope="col">Service Type</th>
			<th scope="col">Timings</th>
			<th scope="col">Adult fare</th>
			<th scope="col">Child fare</th>
			<th scope="col">KMs from Bus Station</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong class="book-title">Nizamsagar project</strong></td>
			<td class="item-stock">Ordinary/Express</td>
			<td class="item-qty">Every 40 Minutes</td>
			<td class="item-price">19.50<br>10.00
			</td>
			<td class="item-price">10.00<br>05.00
			</td>
			<td class="item-price">56 From kamareddy<br>30 From
				Banswada
			</td>
		</tr>
		<tr>
			<td><strong class="book-title">Alisagar/Ahoksagar</strong></td>
			<td class="item-stock">Ordinary</td>
			<td class="item-qty">06.15,08.30<br>13.00,15.15<br>17.30,21.15
			</td>
			<td class="item-price">05.00</td>
			<td class="item-price">03.00</td>
			<td class="item-price">20 From Nizamabad</td>
		</tr>
		<tr>
			<td><strong class="book-title">Sriram Sagar Project</strong></td>
			<td class="item-stock">Ordinary/Express</td>
			<td class="item-qty">Every 30 Minutes</td>
			<td class="item-price">12.00</td>
			<td class="item-price">06.00</td>
			<td class="item-price">28 From Armoor</td>
		</tr>
	</tbody>
</table>
<h4><b>NIZAMABAD TO OTHER LONG DISTANCE BUS STATIONS</b></h4>
<table>
	<thead>
		<tr align="center">
			<th scope="col">Destination</th>
			<th scope="col">Timings</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong class="book-title">Adilabad</strong></td>
			<td class="item-stock">05.00, 06.00, 06.45, 07.15, 08.45, 09.15,
				10.15, 11.15, 12.30, 13.45, 14.15, 15.45, 16.45, 18.45, 19.45</td>
		</tr>
		<tr>
			<td><strong class="book-title">Asifabad</strong></td>
			<td class="item-stock">13.45</td>
		</tr>
		<tr>
			<td><strong class="book-title">Badrachalam</strong></td>
			<td class="item-stock">16.30</td>
		</tr>
		<tr>
			<td><strong class="book-title">Basmath</strong></td>
			<td class="item-stock">10.00</td>
		</tr>
		<tr>
			<td><strong class="book-title">Bellampalli</strong></td>
			<td class="item-stock">08.00</td>
		</tr>
		<tr>
			<td><strong class="book-title">Bhimandi</strong></td>
			<td class="item-stock">12.45, 13.15</td>
		</tr>
		<tr>
			<td><strong class="book-title">Borivelli</strong></td>
			<td class="item-stock">13.00</td>
		</tr>
		<tr>
			<td><strong class="book-title">Chandrapur</strong></td>
			<td class="item-stock">06.30(MH), 8.00</td>
		</tr>
		<tr>
			<td><strong class="book-title">Dharmapuri</strong></td>
			<td class="item-stock">07.00, 11.30(MH)</td>
		</tr>
		<tr>
			<td><strong class="book-title">Godavarikhani</strong></td>
			<td class="item-stock">05.15, 07.20, 08.15, 11.45, 14.00, 14.45,
				15.00</td>
		</tr>
		<tr>
			<td><strong class="book-title">Gudivada</strong></td>
			<td class="item-stock">19.10</td>
		</tr>
		<tr>
			<td><strong class="book-title">Guntur(via Siddipet)</strong></td>
			<td class="item-stock">17.50</td>
		</tr>
		<tr>
			<td><strong class="book-title">Hanmakonda-Warangal</strong></td>
			<td class="item-stock">04.30, 05.30, 06.00, 06.30, 07.00, 08.00,
				08.15, 08.30, 09.00, 10.00, 10.15, 10.30, 11.00, 11.30, 12.00,
				13.00, 14.00, 14.20, 14.30, 15.00, 15.15, 15.30, 16.30, 17.00,
				18.00, 18.30, 19.00, 20.00</td>
		</tr>
		<tr>
			<td><strong class="book-title">Hyderabad</strong></td>
			<td class="item-stock">00.00, 00.40, 01.00, 01.15, 02.30, 03.30,
				04.00, 04.30, 04.50, 05.00, 05.20, 05.30, 05.50, 06.00, 06.15,
				06.20, 06.30, 06.50, 07.00, 07.10, 07.20, 07.30, 07.45, 07.50,
				08.20, 08.30, 08.45, 08.50, 09.00, 09.10, 09.20, 09.30, 09.50,
				10.00, 10.10, 10.20, 10.30, 10.45, 10.50, 11.00, 11.10, 11.20,
				11.30, 11.50, 12.00, 12.10, 12.20, 12.30, 12.40, 12.50, 13.00,
				13.10, 13.20, 13.30, 13.45, 13.50, 14.00, 14.10, 14.20, 14.30,
				14.40, 14.50, 15.00, 15.15, 15.20, 15.30, 15.45, 15.50, 16.00,
				16.10, 16.30, 17.00, 17.30, 17.35, 17.50, 18.00, 18.10, 18.30,
				18.50, 19.00, 19.10, 19.30, 19.50, 20.00, 20.15, 21.00, 21.30,
				21.50, 22.00, 22.50, 23.00, 23.10, 23.50.</td>
		</tr>
		<tr>
			<td><strong class="book-title">Jangaon</strong></td>
			<td class="item-stock">07.00</td>
		</tr>
		<tr>
			<td><strong class="book-title">Kandar</strong></td>
			<td class="item-stock">06.00</td>
		</tr>
		<tr>
			<td><strong class="book-title">Karimnagar</strong></td>
			<td class="item-stock">04.00, 05.00, 06.15, 07.30, 07.45, 08.30,
				08.45, 09.00, 09.15, 09.45, 10.30, 11.00, 12.15, 13.15, 14.15,
				14.45, 16.15, 16.45, 17.45, 18.45</td>
		</tr>
		<tr>
			<td><strong class="book-title">Nanded</strong></td>
			<td class="item-stock">0.30, 10.100, 02.30, 05.30, 08.30, 09.00,
				10.30, 11.30, 12.00, 12.30, 13.30, 14.00, 16.15, 18.15</td>
		</tr>
		<tr>
			<td><strong class="book-title">Manchiryal</strong></td>
			<td class="item-stock">09.00, 09.30, 11.30, 12.30</td>
		</tr>
		<tr>
			<td><strong class="book-title">Mumbai</strong></td>
			<td class="item-stock">12.30, 12.45, 13.45, 14.00, 14.30, 14.45,
				14.50</td>
		</tr>
		<tr>
			<td><strong class="book-title">Kandar</strong></td>
			<td class="item-stock">06.00</td>
		</tr>
		<tr>
			<td><strong class="book-title">Narsampet</strong></td>
			<td class="item-stock">07.30, 09.00, 13.15, 16.00, 18.00, 21.00</td>
		</tr>
		<tr>
			<td><strong class="book-title">Nirmal</strong></td>
			<td class="item-stock">04.15, 07.00, 07.15, 08.00, 08.30, 09.00,
				09.30, 10.00, 10.30, 10.45, 11.00, 11.30, 11.45, 12.00, 12.30,
				13.15, 14.00, 14.30, 15.00, 15.30, 16.00, 17.00, 17.30, 18.00,
				19.00, 20.00, 21.45</td>
		</tr>
		<tr>
			<td><strong class="book-title">Pamur</strong></td>
			<td class="item-stock">14.00</td>
		</tr>
		<tr>
			<td><strong class="book-title">Pandaripur</strong></td>
			<td class="item-stock">06.30, 08.00</td>
		</tr>
		<tr>
			<td><strong class="book-title">Sangareddy</strong></td>
			<td class="item-stock">04.20, 10.20</td>
		</tr>
		<tr>
			<td><strong class="book-title">Shiridi</strong></td>
			<td class="item-stock">13.30, 14.30, 19.10</td>
		</tr>
		<tr>
			<td><strong class="book-title">Tirupathi</strong></td>
			<td class="item-stock">13.30</td>
		</tr>
		<tr>
			<td><strong class="book-title">Torur</strong></td>
			<td class="item-stock">03.30, 20.00</td>
		</tr>
		<tr>
			<td><strong class="book-title">Udayagiri</strong></td>
			<td class="item-stock">11.45</td>
		</tr>
		<tr>
			<td><strong class="book-title">Utnoor</strong></td>
			<td class="item-stock">13.30</td>
		</tr>
		<tr>
			<td><strong class="book-title">Vijayawada</strong></td>
			<td class="item-stock">17.45</td>
		</tr>
		<tr>
			<td><strong class="book-title">Yadagirigutta</strong></td>
			<td class="item-stock">12.20</td>
		</tr>
	</tbody>
</table>

<a href="#/yellowpages/onlinebus">You Can Book Your Ticket Here</a>
