<h1>Gallery</h1>
<body>
         <!-- panel with buttons -->
        <div class="photos">
            <div>
                <img src="images/gallary/basar1.jpg" />
                <div></div>
            </div>
            <div>
                <img src="images/gallary/basar.jpg" />
                <div></div>
            </div>
             <div>
                <img src="images/gallary/nemli.jpg" />
                <div></div>
            </div>
             <div>
                <img src="images/gallary/kanteshwar.jpg" />
                <div></div>
            </div>
            <div>
                <img src="images/gallary/park.jpg" />
                <div></div>
            </div>
            <div>
                <img src="images/gallary/SRSP.jpg" />
                <div></div>
            </div>
            <div>
                <img src="images/gallary/sugarfactory.jpg" />
                <div></div>
            </div>
            <div>
                <img src="images/gallary/saibaba.jpg" />
                <div></div>
            </div>
            <div>
                <img src="images/gallary/dairy.jpg" />
                <div></div>
            </div>
            <div>
                <img src="images/gallary/ali.jpg" />
                <div></div>
            </div>
            <div>
                <img src="images/gallary/bodanbusstand.jpg" />
                <div></div>
            </div>
             <div>
                <img src="images/gallary/swami.JPG" />
                <div></div>
            </div>
             <div>
                <img src="images/gallary/jaihanuman.JPG" />
                <div></div>
            </div>
            <div>
                <img src="images/gallary/killa.jpg" />
                <div></div>
            </div>
            <div>
                <img src="images/gallary/20150103_115756.jpg" />
                <div></div>
            </div>
            <div>
                <img src="images/gallary/garden.JPG" />
                <div></div>
            </div>
            <div>
                <img src="images/gallary/suryabhagvan.JPG" />
                <div></div>
            </div>
            </div>
