<h1>Kamareddy</h1>
<div class="wrapper col4">
  <div id="container">
    <div id="services">
      <ul>
        <li>
          <h2>About Kamareddy</h2>
          <div class="imgholder"><img src="images/gallary/kamareddy.jpg" width="240" height="120" alt="" /></div>
          <p>Kamareddy is a Business center in Nizamabad District in the state of Telangana.  It is  112 km From The capital of Hyderabad and  55km from  Nizamabad.
           </p>
          <p class="more"><a href="http://en.wikipedia.org/wiki/Kamareddy">Continue Reading &raquo;</a></p>
        </li>
        <li>
          <h2>History</h2>
          <div class="imgholder"><img src="images/gallary/dairy.jpg" width="240" height="120" alt="" /></div>
          <p>
          Kamareddy is a village panchayat located in the Nizamabad district of Telangana State,India. The latitude 18.330533 and longitude 78.33385 are the geocoordinate of the Kamareddy. Hyderabad is the state capital for Kamareddy village. It is located around 104.6 kilometer away from Kamareddy </p>
          <p class="more"><a href="http://en.wikipedia.org/wiki/Kamareddy">Continue Reading &raquo;</a></p>
        </li>
        <li class="last">
          <h2>Temple</h2>
          <div class="imgholder"><img src="images/gallary/kamareddytemple.jpg" width="240" height="120" alt="" /></div>
          <p>Temples to Visited in Kamareddy.  There so many temples , Sri kala bhairava  Swami Temple in Ramreddy  Mandal ,  Banda Rameshwara swamy temple located  at  Banda Rameshwara Palli Village of  Kamareddy Mandal.  and  Sri Siddarameshwara Swamy Temple in Bhiknoor, Laxminarasimha swami Temple in machareddy. </p>
          <p class="more"><a href="http://en.wikipedia.org/wiki/Kamareddy">Continue Reading &raquo;</a></p>
        </li>
      </ul>
      <br class="clear" />
    </div>
    <div id="content">
      <h2>Population Tally</h2>
      <p>Telugu, Urdu, English are the Local Languages here, Kamareedy had  a population of  80,420, Kamareddy pincode is 503111, Kamareddy  STD code is 08468</p>
    </div>
    <div id="column">
      <div class="holder">
        
        <h2>AGRICULTURE</h2>
<p align="left">Agriculture divions in Kamareddy are Kamareddy, SadaShivaNagar, Tadwai, Gandhari.</p>
        <p class="readmore"><a href="http://en.wikipedia.org/wiki/Kamareddy">Continue Reading &raquo;</a></p>
      </div>
    </div>
    <div id="content">
      <h2>Transportation</h2>
      <p>We can reach Kamareddy  in two ways like  one is Bus, another  by Train Kamareddy  TSRTC  have the Healthy Exports when compared to the other divisions in Nizamabad , Kamareddy Exports   Sugar,Jaggery,  different vegatables and turmeric
 
</a>.</p>
      
      
    </div>
    
    <br class="clear" />
  </div>
</div>