<h1>Nizamabd</h1>
<div class="wrapper col4">
  <div id="container">
    <div id="services">
      <ul>
        <li>
          <h2>About Nizamabad</h2>
          <div class="imgholder"><img src="images/gallary/Nizamabad_Railway_Station.jpg" width="240" height="120" alt="" /></div>
          <p>Nizamabad is a District headquters  in  State  of  Telangana,India. It is a municipal corporation. It is third largest city of Telangana.  
           </p>
          <p class="more"><a href="http://en.wikipedia.org/wiki/Nizamabad_district">Continue Reading &raquo;</a></p>
        </li>
        <li>
          <h2>History</h2>
          <div class="imgholder"><img src="images/gallary/clk2.jpg" width="240" height="120" alt="" /></div>
          <p>Nizamabad is also known as Induru and Indrapur. It  is distance of 160km  from Hyderabad and 640km from Mumbai. It has major  towns like Bodhan , Armoor and  Kamareddy. </p>
          <p class="more"><a href="http://en.wikipedia.org/wiki/Nizamabad_district">Continue Reading &raquo;</a></p>
        </li>
        <li class="last">
          <h2>Temple</h2>
          <div class="imgholder"><img src="images/gallary/saibaba.jpg" width="240" height="120" alt="" /></div>
          <p>Temples  to visited in Nizamabad District are like  Sarangapur Hanuman Temple, Ramalayam Temple, Limbadri Narsimha Swamy Temple, Lingappa Swamy Temple ,   Peddagutta, Banda Rameshwara swamy Temple, Navanatha Siddeshwara Temple,  Sai Baba Temple in  Nemali,  Sri Rama Temple,  Renuka ellamma Temple,  Alivelu  Mangamma Temple. </p>
          <p class="more"><a href="http://en.wikipedia.org/wiki/Nizamabad_district">Continue Reading &raquo;</a></p>
        </li>
      </ul>
      <br class="clear" />
    </div>
    <div id="content">
      <h2>Population Tally</h2>
      <p> Nizamabad  had population is 3,10,500, Nizamabad Pincode is  503001, Nizamabad STD code is  08462</p>
    </div>
    <div id="column">
      <div class="holder">
        
        <h2>AGRICULTURE</h2>
        <div class="imgholder"><img src="images/gallary/ankapur.jpg" width="240" height="120" alt="" /></div>
<p align="left">There are 12 agriculture divisions in nizamabad. They are  Nizamabad, Armoor, Dichpally, Morathad, Bheemgal, Bodhan, Bansawada, Varni, Bichukunda, Kamareddy,Domakonda,Yellareddy.</p>
        <p class="readmore"><a href="http://en.wikipedia.org/wiki/Nizamabad_district">Continue Reading &raquo;</a></p>
      </div>
    </div>
    <div id="content">
      <h2>Transportation</h2>
      <p> We can reach Nizamabad in two ways  one is  by Bus, another is by Train. Nizamabad  Tsrtc have the Healthy collection when compared to the other districts  in Telangana.        
 
</a>.</p>
    </div>
    <div id="content">
      <h2>Visiting Places</h2>
      <p> Places to visited   in Nizamabad District like Easily seen among them are   Nizamasagar, Pochampad, Pocharam , Alisagar and  Nizamabad fort,Nizam sugar factory.</p>
    </div>
    <br class="clear" />
  </div>
</div>