<h1>TRAIN TIMINGS</h1>
<a href="#/yellowpages/onlinetrain">You Can Book Your Ticket Here</a>
<h4><b>NIZAMABAD TOWARDS SECUNDERABAD</b></h4>
<table align="center">
	<thead>
		<tr align="center">
			<th scope="col">Train No.</th>
			<th scope="col">From</th>
			<th scope="col">To</th>
			<th scope="col"><b> Arrival Time</b>
			<th scope="col">Departure Time</th>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="item-stock">57564</td>
			<td><strong class="book-title">Nanded</strong></td>
			<td><strong class="book-title">Hyderabad Deccan</strong></td>
			<td class="item-price">08.15</td>
			<td class="item-qty">02.00</td>
			
		</tr>
		<tr>
			<td class="item-stock">17406</td>
			<td><strong class="book-title">Adilabad</strong></td>
			<td><strong class="book-title">Krishna Exp.(Tirupathi)</strong>
			</td>
			<td class="item-price">05.45</td>	
			<td class="item-qty">02.15</td>
		
		</tr>
		<tr>
			<td class="item-stock">07466</td>
			<td><strong class="book-title">Amravathi</strong></td>
			<td><strong class="book-title">Tirupathi(Sunday)</strong></td>
			<td class="item-price">07.50</td>
			<td class="item-qty">03.05</td>
			
		</tr>
		<tr>
			<td class="item-stock">17063</td>
			<td><strong class="book-title">Manmad</strong></td>
			<td><strong class="book-title">Secunderabad(Ajantha
					Exp.)</strong></td>
			<td class="item-price">08.55</td>
			<td class="item-qty">05.30</td>
			
		</tr>
		<tr>
			<td class="item-stock">57474</td>
			<td><strong class="book-title">Bodhan</strong></td>
			<td><strong class="book-title">Mahabubnagar</strong></td>
			<td class="item-price">10.50</td>
			<td class="item-qty">05.45</td>
			
		</tr>
		<tr>
			<td class="item-stock">08568</td>
			<td><strong class="book-title">Srinagar Shiridi</strong></td>
			<td><strong class="book-title">Vishakapatnam(Saturday)</strong>
			</td>
			<td class="item-price">09.45</td>
			<td class="item-qty">06.00</td>
			
		</tr>
		<tr>
			<td class="item-stock">57594</td>
			<td><strong class="book-title">Nanded</strong></td>
			<td><strong class="book-title">Kacheguda</strong></td>
			<td class="item-price">13.30</td>
			<td class="item-qty">08.45</td>
			
		</tr>
		<tr>
			<td class="item-stock">07105</td>
			<td><strong class="book-title">Ajmir</strong></td>
			<td><strong class="book-title">Hyd. Deccan(AII Hyb
					Spl(Tuesday))</strong></td>
			<td class="item-price">13.00</td>
			<td class="item-qty">09.37</td>
			
		</tr>
		<tr>
			<td class="item-stock">77653</td>
			<td><strong class="book-title">Nizamabad</strong></td>
			<td><strong class="book-title">Kamareddy</strong></td>
			<td class="item-price"></td>
			<td class="item-qty">10.00</td>
			
		</tr>
		<tr>
			<td class="item-stock">17057</td>
			<td><strong class="book-title">Mumbai Cst</strong></td>
			<td><strong class="book-title">Secunderabad(devagiri
					Exp.)</strong></td>
			<td class="item-price">14.15</td>
			<td class="item-qty">11.05</td>
			
		</tr>
		<tr>
			<td class="item-stock">07606<br>07604
			</td>
			<td><strong class="book-title">Nizamabad kamareddy</strong></td>
			<td><strong class="book-title">Kamareddy<br>Kacheguda
			</strong></td>
			<td class="item-price">19.15</td>
			<td class="item-qty">14.20</td>
			
		</tr>
		<tr>
			<td class="item-stock">16734</td>
			<td><strong class="book-title">Okha</strong></td>
			<td><strong class="book-title">Rameshwaram(wednesday)</strong></td>
			<td class="item-price">17.45</td>
			<td class="item-qty">14.32</td>
			
		</tr>
		<tr>
			<td class="item-stock">17640</td>
			<td><strong class="book-title">Akola</strong></td>
			<td><strong class="book-title">Kacheguda(AK Kcg Exp.)</strong></td>
			<td class="item-price">20.15</td>
			<td class="item-qty">16.45</td>
			
		</tr>
		<tr>
			<td class="item-stock">57562</td>
			<td><strong class="book-title">Manmad</strong></td>
			<td><strong class="book-title">Kacheguda</strong></td>
			<td class="item-price">22.30</td>
			<td class="item-qty">17.15</td>
		
		</tr>
		<tr>
			<td class="item-stock">18510</td>
			<td><strong class="book-title">Nanded</strong></td>
			<td><strong class="book-title">Vishakapatnam(Sunday,
					Thursday)</strong></td>
			<td class="item-price">21.10</td>
			<td class="item-qty">18.15</td>
			
		</tr>
		<tr>
			<td class="item-stock">18310</td>
			<td><strong class="book-title">Nizamabad</strong></td>
			<td><strong class="book-title">Sambalpur (nagavali
					exp.(Tuesday, Saturday))</strong></td>
			<td class="item-price">21.10</td>
			<td class="item-qty">18.15</td>
			
		</tr>
		<tr>
			<td class="item-stock">17214</td>
			<td><strong class="book-title">Nagarsol</strong></td>
			<td><strong class="book-title">Narsapur(Nsl Ns
					exp.(wednesday, saturday))</strong></td>
			<td class="item-price">23.20</td>
			<td class="item-qty">20.13</td>
			
		</tr>
		<tr>
			<td class="item-stock">12719</td>
			<td><strong class="book-title">Ajmir</strong></td>
			<td><strong class="book-title">Hyderabad
					Deccan(tuesday,saturday)</strong></td>
			<td class="item-price">00.05</td>
			<td class="item-qty">21.40</td>
			
		</tr>
		<tr>
			<td class="item-stock">77657</td>
			<td><strong class="book-title">Nizamabad</strong></td>
			<td><strong class="book-title">Kamareddy</strong></td>
			<td class="item-price"></td>
			<td class="item-qty">18.40</td>
			
		</tr>
	</tbody>
</table>
<h4><b>NIZAMABAD TOWARDS MUMBAI</b></h4>
<table align="center">
	<thead>
		<tr align="center">
			<th scope="col">Train No.</th>
			<th scope="col">From</th>
			<th scope="col">To</th>
			<th scope="col">Arrival Time</th>
			<th scope="col">Departure Time</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="item-stock">17405</td>
			<td><strong class="book-title">tirupathi</strong></td>
			<td><strong class="book-title">Adilabad</strong></td>
			<td class="item-qty">21.10</td>
			<td class="item-price">00.05</td>
		</tr>
		<tr>
			<td class="item-stock">07106</td>
			<td><strong class="book-title">Hyd. deccan (Hyd AII
					Spl)</strong></td>
			<td><strong class="book-title">Ajmer</strong></td>
			<td class="item-qty">22.05</td>
			<td class="item-price">01.07</td>
		</tr>
		<tr>
			<td class="item-stock">08567</td>
			<td><strong class="book-title">Rameshwaram</strong></td>
			<td><strong class="book-title">Okha(saturday)</strong></td>
			<td class="item-qty">23.58</td>
			<td class="item-price">03.10</td>
		</tr>
		<tr>
			<td class="item-stock">57563</td>
			<td><strong class="book-title">Secunderabad</strong></td>
			<td><strong class="book-title">Parbhani</strong></td>
			<td class="item-qty">23.10</td>
			<td class="item-price">03.35</td>
		</tr>
		<tr>
			<td class="item-stock">57557</td>
			<td><strong class="book-title">Nizamabad</strong></td>
			<td><strong class="book-title">Nanded</strong></td>
			<td class="item-qty">--</td>
			<td class="item-price">06.05</td>
		</tr>
		<tr>
			<td class="item-stock">57501</td>
			<td><strong class="book-title">Nizamabad</strong></td>
			<td><strong class="book-title">Bodhan</strong></td>
			<td class="item-qty">--</td>
			<td class="item-price">06.20</td>
		</tr>
		<tr>
			<td class="item-stock">57561</td>
			<td><strong class="book-title">Kacheguda</strong></td>
			<td><strong class="book-title">Manmad</strong></td>
			<td class="item-qty">04.50</td>
			<td class="item-price">09.40</td>
		</tr>
		<tr>
			<td class="item-stock">17639</td>
			<td><strong class="book-title">Kacheguda(KCG Ak Exp)</strong></td>
			<td><strong class="book-title">Akola</strong></td>
			<td class="item-qty">07.30</td>
			<td class="item-price">10.45</td>
		</tr>
		<tr>
			<td class="item-stock">18309</td>
			<td><strong class="book-title">Sambalpur</strong></td>
			<td><strong class="book-title">Nizamabad(tuesday,
					saturday)</strong></td>
			<td class="item-qty">09.20</td>
			<td class="item-price">12.20</td>
		</tr>
		<tr>
			<td class="item-stock">18509</td>
			<td><strong class="book-title">Vishakapatnam</strong></td>
			<td><strong class="book-title">Nizamabad(thursday,sunday)</strong>
			</td>
			<td class="item-qty">09.20</td>
			<td class="item-price">12.20</td>
		</tr>
		<tr>
			<td class="item-stock">51433</td>
			<td><strong class="book-title">Nizamabad</strong></td>
			<td><strong class="book-title">Pandhapur</strong></td>
			<td class="item-qty">--</td>
			<td class="item-price">13.20</td>
		</tr>
		<tr>
			<td class="item-stock">17058</td>
			<td><strong class="book-title">Secunderabad(devagiri
					exp.)</strong></td>
			<td><strong class="book-title">Mumbai CST</strong></td>
			<td class="item-qty">13.35</td>
			<td class="item-price">16.15</td>
		</tr>
		<tr>
			<td class="item-stock">57593</td>
			<td><strong class="book-title">Kacheguda</strong></td>
			<td><strong class="book-title">Nanded</strong></td>
			<td class="item-qty">14.00</td>
			<td class="item-price">18.10</td>
		</tr>
		<tr>
			<td class="item-stock">57593</td>
			<td><strong class="book-title">Kacheguda</strong></td>
			<td><strong class="book-title">Nanded</strong></td>
			<td class="item-qty">14.00</td>
			<td class="item-price">18.10</td>
		</tr>
		<tr>
			<td class="item-stock">17064</td>
			<td><strong class="book-title">Secunderabad(Ajanta
					exp.)</strong></td>
			<td><strong class="book-title">Manmad</strong></td>
			<td class="item-qty">18.10</td>
			<td class="item-price">21.05</td>
		</tr>
		<tr>
			<td class="item-stock">57473</td>
			<td><strong class="book-title">Secunderabad</strong></td>
			<td><strong class="book-title">Bodhan</strong></td>
			<td class="item-qty">17.00</td>
			<td class="item-price">21.25</td>
		</tr>
		<tr>
			<td class="item-stock">08567</td>
			<td><strong class="book-title">Vishakapatnam</strong></td>
			<td><strong class="book-title">Srinagar
					Shiridi(thursday)</strong></td>
			<td class="item-qty">18.30</td>
			<td class="item-price">21.32</td>
		</tr>
		<tr>
			<td class="item-stock">12720</td>
			<td><strong class="book-title">Hyderabad Deccan</strong></td>
			<td><strong class="book-title">Ajmir(monday, wednesday)</strong>
			</td>
			<td class="item-qty">20.55</td>
			<td class="item-price">23.15</td>
		</tr>
		<tr>
			<td class="item-stock">17213</td>
			<td><strong class="book-title">Narsapur</strong></td>
			<td><strong class="book-title">Nagarsol(tuesday,
					wednesday)</strong></td>
			<td class="item-qty">20.35</td>
			<td class="item-price">23.27</td>
		</tr>
		<tr>
			<td class="item-stock">51422</td>
			<td><strong class="book-title">Nizamabad</strong></td>
			<td><strong class="book-title">Pune</strong></td>
			<td class="item-qty">--</td>
			<td class="item-price">23.40</td>
		</tr>
	</tbody>
</table>
<h4><b>PASSENGER TRAINS</b></h4>
<table>
	<thead>
		<tr align="center">
			<th scope="col">Train No.</th>
			<th scope="col">From</th>
			<th scope="col">To</th>
			<th scope="col">arrival time</th>
			<th scope="col">Departure time</th>
			
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="item-stock">57502</td>
			<td><strong class="book-title">Bodhan</strong></td>
			<td><strong class="book-title">Nizamabad</strong></td>
			<td class="item-price">08.40</td>
			<td class="item-qty">07.45</td>
			
		</tr>
		<tr>
			<td class="item-stock">77652</td>
			<td><strong class="book-title">Kamareddy</strong></td>
			<td><strong class="book-title">Nizamabad</strong></td>
			<td class="item-price">09.20</td>
			<td class="item-qty">08.10</td>
			
		</tr>
		<tr>
			<td class="item-stock">51421</td>
			<td><strong class="book-title">Pune</strong></td>
			<td><strong class="book-title">Nizamabad</strong></td>
			<td class="item-price">10.20</td>
			<td class="item-qty">14.25</td>
			
		</tr>
		<tr>
			<td class="item-stock">77656</td>
			<td><strong class="book-title">Kamareddy</strong></td>
			<td><strong class="book-title">Nizamabad</strong></td>
			<td class="item-price">13.10</td>
			<td class="item-qty">12.10</td>
			
		</tr>
		<tr>
			<td class="item-stock">07605</td>
			<td><strong class="book-title">Kamareddy</strong></td>
			<td><strong class="book-title">Nizamabad</strong></td>
			<td class="item-price">13.40</td>
			<td class="item-qty">12.45</td>
		
		</tr>
		<tr>
			<td class="item-stock">57504</td>
			<td><strong class="book-title">Bodhan</strong></td>
			<td><strong class="book-title">Nizamabad</strong></td>
			<td class="item-price">20.40</td>
			<td class="item-qty">19.45</td>
			
		</tr>
		<tr>
			<td class="item-stock">57558</td>
			<td><strong class="book-title">Nanded</strong></td>
			<td><strong class="book-title">Nizamabad</strong></td>
			<td class="item-price">21.05</td>
			<td class="item-qty">18.15</td>
			
		</tr>
		<tr>
			<td class="item-stock">51434</td>
			<td><strong class="book-title">Pandharpur</strong></td>
			<td><strong class="book-title">Nizamabad</strong></td>
			<td class="item-price">23.05</td>
			<td class="item-qty">06.00</td>
			
		</tr>
	</tbody>
</table>
<a href="#/yellowpages/onlinetrain">You Can Book Your Ticket Here</a>