<h1>Bank of Baroda  Bank</h1>
<h4>
	<b>Bank of Baroda Banks in Nizamabad</b>
</h4>
<table class="center">
	<thead>
		<tr align="center">
			<th scope="col">Branch Name</th>
			<th scope="col">IFSC Code</th>
			<th scope="col">MICR Code</th>
			<th scope="col">Branch Code</th>
			<th scope="col">Branch Address</th>
			<th scope="col">Contact</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong class="book-title">BARB Bank</strong>Yellammagutta, Nizamabad</td>
			<td class="item-stock">BARB0NIZAMA</td>
			<td class="item-qty">503012002</td>
			<td class="item-price">NIZAMA</td>
			<td class="item-price">H No. 5-6-430, Yellammagutta, Hyderabad Road, Nizamabad.</td>
			<td class="item-price">Phone No.08462-235143</td>
		</tr>
		<tr>
			<td><strong class="book-title">BARB Bank</strong>R&B Guest House, Nizamabad</td>
			<td class="item-stock">BARB0KAMARE</td>
			<td class="item-qty">503012102</td>
			<td class="item-price">KAMARE</td>
			<td class="item-price">D No.5-3-992, Opp.R&B Guest House, Nizamabad.</td>
			<td class="item-price">1800223344</td>
		</tr>
		<tr>
			<td><strong class="book-title">BARB Bank</strong>Erajpalle Village, Bodhan, Nizamabad</td>
			<td class="item-stock">BARB0ERAJPX</td>
			<td class="item-qty">NON-MICR</td>
			<td class="item-price">ERAJPX</td>
			<td class="item-price">D No.1-19-1, Erajpalle Village, Bodhan, Nizamabad.</td>
			<td class="item-price">1800223344</td>
		</tr>
		<tr>
			<td><strong class="book-title">BARB Bank</strong>Erajpalle Village, Bodhan, Nizamabad</td>
			<td class="item-stock">BARB0ERAJPA</td>
			<td class="item-qty">NON-MICR</td>
			<td class="item-price">ERAJPA</td>
			<td class="item-price">D No.1-19-1, Erajpalle Village, Bodhan, Nizamabad.</td>
			<td class="item-price">1800223344</td>
		</tr>
		</tbody>
		</table>
		</head>
		</html>
		