<h1>Corporation Bank</h1>
<h4>
	<b>Corporation Banks in Nizamabad</b>
</h4>
<table class="center">
	<thead>
		<tr align="center">
			<th scope="col">Branch Name</th>
			<th scope="col">IFSC Code</th>
			<th scope="col">MICR Code</th>
			<th scope="col">Branch Code</th>
			<th scope="col">Branch Address</th>
			<th scope="col">Contact</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong class="book-title">CORP Bank</strong>Muthyampet, Nizamabad</td>
			<td class="item-stock">CORP0000183</td>
			<td class="item-qty">503017002</td>
			<td class="item-price">000183</td>
			<td class="item-price">Kushal Complex, Opp. Telephone Bhavan, Gandhi Chowk, Nizamabad.</td>
			<td class="item-price">Phone No.08462-233083</td>
			
		</tr>
		<tr>
			<td><strong class="book-title">CORP Bank</strong>Madhava Nagar, Nizamabad</td>
			<td class="item-stock">CORP0001546</td>
			<td class="item-qty"></td>
			<td class="item-price">001546</td>
			<td class="item-price">Ground Floor,h.no.2-19, Madhava Nagar,(pangra), Nizamabad Rural, Nizamabad. </td>
			<td class="item-price">Phone No.08462-236246</td>
			
		</tr>
		<tr>
			<td><strong class="book-title">CORP Bank</strong>Armoor, Nizamabad</td>
			<td class="item-stock">CORP0001608</td>
			<td class="item-qty">503017202</td>
			<td class="item-price">001608 </td>
			<td class="item-price">Door No 4-709, New No 12-6,venkateswara Colony, Mamidipally,armoor,nizamabad. </td>
			<td class="item-price">Phone No.08463-221382</td>
			
		</tr>
		<tr>
			<td><strong class="book-title">CORP Bank</strong>kamareddy, Nizamabad</td>
			<td class="item-stock">CORP0001389</td>
			<td class="item-qty"></td>
			<td class="item-price">001608 </td>
			<td class="item-price">Ground Floor, D.no.5-3-125 & 126 Nizam Sagar Bus Stop, Kamareddy Nizamabad. </td>
			<td class="item-price">Phone No.08463-285165</td>
		</tr>
		<tr>
			<td><strong class="book-title">CORP Bank</strong>Ailapur, Nizamabad</td>
			<td class="item-stock">CORP0000301</td>
			<td class="item-qty"></td>
			<td class="item-price">000301 </td>
			<td class="item-price">Ground Floor, D.no.5-3-125 & 126 Nizam Sagar Bus Stop, Kamareddy Nizamabad. </td>
			<td class="item-price">Phone No.08463-285165</td>
		</tr>
		</tbody>
		</table>
		</head>
		</html>
		