<h1>ICICI Bank</h1>
<h4>
	<b>ICICI Banks in Nizamabad</b>
</h4>
<table class="center">
	<thead>
		<tr align="center">
			<th scope="col">Branch Name</th>
			<th scope="col">IFSC Code</th>
			<th scope="col">MICR Code</th>
			<th scope="col">Branch Code</th>
			<th scope="col">Branch Address</th>
			<th scope="col">Contact</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong class="book-title">ICICI Bank</strong>Ram Gopal Street, Nizamabad</td>
			<td class="item-stock">ICIC0006531</td>
			<td class="item-qty"></td>
			<td class="item-price"> 006531</td>
			<td class="item-price">7-1-61/120 E, Ram Gopal Street, Near Railway Gate, Nizamabad. </td>
			
		</tr>
		<tr>
			<td><strong class="book-title">ICICI Bank</strong>Kamareddy, Nizamabad</td>
			<td class="item-stock">ICIC0000696</td>
			<td class="item-qty"></td>
			<td class="item-price"> 000696</td>
			<td class="item-price">D No.5-4-126, Parsi Complex, NH-07, Beside Bharat Petrol Pump, Kamareddy, Nizamabad </td>
			
		</tr>
		<tr>
			<td><strong class="book-title">ICICI Bank</strong>Armoor, Nizamabad</td>
			<td class="item-stock">ICIC0000695</td>
			<td class="item-qty"></td>
			<td class="item-price"> 000695</td>
			<td class="item-price">Shailaja Complex, Near Bus Stand, Armoor-503224, District : Nizambad</td>
			
		</tr>
		</tbody>
		</table>
		</head>
		</html>
		