<h1>Indian Overseas  Bank</h1>
<h4>
	<b>Indian Overseas Banks in Nizamabad</b>
</h4>
<table class="center">
	<thead>
		<tr align="center">
			<th scope="col">Branch Name</th>
			<th scope="col">IFSC Code</th>
			<th scope="col">MICR Code</th>
			<th scope="col">Branch Code</th>
			<th scope="col">Branch Address</th>
			<th scope="col">Contact</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong class="book-title">IOBA Bank</strong>Devi Road, Nizamabad</td>
			<td class="item-stock">IOBA0000172</td>
			<td class="item-qty">NON-MICR</td>
			<td class="item-price">000172</td>
			<td class="item-price">D No. 7-8-781, Devi Road, Nizamabad.</td>
			<td class="item-price">Phone No.08462-220610, email:br.nizamabr@hydsco.iobnet.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">IOBA Bank</strong>Vidyanagar, Kamareddy</td>
			<td class="item-stock">IOBA0000396</td>
			<td class="item-qty">NON-MICR</td>
			<td class="item-price">000396</td>
			<td class="item-price">D No.5-3-688, , Vidya Nagar Colony, National Highway - 7, Kamareddy, Nizamabad.</td>
			<td class="item-price">Phone No.08462-220005, email:kamareddybr@hydsco.iobnet.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">IOBA Bank</strong>Gandhiji Road, Armoor</td>
			<td class="item-stock"> IOBA0000404</td>
			<td class="item-qty">NON-MICR</td>
			<td class="item-price">000404</td>
			<td class="item-price">D No.3-4-121, Gandhiji Road, Armoor, Nizamabad.</td>
			<td class="item-price">Phone No.08462-222270, email:armoorbr@hydsco.iobnet.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">IOBA Bank</strong>Nandipet, Nizamabad</td>
			<td class="item-stock"> IOBA0000460</td>
			<td class="item-qty">NON-MICR</td>
			<td class="item-price">000460</td>
			<td class="item-price">D No.2/38/D, Main Road, Nandipet, Nizamabad.</td>
			<td class="item-price"></td>
		</tr>
		<tr>
			<td><strong class="book-title">IOBA Bank</strong>Nehru Road, Lingampet,</td>
			<td class="item-stock"> IOBA0000711</td>
			<td class="item-qty">NON-MICR</td>
			<td class="item-price">000711</td>
			<td class="item-price">D No.4-60/20, Nehru Road, Lingampet, Nizamabad.</td>
			<td class="item-price">Phone: 08465-271231, email: lingampetbr@hydsco.iobnet.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">IOBA Bank</strong>Dubbak, Nizamabad</td>
			<td class="item-stock"> IOBA0001120</td>
			<td class="item-qty">NON-MICR</td>
			<td class="item-price">001120</td>
			<td class="item-price">Dubbak, Darpalli, Bheemgal, Dubbak, Nizamabad.</td>
			<td class="item-price">Phone: 08465-244511, email: dubbakbr@hydsco.iobnet.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">IOBA Bank</strong>Nasrullabad, Nizamabad</td>
			<td class="item-stock"> IOBA0002914</td>
			<td class="item-qty">NON-MICR</td>
			<td class="item-price">002914</td>
			<td class="item-price">D No.2/55, Nasrullabad, Birkur Mandal, Nizamabad.</td>
			<td class="item-price"></td>
		</tr>
		</tbody>
		</table>
		</head>
		</html>
