
<h1>State Bank of Hyderabad(SBH)</h1>
<h4>
	<b>SBH Branches in Nizamabad</b>
</h4>
<table class="center">
	<thead>
		<tr align="center">
			<th scope="col">Branch Name</th>
			<th scope="col">IFSC Code</th>
			<th scope="col">MICR Code</th>
			<th scope="col">Branch Code</th>
			<th scope="col">Branch Address</th>
			<th scope="col">Contact</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>K.N.A.R Estate Godown Road, Nizamabad</td>
			<td class="item-stock">SBHY0020108</td>
			<td class="item-qty">503004002</td>
			<td class="item-price">020108</td>
			<td class="item-price">D.NO.7 - 9 - 882/1 - 4 , K.N.A.R Estate
				Godown Road, Nizamabad</td>
			<td>Phone 232334, Mobile No.8462231457,
				email:nizamabadmain@sbhyd.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>New Gunj, Nizamabad</td>
			<td class="item-stock">SBHY0020310</td>
			<td class="item-qty">503004003</td>
			<td class="item-price">020310</td>
			<td class="item-price">New Gunj, Nizamabad</td>
			<td>Phone 224344, Mobile No.8462220934, email:dubba@sbhyd.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Subash Nagar, Nizamabad</td>
			<td class="item-stock">SBHY0020376</td>
			<td class="item-qty">503004006</td>
			<td class="item-price">020376</td>
			<td class="item-price">Subash Nagar, Nizamabad</td>
			<td>Phone 240384, Mobile No.8462237376,
				email:subashnagar@sbhyd.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Ahmedpura, Nizamabad</td>
			<td class="item-stock">SBHY0020723</td>
			<td class="item-qty">503004004</td>
			<td class="item-price">020723</td>
			<td class="item-price">D.NO.9-3-238, Quilla Road Near Ek Minar
				Masjid, Ahmedpura, Nizamabad</td>
			<td>Phone 225549, Mobile No.8462224745,
				email:ahmedpura_nzb@sbhyd.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Arsapally, Nizamabad</td>
			<td class="item-stock">SBHY0020873</td>
			<td class="item-qty">503004009</td>
			<td class="item-price">020873</td>
			<td class="item-price">D.NO.9-20-140/10, Plot No. A/5,
				Autonagar, Arsapally, Nizamabad</td>
			<td><strong class="book-title"></strong> Mobile No.8462225456,
				email:arsapally@sbhyd.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Vinayak Nagar, Nizamabad</td>
			<td class="item-stock">SBHY0020881</td>
			<td class="item-qty">503004007</td>
			<td class="item-price">020881</td>
			<td class="item-price">D.NO.1-1-8/1, Mythri sadan, Htderabad
				Road, Vinayak Nagar, Nizamabad</td>
			<td><strong class="book-title"></strong>Phone No.236015 Mobile
				No.8462234881, email: vinayaknagar@sbhyd.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Pragathi Bhavan, Nizamabad</td>
			<td class="item-stock">SBHY0020961</td>
			<td class="item-qty">503004005</td>
			<td class="item-price">020961</td>
			<td class="item-price">Pragathi Bhavan, NTR X Road, Nizamabad</td>
			<td><strong class="book-title"></strong>Phone No.236015 Mobile
				No.8462255247, email: pragathibhavan@sbhyd.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Gangastan, Nizamabad</td>
			<td class="item-stock">SBHY0020996</td>
			<td class="item-qty">503004010</td>
			<td class="item-price">020996</td>
			<td class="item-price">D.NO.11-1-943/4, Phase 1, Gangastan,
				Armoor Road, Nizamabad</td>
			<td><strong class="book-title"></strong>Phone No.230231</td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>KNAR Estates, Nizamabad</td>
			<td class="item-stock">SBHY0021085</td>
			<td class="item-qty">503004123</td>
			<td class="item-price">021085</td>
			<td class="item-price">KNAR Estates, Godown Road, Nizamabad</td>
			<td><strong class="book-title"></strong>Phone No.252518</td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Khanapur, Nizamabad</td>
			<td class="item-stock">SBHY0021530</td>
			<td class="item-qty">NON-MICR</td>
			<td class="item-price">021530</td>
			<td class="item-price">H.No 5-35/2, Khanapur village, opp Kisan
				Munnuru Kapu Sangam, Nizamabad</td>
			<td><strong class="book-title"></strong>Phone No.232744</td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong> Devanpally, Nizamabad</td>
			<td class="item-stock">SBHY0021539</td>
			<td class="item-qty">NON-MICR</td>
			<td class="item-price">021539</td>
			<td class="item-price">H.No 4/74 2c, Devanpally, Nizamabad</td>
			<td><strong class="book-title"></strong></td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Kondapur, Nizamabad</td>
			<td class="item-stock">SBHY0021632</td>
			<td class="item-qty">NON-MICR</td>
			<td class="item-price">021602</td>
			<td class="item-price">New Bus stand, Kondapur, Nizamabad</td>
			<td class="item-price">Phone No.245632</td>
		</tr>
	</tbody>
</table>

<h4>
	<b>SBH Branches in Bodhan</b>
</h4>
<table>
	<thead>
		<tr align="center">
			<th scope="col">Branch Name</th>
			<th scope="col">IFSC Code</th>
			<th scope="col">MICR Code</th>
			<th scope="col">Branch Code</th>
			<th scope="col">Branch Address</th>
			<th scope="col">Contact</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Bodhan</td>
			<td class="item-stock">SBHY0020109</td>
			<td class="item-qty">503004185</td>
			<td class="item-price">020109</td>
			<td class="item-price">D.NO.4-2-6, Factory Area,Bodhan</td>
			<td>Phone 223507, Mobile No.8467222007, email:bodhan@sbhyd.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Satapur, Bodhan</td>
			<td class="item-stock">SBHY0020510</td>
			<td class="item-qty">503004237</td>
			<td class="item-price">020510</td>
			<td class="item-price">Gram Panchayat Building 2-95, Satapur,
				Bodhan</td>
			<td>Mobile No.8467279117, email:sattapur@sbhyd.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Subash Nagar, Nizamabad</td>
			<td class="item-stock">SBHY0020533</td>
			<td class="item-qty">503004069</td>
			<td class="item-price">020533</td>
			<td class="item-price">H No.5-33, Salora, Bodhan</td>
			<td>Mobile No.8467259224, 9848564089 email:salora@sbhyd.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Ahmedpura, Nizamabad</td>
			<td class="item-stock">SBHY0020560</td>
			<td class="item-qty">503004322</td>
			<td class="item-price">020560</td>
			<td class="item-price">D.NO.2-86, Thanakalan, Bodhan</td>
			<td>Mobile No.8462224745, email:thanakalan@sbhyd.co.in</td>
		</tr>
	</tbody>
</table>

<h4>
	<b>SBH Branches in Kamareddy</b>
</h4>
<table>
	<thead>
		<tr align="center">
			<th scope="col">Branch Name</th>
			<th scope="col">IFSC Code</th>
			<th scope="col">MICR Code</th>
			<th scope="col">Branch Code</th>
			<th scope="col">Branch Address</th>
			<th scope="col">Contact</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Kamareddy</td>
			<td class="item-stock">SBHY0020111</td>
			<td class="item-qty">503004113</td>
			<td class="item-price">020111</td>
			<td class="item-price">D.NO.4-2-6, Kamareddy</td>
			<td>Phone 222609, Fax 222715 Mobile No.8468225977,
				email:kamareddy@sbhyd.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Yerrapahad, Kamareddy</td>
			<td class="item-stock">SBHY0020480</td>
			<td class="item-qty">503004120</td>
			<td class="item-price">020480</td>
			<td class="item-price">Yerrapahad, Kamareddy</td>
			<td>Mobile No.8468250310, email:yerrapahad@sbhyd.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Reddypet, Kamareddy</td>
			<td class="item-stock">SBHY0020509</td>
			<td class="item-qty">503004039</td>
			<td class="item-price">020509</td>
			<td class="item-price">H No.7-123, Reddypet, Kamareddy</td>
			<td>Mobile No.8468255367 email:reddipet@sbhyd.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Indiranagar, Kamareddy</td>
			<td class="item-stock">SBHY0020835</td>
			<td class="item-qty">503004115</td>
			<td class="item-price">020835</td>
			<td class="item-price">D.NO.5-3-134/293, Indiranagar, Kamareddy</td>
			<td>Mobile No.8468229412, email:indiranagar@sbhyd.co.in</td>
		</tr>
	</tbody>
</table>

<h4>
	<b>SBH Branches in Banswada</b>
</h4>
<table>
	<thead>
		<tr align="center">
			<th scope="col">Branch Name</th>
			<th scope="col">IFSC Code</th>
			<th scope="col">MICR Code</th>
			<th scope="col">Branch Code</th>
			<th scope="col">Branch Address</th>
			<th scope="col">Contact</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Banswada</td>
			<td class="item-stock">SBHY0020112</td>
			<td class="item-qty">503004187</td>
			<td class="item-price">020112</td>
			<td class="item-price">D.NO.1-1-47/1, Banswada</td>
			<td>Phone 227741, Mobile No.8466227041,
				email:banswada@sbhyd.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Chandur, Banswada</td>
			<td class="item-stock">SBHY0020368</td>
			<td class="item-qty">503004206</td>
			<td class="item-price">020368</td>
			<td class="item-price">Chandur, Banswada</td>
			<td>Mobile No.8467238403, email:chandur_nzb@sbhyd.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Nizamsagar, Banswada</td>
			<td class="item-stock">SBHY0020552</td>
			<td class="item-qty">503004453</td>
			<td class="item-price">020552</td>
			<td class="item-price">H No.1-14, Nizamsagar, Banswada</td>
			<td>Mobile No.8465275539 email:nizamsagar@sbhyd.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Pulkal, Banswada</td>
			<td class="item-stock">SBHY0020558</td>
			<td class="item-qty">503004308</td>
			<td class="item-price">020558</td>
			<td class="item-price">D.NO.4-40, pulkal, Banswada</td>
			<td>Mobile No.8464240140, email:pulkal@sbhyd.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Mirzapur, Banswada</td>
			<td class="item-stock">SBHY0020559</td>
			<td class="item-qty">503004144</td>
			<td class="item-price">020559</td>
			<td class="item-price">D.NO.3-4, Mirzapur, Banswada</td>
			<td>Mobile No.8463277941, email:rythunagar@sbhyd.co.in</td>
		</tr>
	</tbody>
</table>

<h4>
	<b>SBH Branches in Armoor</b>
</h4>
<table>
	<thead>
		<tr align="center">
			<th scope="col">Branch Name</th>
			<th scope="col">IFSC Code</th>
			<th scope="col">MICR Code</th>
			<th scope="col">Branch Code</th>
			<th scope="col">Branch Address</th>
			<th scope="col">Contact</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>M.G Road, Armoor</td>
			<td class="item-stock">SBHY0020110</td>
			<td class="item-qty">503004224</td>
			<td class="item-price">020110</td>
			<td class="item-price">M.G Road, Armoo</td>
			<td>Phone 221342, Mobile No.8463222228, Fax.225528,
				email:armoor@sbhyd.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Mortad, Armoor</td>
			<td class="item-stock">SBHY0020268</td>
			<td class="item-qty">503004223</td>
			<td class="item-price">020268</td>
			<td class="item-price">Mortad, Armoor Taluk</td>
			<td>Phone 289979, Mobile No.8463288524, email:mortad@sbhyd.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Bheemgal, Armoor</td>
			<td class="item-stock">SBHY0020374</td>
			<td class="item-qty">503004307</td>
			<td class="item-price">020374</td>
			<td class="item-price">Bheemgal, Armoor</td>
			<td>Phone 239100, Mobile No.8463238443
				email:bheemgal@sbhyd.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Velpur, Armoor</td>
			<td class="item-stock">SBHY0020399</td>
			<td class="item-qty">503004311</td>
			<td class="item-price">020399</td>
			<td class="item-price">Velpur, Armoor Taluka</td>
			<td>Mobile No.8463275045, email:vailpur@sbhyd.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Khudavanpur, Armoor</td>
			<td class="item-stock">SBHY0020550</td>
			<td class="item-qty">503004312</td>
			<td class="item-price">020550</td>
			<td class="item-price">Khudavanpur, Armoor</td>
			<td>Mobile No.8463251524, email:khudavanpur@sbhyd.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Thorlikonda, Armoor</td>
			<td class="item-stock">SBHY0020562</td>
			<td class="item-qty">503004157</td>
			<td class="item-price">020562</td>
			<td class="item-price">Thorlikonda, Armoor</td>
			<td>Mobile No.8463228707, email:torlikonda@sbhyd.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Argul, Armoor</td>
			<td class="item-stock">SBHY0020574</td>
			<td class="item-qty">503004351</td>
			<td class="item-price">020574</td>
			<td class="item-price">Argul, Armoor</td>
			<td>Phone No.237237, Mobile No.8463257937,
				email:argul@sbhyd.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Vannel-B, Armoor</td>
			<td class="item-stock">SBHY0020592</td>
			<td class="item-qty">503004327</td>
			<td class="item-price">020592</td>
			<td class="item-price">H no.7-100, Vannel-B, Armoor</td>
			<td>Mobile No.8462259035, email:vennel_b@sbhyd.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Mendora, Armoor</td>
			<td class="item-stock">SBHY0020593</td>
			<td class="item-qty">503004211</td>
			<td class="item-price">020593</td>
			<td class="item-price">Mendora, Armoor</td>
			<td>Mobile No.8463252146, email:mendora@sbhyd.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Surbiriyal, Armoor</td>
			<td class="item-stock">SBHY0020737</td>
			<td class="item-qty">503004217</td>
			<td class="item-price">020737</td>
			<td class="item-price">H No. 2-101/3, Surbiriyal, Armoor</td>
			<td>Mobile No.8463248437, email:surbiriyal@sbhyd.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">State Bank of
					Hyderabad(SBH)</strong>Rajaram Nagar, Armoor</td>
			<td class="item-stock">SBHY0020894</td>
			<td class="item-qty">503004413</td>
			<td class="item-price">020894</td>
			<td class="item-price">Gupta Complex, Mahalaxmi colony, Rajaram Nagar, Armoor</td>
			<td>Mobile No.8463225319, email:armoor_rajaram@sbhyd.co.in</td>
		</tr>
	</tbody>
</table>









