<h1>Syndicate Bank</h1>
<h4>
	<b>Syndicate Banks in Nizamabad</b>
</h4>
<table class="center">
	<thead>
		<tr align="center">
			<th scope="col">Branch Name</th>
			<th scope="col">IFSC Code</th>
			<th scope="col">MICR Code</th>
			<th scope="col">Branch Code</th>
			<th scope="col">Branch Address</th>
			<th scope="col">Contact</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong class="book-title">Syndicate Bank</strong>Devi Road, Nizamabad</td>
			<td class="item-stock">SYNB0003510</td>
			<td class="item-qty">503025002</td>
			<td class="item-price">003510</td>
			<td class="item-price">D.NO.7-8-785, Devi Road, Nizamabad </td>
			<td>Phone: (08462) - 220585 222186, email:ap.3510nizam@syndicatebank.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">Syndicate Bank</strong>Bichkunda</td>
			<td class="item-stock">SYNB0003512</td>
			<td class="item-qty">503025502</td>
			<td class="item-price">003512</td>
			<td class="item-price">Door no 6-16/1, Main Road, Bichkunda</td>
			<td>Phone No.275652, email:ap.3512bichkunda@syndicatebank.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">Syndicate Bank</strong>Domakonda</td>
			<td class="item-stock">SYNB0003514</td>
			<td class="item-qty">503025103</td>
			<td class="item-price">003514</td>
			<td class="item-price">Main Road, Domakonda, Nizamabad</td>
			<td>Phone No.230226, email:ap.3514domkonda@syndicatebank.co.in/td>
		</tr>
		<tr>
			<td><strong class="book-title">Syndicate Bank</strong>Edapally</td>
			<td class="item-stock">SYNB0003516</td>
			<td class="item-qty">503025565</td>
			<td class="item-price">003516</td>
			<td class="item-price">Main Road, Edapally, Bodhan</td>
			<td>Phone No.274527, email:ap.3516edapalli@syndicatebank.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">Syndicate Bank</strong>Rudrur</td>
			<td class="item-stock">SYNB0003517</td>
			<td class="item-qty"></td>
			<td class="item-price"></td>
			<td class="item-price">Main Road, Rudrur, Bodhan</td>
			<td>Phone No.284030, email:ap.3517rudrur@syndicatebank.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">Syndicate Bank</strong>Rudrur</td>
			<td class="item-stock">SYNB0003517</td>
			<td class="item-qty">503025105</td>
			<td class="item-price">003517</td>
			<td class="item-price">Main Road, Rudrur, Bodhan</td>
			<td>Phone No.284030, email:ap.3517rudrur@syndicatebank.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">Syndicate Bank</strong>varni</td>
			<td class="item-stock">SYNB0003519</td>
			<td class="item-qty">503025104</td>
			<td class="item-price">003519</td>
			<td class="item-price">Main Road, Varni, Bodhan</td>
			<td>Phone No.281132, email:ap.3519varni@syndicatebank.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">Syndicate Bank</strong>Donkeshwar</td>
			<td class="item-stock">SYNB0003521</td>
			<td class="item-qty">503025602</td>
			<td class="item-price">003521</td>
			<td class="item-price">Donkeshwar, Armoor</td>
			<td>Phone No.247036, email:ap.3521dnkeshwar@syndicatebank.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">Syndicate Bank</strong>Aloor</td>
			<td class="item-stock">SYNB0003523</td>
			<td class="item-qty">503025603</td>
			<td class="item-price">003523</td>
			<td class="item-price">Main Road, Aloor</td>
			<td>Phone No.256830, email:ap.3523aloor@syndicatebank.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">Syndicate Bank</strong>Durki</td>
			<td class="item-stock">SYNB0003526</td>
			<td class="item-qty">503025303</td>
			<td class="item-price">003526</td>
			<td class="item-price">Main Road, Durki</td>
			<td>Phone No.226008, email:ap.3526durki@syndicatebank.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">Syndicate Bank</strong>Bodhan</td>
			<td class="item-stock">SYNB0003511</td>
			<td class="item-qty"> 503025106</td>
			<td class="item-price">003511</td>
			<td class="item-price">Near Sharbathi canal, Main Road, Bodhan</td>
			<td>Phone No.222281 222037 , email:ap.3511bodhan@syndicatebank.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">Syndicate Bank</strong>Banswada</td>
			<td class="item-stock">SYNB0003513</td>
			<td class="item-qty"> 503025302</td>
			<td class="item-price">003513</td>
			<td class="item-price">Main Road, Banswada</td>
			<td>Phone No.227062 , email:ap.3513banswara@syndicatebank.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">Syndicate Bank</strong>Armoor</td>
			<td class="item-stock">SYNB0003538</td>
			<td class="item-qty"> 503025202</td>
			<td class="item-price">003538</td>
			<td class="item-price">Plot no 1,Sy no 7879,Mamadipally, Nizamabad</td>
			<td></td>
		</tr>
		<tr>
			<td><strong class="book-title">Syndicate Bank</strong>Kamareddy</td>
			<td class="item-stock">SYNB0003520</td>
			<td class="item-qty"> 503025102</td>
			<td class="item-price">003520</td>
			<td class="item-price">Gunj Road, Kamareddy, Nizamabad, TG</td>
			<td>Phone No.222771, 220098, email:ap.3520kamreddy@syndicatebank.co.in</td>
		</tr>
		<tr>
			<td><strong class="book-title">Syndicate Bank</strong>Yellareddy</td>
			<td class="item-stock">SYNB0003525</td>
			<td class="item-qty"> 503025112</td>
			<td class="item-price">003525</td>
			<td class="item-price">Pothangal, Gandhari Mandal, Yellareddy</td>
			<td>Phone No.278306 , email:ap.3525pothangal@syndicatebank.co.in</td>
		</tr>
	</tbody>
</table>





