<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Clubs</span>
	</h2>
	<div class="thumbnails recentworks row">

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/entertainement/clubs/club3.png" alt="subash"
						height=200px width=200px></span>
			</div>
			<span class="title">Subash club</span> </a>
			<h4></h4>
			<p class="text-center">subhas Nagar, Nizamabad, Telangana.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/entertainement/clubs/club3.png" alt="kings"
						height=200px width=200px></span>
			</div>
			<span class="title">Kings Club</span> </a>
			<h4></h4>
			<p class="text-center">Nizamabad, Telangana .</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/entertainement/clubs/club3.png" alt="Nizamabad Officers Club"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Nizamabad Officers Club</span> </a>
			<h4></h4>
			<p class="text-center">Nizamabad, Telangana .</p>
		</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/entertainement/clubs/club3.png" alt="Ladies Club"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Ladies Club</span> </a>
			<h4></h4>
			<p class="text-center">Bal Bavan, Nizamabad, Telangana .</p>
		</div>
	</div>
</div>