<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Sports Shops</span>
	</h2>
	<div class="thumbnails recentworks row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/entertainement/sports/sports.jpg" alt="Danesh sports"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Danesh Sports World</span> </a>
			<h4></h4>
			<p class="text-center">5-7-189, opp:Haricharan school, RP road,
				Nizamabad. Phone no:+(91)-8462-221903.</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/entertainement/sports/sports.jpg" alt="B2 sports"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">B2 Sports</span> </a>
			<h4></h4>
			<p class="text-center">Khaleelwadi, Beside SAI mess, opp:bus
				stand, Nizamabad. Mobile no:+(91)-9494893632.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/entertainement/sports/sports.jpg" alt="Kavitha Sports"
						height=200px width=200px></span>
			</div>
			<span class="title">Kavita Sports World</span> </a>
			<h4></h4>
			<p class="text-center">Beside Railway station, Godown road,
				Nizamabad. Phone no:+(91)-8462-232474.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/entertainement/sports/sports.jpg" alt="United sports"
						height=200px width=200px></span>
			</div>
			<span class="title">United Sports</span> </a>
			<h4></h4>
			<p class="text-center">Shp no:15, Thilak Garden complex,
				Nizamabad. Mobile no:+(91)-9346251692.</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/entertainement/sports/sports.jpg" alt="sports World"
						height=200px width=200px></span>
			</div>
			<span class="title">Sports World</span> </a>
			<h4></h4>
			<p class="text-center">
				NZB press club, Nizamabad.<br> Mobile no:+(91)-9848012822,
				8686184234.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/entertainement/sports/sports.jpg" alt="sindhu Shirisha"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Sindhu Shirisha</span> </a>
			<h4></h4>
			<p class="text-center">Goutham Nagar, Gouraram, Nizamabad. Mobile
				no:+(91)-9493414125.</p>
		</div>
	</div>
</div>