table.center {
    margin-left:auto; 
    margin-right:auto;
  }
 ul{
        padding: 0;
        list-style: none;
    }
    ul li{
        float: left;
        width: 130px;
        text-align: center;
        line-height: 25px;
    }
    ul li a{
        display: block;
        padding: 5px 10px;
        color:  #7A7373;
        background: ;
        text-decoration: none;
    }
    ul li a:hover{
        color: green;
        background:green  ;'use strict';
    }
    ul li ul{
        display: ;
    }
    ul li:hover ul{
        display: block; /* display the dropdown */
    }

html {
	font-size: 100%;
}

#c1,#c2,#c3 {
	width: 33%;
	//
	1/3
	of
	100%
}
/* image rotate */
/*fivera blur*/
.imgr {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.imgr:hover {
  -webkit-transform: rotate(-15deg);
     -moz-transform: rotate(-15deg);
       -o-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
          transform: rotate(-15deg);
}
body {
	font-size: 15px;
	font-size: 0.9375rem;
	font-family: "Open sans", Helvetica, Arial, sans-serif;
	color: black;
	padding: 0;
}

.imge {
	height: 200px;
	width: 310px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.imge:hover {
	width: 180px;
	height: 180px;
}

/* just some  styling*/
body {
	text-align: center;
}

/* heart div class - in html i used just a simple html simbol entity for heart sign, you can use text or whatever u want*/
.heart {
	font-size: 150px;
	color: #e00;
	animation: beat .35s infinite alternate;
	transform-origin: center;
}

/* Heart beat animation */
@
keyframes beat {to { transform:scale(1.4);
	
}

}
 
we are using prefix free for this example

for prefixed code it would look like this

/* 
bodyy {
	text-align: center;
}


.heart {
	font-size: 150px;
	color: #e00;

	-webkit-animation: beat .5s infinite alternate;
	-moz-animation: beat .5s infinite alternate;
	-ms-animation: beat .5s infinite alternate;
	-o-animation: beat .5s infinite alternate;
	animation: beat .5s infinite alternate;

	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-o-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
}


@keyframes "beat" {
 to {
    -webkit-transform: scale(1.4);
   	-moz-transform: scale(1.4);
   	-o-transform: scale(1.4);
   	-ms-transform: scale(1.4);
   	transform: scale(1.4);
 }

}

@-moz-keyframes beat {
 to {
   -moz-transform: scale(1.4);
   transform: scale(1.4);
 }

}

@-webkit-keyframes "beat" {
 to {
   -webkit-transform: scale(1.4);
   transform: scale(1.4);
 }

}

@-ms-keyframes "beat" {
 to {
   -ms-transform: scale(1.4);
   transform: scale(1.4);
 }

}

@-o-keyframes "beat" {
 to {
   -o-transform: scale(1.4);
   transform: scale(1.4);
 }

}  */
//
Enlarge image

.imgee {
	height: 200px;
	width: 200px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.imgee:hover {
	width: 220px;
	height: 220px;
}

//
tilt image on hover
.imgeee {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.imgeee:hover {
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	transform: rotate(-15deg);
}


/*fivera rotate*/
.imgsp {
  -webkit-transition: all 0.8s ease;
     -moz-transition: all 0.8s ease;
       -o-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
          transition: all 0.8s ease;
}
 
.imgsp:hover {
  
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}


/* New */

body {
 background: #303335;
}

#images-box {
    /* The total width of the image-box, mainly for centering */
 
 
    position: relative;
    top: 15px;
}
 
.image-lightbox img {
    /* Inherit the width and height from the parent element */
    width: inherit;
    height: inherit;
}
 
.holder {
    /* The width and height, you can change these */
    width: 250px;
    height: 166px;
    /* Float left, so everything aligns right */
    float: left;
    margin: 0 0px 0 0;
}
 
.image-lightbox {
    /* Inherit width and height from the .holder */
    width: inherit;
    height: inherit;
    padding: 10px;
    /* Box shadow */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    background: #fff;
    border-radius: 5px;
    /* Position absolutely so we can zoom it out later */
    position: absolute;
    top: 0;
    font-family: Arial, sans-serif;
    /* Transitions to provide some eye candy */
    -webkit-transition: all ease-in 0.5s;
    -moz-transition: all ease-in 0.5s;
    -ms-transition: all ease-in 0.5s;
    -o-transition: all ease-in 0.5s;
}
 
.image-lightbox span {
    display: none;
}
 
.image-lightbox .expand {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
 
.image-lightbox .close {
    position: absolute;
    width: 20px; height: 20px;
    right: 20px; top: 20px;
}
 
.image-lightbox .close a {
    height: auto; width: auto;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    background: #22272c;
    box-shadow: inset 0px 24px 20px -15px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0,0,0,0.4), 0px 0px 30px rgba(255,255,255,0.4);
    border-radius: 5px;
    font-weight: bold;
    float: right;
}
 
.close a:hover {
    box-shadow: inset 0px -24px 20px -15px rgba(255, 255, 255, 0.01), inset 0px 0px 10px rgba(0,0,0,0.4), 0px 0px 20px rgba(255,255,255,0.4);
}
 
div[id^=image]:target {
    width: 450px;
    height: 300px;
    z-index: 5000;
    top: 1px;
    left: 25px;
}
div[id^=image]:target .close {
    display: block;
}
 
div[id^=image]:target .expand {
    display: none;
}
 


//
tilt image on hover
.imgeeee {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.imgeeee:hover {
	-webkit-transform: rotate(+10deg);
	-moz-transform: rotate(+10deg);
	-o-transform: rotate(+10deg);
	-ms-transform: rotate(+10deg);
	transform: rotate(+10deg);
}

.span5 {
	float: left
	text-align: center;
	padding: 0px 0px;
	font-size: 18px
}

.topspace {
	margin-top: 40px;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background: transparent url(../images/hover.gif) repeat;
	font: 14px/1.3 Arial, sans-serif;
}

header {
	background-color: #212121;
	box-shadow: 0 -1px 2px #111111;
	color: #fff;
	display: block;
	height: 70px;
	position: relative;
	width: 100%;
	z-index: 100;
}

header h2 {
	font-size: 22px;
	font-weight: normal;
	left: 50%;
	margin-left: -400px;
	padding: 22px 0;
	position: absolute;
	width: 540px;
}

header a.stuts,a.stuts:visited {
	border: none;
	text-decoration: none;
	color: #fcfcfc;
	font-size: 14px;
	left: 50%;
	line-height: 31px;
	margin: 23px 0 0 110px;
	position: absolute;
	top: 0;
}

header .stuts span {
	font-size: 22px;
	font-weight: bold;
	margin-left: 5px;
}

.photos {
	width: 1024px;
	height: 200px;
	margin: 100px auto;
	position: relative;
}

.photos>div {
	background-color: rgba(128, 128, 128, 0.5);
	border: 2px solid #444;
	float: left;
	height: 100px;
	margin: 5px;
	overflow: hidden;
	position: relative;
	width: 300px;
	z-index: 1;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.photos>div img {
	width: 100%;
}

.photos>div:hover {
	z-index: 10;
	-webkit-transform: scale(2.0);
	-moz-transform: scale(2.0);
	-ms-transform: scale(2.0);
	-o-transform: scale(2.0);
	transform: scale(2.0);
}

.photos>div div {
	background: url(../images/hover.gif) repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 100%;
	left: 0;
	opacity: 0.5;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 15;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.photos>div:nth-child(1):hover div {
	height: 0%;
}

.photos>div:nth-child(2):hover div {
	height: 0%;
	margin-top: 100px;
}

.photos>div:nth-child(3):hover div {
	width: 0%;
}

.photos>div:nth-child(4):hover div {
	margin-left: 300px;
	width: 0%;
}

.photos>div:nth-child(5):hover div {
	height: 0%;
	margin-left: 150px;
	margin-top: 50px;
	width: 0%;
}

.photos>div:nth-child(6):hover div {
	margin-left: 150px;
	width: 0%;
}

.photos>div:nth-child(7):hover div {
	height: 0%;
	margin-left: 150px;
	margin-top: 50px;
	width: 0%;
	-webkit-transform: rotateX(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(-360deg);
	transform: rotate(-360deg);
}

.photos>div:nth-child(8):hover div {
	height: 0%;
	margin-left: 150px;
	margin-top: 50px;
	width: 0%;
	-webkit-transform: rotateZ(600deg);
	-moz-transform: rotateZ(600deg);
	-ms-transform: rotateZ(600deg);
	-o-transform: rotateZ(600deg);
	transform: rotateZ(600deg);
}

.photos>div.pair div {
	width: 50%;
}

.photos>div.pair div:nth-child(odd) {
	margin-left: 150px;
}

.photos>div.pair:hover div {
	width: 0%;
}

.photos>div.pair:hover div:nth-child(odd) {
	margin-left: 300px;
}

/*********************************************************************
 

                                TYPOGRAPHY


**********************************************************************/
.tilt {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.tilt:hover {
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	transform: rotate(-10deg);
}

.focus {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.focus:hover {
	border: 10px solid #000;
	border-radius: 2%;
}

p {
	line-height: 1.6em;
	margin: 0 0 30px 0;
}

ul,ol {
	line-height: 1.6em;
	margin: 0 0 30px 0;
}

blockquote {
	padding: 10px 20px;
	margin: 0 0 30px;
	border-left: 5px solid #eee;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family: "Open sans", Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: #333333;
}

h1 {
	font-size: 40px;
	font-size: 2.5rem;
}

h2 {
	font-size: 36px;
	font-size: 2.25rem;
}

h3 {
	font-size: 30px;
	font-size: 1.875rem;
}

h4 {
	font-size: 24px;
	font-size: 1.5rem;
}

h5 {
	font-size: 20px;
	font-size: 1.25rem;
}

a {
	color: #bd1550;
}

a:hover {
	color: #e93675;
}

.lead {
	font-weight: 300;
	font-size: 21px;
	font-size: 1.3125rem;
}

.text-msg {
	line-height: 1.7em;
	color: #b3b3b3;
	font-weight: 300;
	text-transform: capitalize;
	margin-top: -0.23em;
}

.size-auto,.size-full,.size-large,.size-medium,.size-thumbnail {
	max-width: 100%;
	height: auto;
}
/*********************************************************************
 

                                HEADER


**********************************************************************/
#head {
	background: #f4f4f4 url(../images/bg_head.jpg) top center;
	background-size: cover;
	color: #7C7C7C;
	padding: 30px 0 35px 0;
}

#head img.img-circle {
	display: block;
	width: 140px;
	height: 140px;
	overflow: hidden;
	border: 9px solid rgba(0, 0, 0, 0.05);
	margin: 0 auto;
}

#head .title {
	font-family: Alice, Georgia, serif;
	font-size: 49px;
	font-size: 3.0625rem;
}

#head .title a {
	text-decoration: none;
	color: #333333;
}

#head .tagline {
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.2em;
	color: #7C7C7C;
	margin: 5px 0 0;
}

#head .tagline b {
	font-weight: normal;
}

#head .tagline a {
	color: #5E5E5E;
}

.home #head {
	padding: 90px 0;
}

.home #head .title {
	font-size: 49px;
	font-size: 3.0625rem;
}

.home #head .tagline {
	font-size: 16px;
	font-size: 1rem;
	margin: 15px 0 0;
}

.grid {
	padding: 20px 20px 100px 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 440px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #2c3f52;
	color: #ed4e6e;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.grid figcaption span:before {
	content: 'by ';
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}

/* Individual Caption Styles */

/* Caption Style 1 */
.cs-style-1 figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	text-align: center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.no-touch .cs-style-1 figure:hover figcaption,.cs-style-1 figure.cs-hover figcaption
	{
	opacity: 1;
	-webkit-transform: translate(15px, 15px);
	-moz-transform: translate(15px, 15px);
	-ms-transform: translate(15px, 15px);
	transform: translate(15px, 15px);
}

.cs-style-1 figcaption h3 {
	margin-top: 70px;
}

.cs-style-1 figcaption span {
	display: block;
}

.cs-style-1 figcaption a {
	margin-top: 30px;
}

/* Caption Style 2 */
.cs-style-2 figure img {
	z-index: 10;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-2 figure:hover img,.cs-style-2 figure.cs-hover img {
	-webkit-transform: translateY(-90px);
	-moz-transform: translateY(-90px);
	-ms-transform: translateY(-90px);
	transform: translateY(-90px);
}

.cs-style-2 figcaption {
	height: 90px;
	width: 100%;
	top: auto;
	bottom: 0;
}

.cs-style-2 figcaption a {
	position: absolute;
	right: 20px;
	top: 30px;
}

/* Caption Style 3 */
.cs-style-3 figure {
	overflow: hidden;
}

.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,.cs-style-3 figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.cs-style-3 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,.cs-style-3 figure.cs-hover figcaption
	{
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

/* Caption Style 4 */
.cs-style-4 li {
	-webkit-perspective: 1700px;
	-moz-perspective: 1700px;
	perspective: 1700px;
	-webkit-perspective-origin: 0 50%;
	-moz-perspective-origin: 0 50%;
	perspective-origin: 0 50%;
}

.cs-style-4 figure {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.cs-style-4 figure>div {
	overflow: hidden;
}

.cs-style-4 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-4 figure:hover img,.cs-style-4 figure.cs-hover img {
	-webkit-transform: translateX(25%);
	-moz-transform: translateX(25%);
	-ms-transform: translateX(25%);
	transform: translateX(25%);
}

.cs-style-4 figcaption {
	height: 100%;
	width: 50%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-4 figure:hover figcaption,.cs-style-4 figure.cs-hover figcaption
	{
	opacity: 1;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-4 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

/* Caption Style 5 */
.cs-style-5 figure img {
	z-index: 10;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-5 figure:hover img,.cs-style-5 figure.cs-hover img {
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	-ms-transform: scale(0.4);
	transform: scale(0.4);
}

.cs-style-5 figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	-moz-transition: -moz-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

.no-touch .cs-style-5 figure:hover figcaption,.cs-style-5 figure.cs-hover figcaption
	{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.cs-style-5 figure a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

/* Caption Style 6 */
.cs-style-6 figure img {
	z-index: 10;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-6 figure:hover img,.cs-style-6 figure.cs-hover img {
	-webkit-transform: translateY(-50px) scale(0.5);
	-moz-transform: translateY(-50px) scale(0.5);
	-ms-transform: translateY(-50px) scale(0.5);
	transform: translateY(-50px) scale(0.5);
}

.cs-style-6 figcaption {
	height: 100%;
	width: 100%;
}

.cs-style-6 figcaption h3 {
	margin-top: 60%;
}

.cs-style-6 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

/* Caption Style 7 */
.cs-style-7 li:first-child {
	z-index: 6;
}

.cs-style-7 li:nth-child(2) {
	z-index: 5;
}

.cs-style-7 li:nth-child(3) {
	z-index: 4;
}

.cs-style-7 li:nth-child(4) {
	z-index: 3;
}

.cs-style-7 li:nth-child(5) {
	z-index: 2;
}

.cs-style-7 li:nth-child(6) {
	z-index: 1;
}

.cs-style-7 figure img {
	z-index: 10;
}

.cs-style-7 figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
	-moz-transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
	transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
	box-shadow: 0 0 0 0px #2c3f52;
}

.no-touch .cs-style-7 figure:hover figcaption,.cs-style-7 figure.cs-hover figcaption
	{
	opacity: 1;
	height: 130%;
	box-shadow: 0 0 0 10px #2c3f52;
}

.cs-style-7 figcaption h3 {
	margin-top: 86%;
}

.cs-style-7 figcaption h3,.cs-style-7 figcaption span,.cs-style-7 figcaption a
	{
	opacity: 0;
	-webkit-transition: opacity 0s;
	-moz-transition: opacity 0s;
	transition: opacity 0s;
}

.cs-style-7 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.no-touch .cs-style-7 figure:hover figcaption h3,.no-touch .cs-style-7 figure:hover figcaption span,.no-touch .cs-style-7 figure:hover figcaption a,.cs-style-7 figure.cs-hover figcaption h3,.cs-style-7 figure.cs-hover figcaption span,.cs-style-7 figure.cs-hover figcaption a
	{
	-webkit-transition: opacity 0.3s 0.2s;
	-moz-transition: opacity 0.3s 0.2s;
	transition: opacity 0.3s 0.2s;
	opacity: 1;
}

@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}

/*********************************************************************
 

                            NAVBAR (in header)


**********************************************************************/
.navbar {
	border-width: 0 0;
	-webkit-border-radius: 0;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 0;
	-moz-background-clip: padding;
	border-radius: 0;
	background-clip: padding-box;
	width: 100%;
}

.navbar.stick {
	position: fixed;
	top: 0;
	left: 0;
	opacity: .85;
}

.navbar-collapse {
	-webkit-border-radius: 0;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 0;
	-moz-background-clip: padding;
	border-radius: 0;
	background-clip: padding-box;
	font-family: "Open sans", Helvetica, Arial, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}

.navbar-collapse .navbar-nav {
	float: none;
	margin: 0 auto;
	text-align: center;
}

.navbar-collapse .navbar-nav>li {
	float: none;
	display: inline-block;
}

.navbar-collapse .navbar-nav>li>a {
	padding: 20px 30px;
}

.dropdown ul.dropdown-menu {
	top: 85%;
	text-align: left;
}

.dropdown ul.dropdown-menu>li>a {
	padding: 5px 30px;
}

.navbar-default {
	background-color: #ffffff;
	border-color: #cccccc;
}

.navbar-default .navbar-nav>li>a {
	color: #454545;
}

.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus
	{
	color: #000000;
	background-color: #ffffff;
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus
	{
	color: #000000;
	background-color: #ffffff;
}

.navbar-default .dropdown ul.dropdown-menu>li>a {
	color: #454545;
}

.navbar-default .dropdown ul.dropdown-menu>li>a:hover {
	background-color: #eeeeee;
	color: #000000;
}

.navbar-default .navbar-toggle {
	border-color: #ff0000;
}

.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus
	{
	background-color: #008000;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #0000ff;
}

.navbar-default .navbar-collapse,.navbar-default .navbar-form {
	border-color: #cccccc;
}

.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus
	{
	background-color: #ffffff;
	color: #000000;
}
/****************************************************************************************


                                     Sidebar special Nav


*****************************************************************************************/
.nav-side {
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: 300;
	margin-top: -0.37em;
}

.nav-side>li>a {
	padding-top: 5px;
	padding-bottom: 5px;
	color: #f392b4;
}

.nav-side>li>a:hover {
	color: #bd1550;
	background: none;
}

.nav-side>li.active>a {
	color: #bd1550;
}
/*********************************************************************
 

                                CONTENT


**********************************************************************/
img {
	max-width: 100%;
}

.btn {
	font-size: 12px;
	font-size: 0.75rem;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	-webkit-border-radius: 0px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 0px;
	-moz-background-clip: padding;
	border-radius: 0px;
	background-clip: padding-box;
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	-ms-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
	border: 0 none;
	padding: 12px 35px;
	text-shadow: 0 1px 0px #780d33;
}

.box {
	width: 150px;
	border: 1px solid #9325BC;
	padding: 10px;
}

.box:hover {
	-moz-box-shadow: 0 0 10px #ccc;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
}

.imgBox {
	width: 191px;
	height: 191px;
	background: url(http://www.corelangs.com/css/box/img/duck.png) no-repeat;
}

.imgBox:hover {
	width: 191px;
	height: 191px;
	background: url(http://www.corelangs.com/css/box/img/peng.png) no-repeat;
}

.pic {
	width: 400px;
	height: 217px;
	background: url(http://www.corelangs.com/css/box/img/tiger.png)
		no-repeat;
}

.text {
	width: 340px;
	height: 217px;
	background: #FFF;
	opacity: 0;
}

.pic:hover .text {
	opacity: 0.6;
	text-align: justify;
	color: #000000;
	font-size: 20px;
	font-weight: 700;
	font-family: "Times New Roman", Times, serif;
	padding: 30px;
}

p.speech {
	position: relative;
	width: 200px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	background-color: #fff;
	border: 8px solid #666;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}

.btn-primary {
	color: #fff;
	background-color: #bd1550;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active
	{
	color: #fff;
	background-color: #e61f65;
}

.btn-action {
	font-weight: bold;
	background: transparent !important;
	border: 1px solid #333;
	text-shadow: none;
}

.btn-action:hover,.btn-action:focus,.btn-action:active,.btn-action.active
	{
	color: #3DBF24;
	border-color: #4DB71E;
}

.btn-lg {
	padding: 15px 60px;
	font-size: 12px;
	line-height: 1.33;
	font-weight: bold;
}

.panel-cta {
	box-shadow: 0 0 0 1px #e1e1e1, 0 0 0 3px #fff, 0 0 0 4px #e1e1e1;
	background: #f3f3f3;
	-webkit-border-radius: 0;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 0;
	-moz-background-clip: padding;
	border-radius: 0;
	background-clip: padding-box;
}

.panel-cta p,.panel-cta h3,.panel-cta h4,.panel-cta h5,.panel-cta h6 {
	margin: 0;
}

.panel-cta .panel-body {
	padding: 35px;
}
/* Section - Featured */
.featured {
	font-size: 13px;
	font-size: 0.8125rem;
}

.featured h3 {
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-size: 1.5rem;
	text-transform: uppercase;
	line-height: 1.4em;
	vertical-align: middle;
	margin: 0 0 25px 0;
}
/* Section - Recent works */
.thumbnails {
	padding: 0;
}

.thumbnails li {
	margin-bottom: 30px;
}

.thumbnails .details {
	display: block;
	text-align: center;
	font-size: 12px;
	font-size: 0.75rem;
}

.thumbnail {
	display: block;
	-webkit-border-radius: 0;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 0;
	-moz-background-clip: padding;
	border-radius: 0;
	background-clip: padding-box;
	border: 0 none;
	margin-bottom: 10px;
	padding: 0;
	text-align: center;
	text-decoration: none;
	color: #333;
}

.thumbnail .img {
	display: block;
	width: 100%;
	overflow: hidden;
	height: 180px;
	margin: 0 0 20px;
	position: relative;
}

.thumbnail .title {
	text-transform: uppercase;
	margin: 0 2em;
	display: block;
	text-indent: 0;
}

.thumbnail .cover {
	position: absolute;
	display: block;
	opacity: 0;
	width: 100%;
	height: 180px;
	background-color: rgba(255, 255, 255, 0.8);
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	-ms-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 550ms;
	-moz-transition-duration: 550ms;
	-o-transition-duration: 550ms;
	transition-duration: 550ms;
}

.thumbnail .cover .more {
	position: absolute;
	bottom: 15px;
	right: 0;
	height: 32px;
	line-height: 32px;
	padding: 0 20px;
	-webkit-border-radius: 1px 0 0 1px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 1px 0 0 1px;
	-moz-background-clip: padding;
	border-radius: 1px 0 0 1px;
	background-clip: padding-box;
	font-size: 12px;
	font-size: 0.75rem;
	text-transform: uppercase;
	text-shadow: 0 1px 0px #780d33;
	background: #bd1550;
	color: white;
}

.thumbnail img {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.thumbnail:hover {
	color: #333;
	text-decoration: none;
}

.thumbnail:hover img {
	-webkit-filter: saturate(0%);
}

.thumbnail:hover .cover {
	opacity: 1;
}
/* Tourism Mouseovers */


/* pagination */
.pagination>li>a {
	color:/*fivera blur*/
img {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
img:hover {
  -webkit-transform: rotate(-15deg);
     -moz-transform: rotate(-15deg);
       -o-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
          transform: rotate(-15deg);
} ;
	border: 0 none;
	font-size: 20px;
	font-size: 1.25rem;
	font-family: Georgia, serif;
}

.pagination>li>a:hover {
	color: #000000;
	background: none;
}

.pagination>li.active>a {
	color: #333333;
	background: none;
}

.pagination>li.active>a:hover {
	color: #000000;
	background: none;
}
/*********************************************************************
 

                                 BLOG


**********************************************************************/
.section-title,.entry-title {
	display: block;
	width: 100%;
	overflow: hidden;
	margin: 0px 0 25px;
	text-align: center;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 36px;
	font-size: 2.25rem;
	letter-spacing: 1px;
}

.section-title a,.entry-title a {
	color: #333333;
}

.tilt {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.tilt:hover {
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	transform: rotate(-10deg);
}

.section-title span,.entry-title span {
	display: inline-block;
	position: relative;
}

.section-title span:before,.entry-title span:before,.section-title span:after,.entry-title span:after
	{
	content: "";
	position: absolute;
	height: 4px;
	top: .53em;
	width: 400%;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

.section-title span:before,.entry-title span:before {
	right: 100%;
	margin-right: 20px;
}

.section-title span:after,.entry-title span:after {
	left: 100%;
	margin-left: 20px;
}

.entry-header .entry-meta {
	text-align: center;
	font-family: Georgia, serif;
	font-size: 18px;
	font-size: 1.125rem;
	font-style: italic;
	font-weight: normal;
	color: #a5a5a5;
	margin: 0 0 15px 0;
}

.entry-header .entry-meta a {
	color: #a5a5a5;
}

.entry-content {
	margin: 0 0 60px 0;
}

.entry-content h2 {
	line-height: 1.2;
	font-size: 30px;
	font-size: 1.875rem;
	padding-top: 20px;
	margin-bottom: 20px;
}

.meta-nav,.more-link {
	font-family: Georgia, serif;
	font-style: italic;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
}

.meta-nav:hover,.more-link:hover {
	color: #333333;
	text-decoration: underline;
}

.more-link {
	display: block;
	width: 100%;
	text-align: right;
}
/* Posts navigation */
#nav-below {
	position: fixed;
	top: 48%;
}

#nav-below .meta-nav {
	display: block;
	padding: 27px 7px;
	background: #444;
	color: #fff;
	-webkit-border-radius: 3px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 3px;
	-moz-background-clip: padding;
	border-radius: 3px;
	background-clip: padding-box;
	font-family: "Open sans", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	opacity: 0.2;
}

#nav-below .meta-nav:hover {
	text-decoration: none;
	color: #333;
}

#nav-below .nav-next {
	position: fixed;
	right: -3px;
}

#nav-below .nav-previous {
	position: fixed;
	left: -3px;
}

#nav-below b {
	display: none;
}

footer.entry-meta {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 0 0 35px 0;
	padding: 2px 0;
	color: #888888;
	font-size: 12px;
	font-size: 0.75rem;
}

footer.entry-meta a {
	color: #333333;
}

footer.entry-meta .meta-in {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}

.page-header {
	padding-bottom: 0;
	margin: 0;
	border-bottom: none;
	text-align: left;
}

.page-header .page-title {
	margin-top: 0;
	margin-bottom: 30px;
}
/*********************************************************************
 

                                COMMENTS


**********************************************************************/
#comments {
	font-size: 13px;
	font-size: 0.8125rem;
}

#comments .comments-title {
	margin: 0 0 5px 0;
}

#comments .leave-comment {
	display: block;
	margin: 0 0 40px 0;
}

#comments ul,#comments ol {
	margin: 0;
	padding: 0;
}

#comments .comment {
	margin: 0;
	padding: 0;
	list-style: none;
	clear: both;
}

#comments .comments-title {
	text-shadow: none;
	margin-bottom: 0;
}

#comments .avatar {
	float: left;
	width: 70px;
	height: 70px;
	margin-bottom: 30px;
	border: 5px solid #eeeeee;
	-webkit-border-radius: 50%;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 50%;
	-moz-background-clip: padding;
	border-radius: 50%;
	background-clip: padding-box;
}

#comments .children {
	margin: 0 0 0 90px;
}

#comments .comment-meta {
	margin: 0 0 0 90px;
}

#comments .comment-meta a {
	color: #333333;
}

#comments .comment-meta a:hover {
	color: #bd1550;
}

#comments .comment-meta .author {
	margin: 0 20px 0 0;
	font-weight: bold;
}

#comments .comment-meta .date {
	margin: 0 20px 0 0;
}

#comments .comment-meta .date a {
	color: #666666;
}

#comments .comment-meta .reply {
	float: right;
}

#comments .comment-body {
	margin: 0 0 35px 90px;
}

.comment-navigation {
	width: 100%;
	border-top: 1px solid #ccc;
	padding: 2px 0 0 0;
}

.comment-navigation .nav-content {
	border-top: 1px solid #ccc;
	width: 100%;
	padding: 10px 0 0 0;
}

.comment-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next {
	float: right;
	width: 50%;
	text-align: right;
}

#respond {
	margin: 55px 0 0 0;
}
/*********************************************************************
 

                                FOOTER


**********************************************************************/
#footer {
	background: #232323;
	padding: 30px 0 0 0;
	font-size: 12px;
	color: #999;
}

#footer a {
	color: #ccc;
}

#footer a:hover {
	color: #fff;
}

#footer h3.widget-title {
	font-size: 15px;
	font-size: 0.9375rem;
	text-transform: uppercase;
	color: #ccc;
	margin: 0 0 20px;
}

#underfooter {
	background: #5CB990;
	padding: 15px 0;
	color: #F0E7E7;
	font-size: 12px;
}

#underfooter a {
	color: #F0E7E7;
}

#underfooter a:hover {
	color: #fff;
}

#underfooter p {
	margin: 0;
}

.follow-me-icons {
	font-size: 30px;
}

.follow-me-icons i {
	float: left;
	margin: 0 10px 0 0;
}

.header-bottom {
	padding-bottom: 30px;
	padding-top: 30px;
}

.header-middle .container .row {
	border-bottom: 1px solid #f5f5f5;
	margin-left: 0;
	margin-right: 0;
	padding-bottom: 20px;
	padding-top: 20px;
}

.header-middle .container .row .col-sm-4 {
	padding-left: 0;
}

.header-middle .container .row .col-sm-8 {
	padding-right: 0;
}

.header_top {
	background: none repeat scroll 0 0 white;
}

.header-middle {
	background: none repeat scroll 0 0  #5CB990;
}
/* Max page width
/////////////////////////////////////////////////////////////////////*/
@media ( min-width : 1200px) {
	.container {
		max-width: 1080px;
	}
}
//Onmouseover Helth 
.imgk {
  
  -webkit-transition: all 5s ease;
     -moz-transition: all 5s ease;
       -o-transition: all 5s ease;
      -ms-transition: all 5s ease;
          transition: all 5s ease;
}
 
 .imgk:hover {
 -webkit-filter: hue-rotate(333deg);

}

/* Tables */
table {
  border-collapse: separate;
  border-spacing: 0;
  color: #4a4a4d;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
th,
td {
  padding: 10px 15px;
  vertical-align: middle;
}
thead {
  background: #395870;
  color: #fff;
}
th:first-child {
  text-align: center;
}
tbody tr:nth-child(even) {
  background: #f0f0f2;
}
td {
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
}
td:first-child {
  border-left: 1px solid #cecfd5;
}
.book-title {
  color: #395870;
  display: block;
}
.item-stock,
.item-qty {
  text-align: center;
}
.item-price {
  text-align: right;
}
.item-multiple {
  display: block;
}
tfoot {
  text-align: right;
}
tfoot tr:last-child {
  background: #f0f0f2;
}

/* Divisions css */

/* HTML & CSS BOOK STYLE SHEET */
@charset "UTF-8";

/***************************/
/*       TYPOGRAPHY        */
/***************************/

@font-face {
    font-family: 'QuicksandBook';
    src: url('/fonts/Quicksand/Quicksand_Book-webfont.eot');
    src: url('/fonts/Quicksand/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Quicksand/Quicksand_Book-webfont.woff') format('woff'),
         url('/fonts/Quicksand/Quicksand_Book-webfont.ttf') format('truetype'),
         url('/fonts/Quicksand/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'QuicksandBold';
    src: url('/fonts/Quicksand/Quicksand_Bold-webfont.eot');
    src: url('/fonts/Quicksand/Quicksand_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Quicksand/Quicksand_Bold-webfont.woff') format('woff'),
         url('/fonts/Quicksand/Quicksand_Bold-webfont.ttf') format('truetype'),
         url('/fonts/Quicksand/Quicksand_Bold-webfont.svg#QuicksandBold') format('svg');
    font-weight: normal;
    font-style: normal;}


body {font-family:Arial, Helvetica, sans-serif;}

a {text-decoration:none;}
.center {text-align:center;}

header, footer, h1, h2, h3 {font-family:QuicksandBook, Arial, Helvetica, sans-serif; font-weight:normal;}
#standfirst, .list-heading {font-family:Arial, Helvetica, sans-serif; font-weight:normal;}
code, pre {font-family:"Courier New", Courier, monospace;}
code {font-weight:bold;}

html, body {font-size:100%;}
h1 {font-size:240%; text-transform:uppercase;}
h2 {font-size:110%;}
.extras h2 {font-size:180%;}
h4 {font-size:100%; font-weight:normal;}
p, ul {font-size:95%; line-height:1.4em;}
footer a, #wiley-logo, .tool .chapter-ref, .newsletter, pre, .extra-content td {font-size:75%;}

footer {text-transform:uppercase;}
#welcome-text {line-height:1.3em; margin-bottom:10px;}
#standfirst {line-height:1.5em; }
.list-description {line-height:1.8em;}


nav {
	text-align:right;
	text-transform:uppercase;
	font-size:75%;}

nav a {
	line-height:15px;}

dfn {font-style:italic;}

/***************************/
/*     COLORS : LAYOUT     */
/***************************/

body {
    background-image: url("images/imgggg.jpg");
}
header {background-color:#3d3a37;}
section#attractor {background-color:#fff;}
#content {background-color:#eeeceb;}
nav a {color:#fff;}
nav a.current {color:#e2764a;}
nav a:hover {color:#fff; border-bottom:1px solid #fff;}
nav a.current:hover {color:#e2764a; border-bottom:1px solid #fff;}
footer {border-top:1px solid #999;}
.chapter {background-color:#ffffff;}
pre, .escape-codes .columns1, .escape-codes .columns2 td {background-color:#ffffff;}
header {
	-moz-box-shadow: 0 0 12px -2px #000;
	-webkit-box-shadow: 0 0 12px -2px #000;
	box-shadow: 0 0 12px -2px #000;}

/***************************/
/*      COLORS : TEXT      */
/***************************/
body, footer a, .tool a {color:#3d3a37;}
a, h1, .extras h2, .soon {color:#352721;}
a:hover {color:#ab5a3b;}
.chapter a:hover {color:#3d3a37;}
a .chapter-ref {color:#999999;}
#welcome-text {color:#000;}
.byline {color:#666666;}

/***************************/
/*         LAYOUT          */
/***************************/
body {
	padding:0px;
	margin:0px;}

section, header, footer, aside {
	display:block;}

header {
	position:;
	top:0px;
	left:0px;
	width:100%;
	height:60px;
	z-index:50;}

footer {
	clear:both;
	width:100%;
	margin:0px auto 0px auto;}

nav {
	width:300px;
	float:right;
	margin:24px 0px 19px 0px;
	z-index:70;}

#attractor {
	clear:both;
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	height:500px;
	margin-top:60px;
	text-align:center;
	z-index:5;}

#slideshow {
	position:relative;
	top:0px;
	left:0px;
	width:1000px;
	height:400px;
	overflow:;
    margin:0px auto 0px auto;}

#logo {
	margin:19px 0px 19px 0px;}

.page, .page-internal {
	width:960px; 
	margin:0px auto 0px auto;}

.page-internal {
	clear:both;
	margin-top:140px;}

.push1 {
	margin-left:320px;}
.push2 {
	margin-left:640px;}

.columns1, .columns2, .columns3, .header1, .header2, .header3 {
	float:left;
	margin:0px 10px 0px 10px;} 

.columns1 {width:300px;}
.columns2 {width:620px;}
.columns3 {width:960px;}

.header1 {width:380px;}
.header2 {width:140px;}
.header3 {width:380px;}

.column3right {
	width:300px;
	float:right;
	margin: 0px 10px 30px 10px;}

.chapter, .tool {
	height:200px;
	margin-bottom:20px;}

.tool {
	width:270px;
	float:left;
	height:170px;
	margin:0px 10px 20px 10px;
	padding:15px;}


header .center {padding-top:8px;}
#overview {position:relative; top:-50px;}

h1 {margin:0px 0px 30px 0px;}
h4 {margin-bottom:5px;}
.tool p {margin:0px;}
.chapter h1 {margin:70px 0px 0px 0px;}
li {margin-bottom:1em;}
nav a {margin-left:10px; padding-bottom:4px;}
footer a {margin-right:14px;}
.sample-code-chapters {text-align:right;}
.sample-code-chapters a, span.current-chapter {margin-left:10px;}
.sample-code-chapters p {margin:0px;}
.sample-code-links ul, .image2columns {margin-bottom:30px;}
.bottom {}
pre {padding:10px;}
.clear {clear:both;}
.extras h2 {border-bottom:1px solid #3d3a37;}
.extra-content td {padding:3px;}
.sample-chapter .columns1 {
	padding-bottom:20px;}
#standfirst {margin-top:10px;}
.footer-links {width:470px; float:left;}

.feature-list {margin:10px 0px 0px 0px;}
.feature-list li {margin-bottom:10px;}
.list-heading {margin:4px 0px 0px 20px;}
.list-description {margin:10px 0px 10px 20px;}

#tweet {
	width:60px;
	padding-top:22px;
	float:right;}
#facebook {
	width:300px;
	padding-top:22px;
	float:right;}

label.newsletter {
	display:none;}

#newsletter-signup {
	margin-bottom:20px;
	float:right;
	width:195px;}
	
.newsletter-email {
	border:1px solid #cdcbca;
	height:12px;
	padding:3px;
	width:160px !important;
	float:left;}

.newsletter-email:focus {
	background-color:#fff;
	outline:none;}

#newsletter-subscribe {
	background-image:url("../images/subscribe.gif");
	display:inline;
	background-repeat:no-repeat;
	width:26px !important;
	height:20px;
	float:left;
	overflow:hidden;
	border:none;
	text-indent:-9999px;}

#newsletter-subscribe:hover {
	background-position:0px -20px;}


/***************************/
/*    ROLLOVER BUTTONS     */
/***************************/

a img {border:none;}

.chapter, .tool {background-image:url(../images/chapter-frame.gif);}

.home-link-buttons .columns1 {
	position:relative;
	top:-25px;
	z-index:45;}

a#sample-chapter-button {
	position:relative;
	display:block;
	width:230px;
	height:54px;
	background-image:url(../images/sample-chapter.png);
	overflow:hidden;
	text-indent:-9999px;
	z-index:45;}

a#sample-chapter-button:hover {
	background-position:0px -54px;}

a#buy-circle-100 {
	position:relative;
	top:-29px;
	left:220px;
	display:block;
	width:110px;
	height:110px;
	background-image:url(../images/buy-circle-100x100.png);
	text-indent:-9999px;
	z-index:45;}

a#buy-circle-100:hover {
	background-position:0px -110px;}

.columns2 a#buy-circle-100 {
	left:0px;}


a#download-circle-100 {
	display:block;
	width:100px;
	height:100px;
	margin:0px auto 0px auto;
	background-image:url(../images/download-circle-100x100.png);
	text-indent:-9999px;}

a#download-circle-100:hover {
	background-position:0px -100px;}

a#back {
	display:block;
	width:60px;
	height:60px;
	background-image:url(../images/back.png);
	text-indent:-9999px;}

a#back:hover {
	background-position:0px -60px;}


#wiley-badge {
	position:relative;
	top:15px;}
//Gallary


#container{padding:30px 0;}
#container h2{padding-bottom:8px; border-bottom:1px dotted #666666;}

/* Homepage Services */

#container #services{display:block; width:100%; margin:0 0 25px 0; padding:0 0 30px 0; border-bottom:1px solid #BBBBBB;}

/* Homepage Block */

#services a{color:#402720; background-color:#79987F; border:none;}
#services ul, #services h2, #services p{margin:0; padding:0; list-style:none;}
#services li{display:block; float:left; width:250px; margin:0 30px 0 0; padding:20px 25px; color:#2E271D; background-color:#C6C5C1;}
#services li.last{margin-right:0;}
#services li p{line-height:1.6em;}
#services li div.imgholder{display:block; width:240px; margin:15px 0; padding:4px; color:#402720; background-color:#FFFFFF; border:1px solid #402720;}
#services li div.imgholder img{width:240px; border:none; margin:0; padding:0;}
#services li h2{padding-bottom:8px; border-bottom:1px dotted #666666; color:#270D0D; background-color:#9E9E9E;}
#services p.more{display:block; width:100%; margin-top:15px; font-weight:bold; text-align:right; line-height:normal;}

/* Content */

#content{display:block; float:left; width:600px;}

/* Comments */

#comments{margin-bottom:40px;}
#comments .commentlist{margin:0; padding:0;}
#comments .commentlist ul{margin:0; padding:0; list-style:none;}
#comments .commentlist li.comment_odd, #comments .commentlist li.comment_even{margin:0 0 10px 0; padding:15px; list-style:none;}
#comments .commentlist li.comment_odd{color:#666666; background-color:#F7F7F7;}
#comments .commentlist li.comment_odd a{color:#3E7060; background-color:#F7F7F7;}
#comments .commentlist li.comment_even{color:#666666; background-color:#E8E8E8;}
#comments .commentlist li.comment_even a{color:#3E7060; background-color:#E8E8E8;}
#comments .commentlist .author .name{font-weight:bold;}
#comments .commentlist .submitdate{font-size:smaller;}
#comments .commentlist p{margin:10px 5px 10px 0; padding:0; font-weight:normal; text-transform:none;}
#comments .commentlist li .avatar{float:right; border:1px solid #EEEEEE; margin:0 0 0 10px;}

/* ----------------------------------------------Column------------------------------------- */

#column{display:block; float:right; width:300px;}
#column .flickrbox, #column .holder{display:block; width:300px; margin-bottom:20px;}
.flickrbox ul{margin:0; padding:0; list-style:none;}
.flickrbox li{display:block; float:left; width:80px; height:80px; margin:0 15px 15px 0; padding:4px; color:#402720; background-color:#FFFFFF; border:1px solid #402720;}
.flickrbox li.last{margin-right:0;}
#column .holder p{line-height:1.6em;}
#column h2{font-size:20px;}
#column .holder h2.title{display:block; width:100%; height:65px; margin:0; padding:15px 0 0 0; font-size:20px; line-height:normal; border-bottom:1px dashed #666666;}
#column .holder h2.title img{float:left; margin:-15px 8px 0 0; padding:5px; color:#402720; background-color:#FFFFFF; border:1px solid #402720;}
#column .holder p.readmore{display:block; width:100%; font-weight:bold; text-align:right; line-height:normal;}
#column div.imgholder{display:block; width:290px; margin:0 0 10px 0; padding:4px; color:#402720; background-color:#FFFFFF; border:1px solid #402720;}





/*.................................................................*/
div.beforeandafter{ /* main container */
   background: white;
   border: 1px solid gray;
   display: block;
   width: 234px; /* width of main container */
   height: 320px; /* height of main container */
   position: relative;
   perspective: 1000px; /* Greater the value, less pronounced the 3D effect */
}
 
div.before, div.after{ /* before and after DIVs within main container */
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   z-index: 100;
   transform-style: preserve-3d; /* position both children DIVs in 3D space */
   transition: all 1s ease-in-out; /* CSS transition. */
}
 
div.after{
   transform: rotateY(-180deg); /* rotate "after" DIV by -180deg to start */
   z-index: 1; /* z-index of after div should be smaller than before's */
}
 
div.before{
   backface-visibility: hidden; /* hide backface of "before" DIV */
}
 
div.beforeandafter:hover div.before{
   transform: rotateY(180deg)
}
 
div.beforeandafter:hover div.after{
   transform: rotateY(0)