<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Freedom Fighters</span>
	</h2>
	<div class="thumbnails recentworks row">
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail"
					href="http://telanganaexpress.weebly.com/komaram-bheem.html"> <span
					class="img"> <img
						src="images/yellowpages/freedomfyters/bheem.jpg" height=200px width=200px  alt="komaram beem"></span>
			</div>
			<span class="title">komaram beem</span> </a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

			<div class="imgr">
				<a class="thumbnail"
					href="http://en.wikipedia.org/wiki/Kaloji_Narayana_Rao"> <span
					class="img"> <img
						src="images/yellowpages/freedomfyters/kaloji.jpg" alt="Kaloji"></span>
			</div>
			<span class="title">Kaloji</span> </a>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

			<div class="imgr">
				<a class="thumbnail"
					href="http://maatrubhoomi.blogspot.in/2011/08/telangana-women-freedom-fighters.html">
					<span class="img"> <img
						src="images/yellowpages/freedomfyters/ailamma.jpg" height=200px width=200px alt="women freedom fighters"></span>
			</div>
			<span class="title">women freedom fighters</span> </a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

			<div class="imgr">
				<a class="thumbnail"
					href="http://etelangana.org/home/eminent_people"> <span
					class="img"> <img
						src="images/yellowpages/freedomfyters/freedom.jpg" height=200px width=200px alt="For All Freedom Fighters"></span>
			</div>
			<span class="title">For All Freedom Fighters </span> </a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

			<div class="imgr">
				<a class="thumbnail"
					href="http://www.teluguone.com/tmdb/top%20news/Telangana-Freedom-Fighter-in-Honour-List--4910c20.html">
					<span class="img"> <img
						src="images/yellowpages/freedomfyters/jagadish.jpg" height=200px width=200px alt="jagadish arya"></span>
			</div>
			<span class="title">jagadish arya</span> </a>
		</div>
	</div>
	</div>