<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Health Tips</span>
	</h2>
	<div class="thumbnails recentworks row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

			<div class="imgr">
				<a class="thumbnail" href="http://food-health-disease.blogspot.in/">
					<span class="img"> <img
						src="images/yellowpages/health/helthfood.jpg"height=200px width=200px  alt="Food&Health(Telugu)"></span>
			</div>
			<span class="title">Food&Health(Telugu)</span> </a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="http://www.health.com/"> <span
					class="img"> <img src="images/yellowpages/health/health.jpg"
						alt="Health" height=200px width=200px></span>
			</div>
			<span class="title">Health </span> </a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="http://www.prevention.com/"> <span
					class="img"> <img
						src="images/yellowpages/health/preventions.jpg" height=200px width=200px alt="Preventions"></span>
			</div>
			<span class="title">Preventions</span> </a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="http://www.dailyhealthtips.in/"> <span
					class="img"> <img src="images/yellowpages/health/dht.jpg" height=200px width=200px alt="Daily Health"></span>
			</div>
			<span class="title">Daily Health</span> </a>
		</div>
	</div>
	</div>