<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>News Papers</span>
	</h2>

	<div class="thumbnails recentworks row">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr"><a class="thumbnail" href="http://www.eenadu.net/district/main.aspx?dsname=Nizamabad">
				<span class="img"> <img
					src="images/yellowpages/papers/eenadu1.png" height=200px width=200px alt="Enadu"></span></div>
					 <span class="title">Enadu</span>
			</a>
		</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr"><a class="thumbnail" href="http://www.andhrajyothy.com/Artical.aspx?SID=66358&SupID=20">
				<span class="img"> <img
					src="images/yellowpages/papers/andrajyothi.jpeg" height=200px width=200px alt="Andrajyothi"></span></div>
					 <span class="title">Andrajyothi</span>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr"><a class="thumbnail" href="http://www.andhrabhoomi.net/news/State%20Telangana">
				<span class="img"> <img
					src="images/yellowpages/papers/andraboomi.jpg" height=200px width=200px alt="Andraboomi" ></span></div>
					 <span class="title">Andraboomi</span>
			</a>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr"><a class="thumbnail" href="http://epaper.deccanchronicle.com/epaper_main.aspx?id=KRM">
				<span class="img"> <img
					src="images/yellowpages/papers/dc.jpg" alt="Deccan Chronical"></span></div>
					 <span class="title">Deccan Chronical</span>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr"><a class="thumbnail" href="http://timesofindia.indiatimes.com/topic/Nizamabad">
				<span class="img"> <img
					src="images/yellowpages/papers/timesofindia.png" height=200px width=200px alt="Times of India"></span></div>
					 <span class="title">Times of India</span>
			</a>
		</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			
				<div class="imgr"><a class="thumbnail"
					href="http://epaper.namasthetelangaana.com/epapermain.aspx?edcode=10"> <span
					class="img"> <img
						src="images/yellowpages/papers/namasthe-telangana-logo.jpg" height=200px width=200px alt="Namaste Telangana"></span></div>
						 <span class="title">Namaste Telangana</span>
				</a>
		</div>	
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr"><a class="thumbnail" href="http://www.sakshi.com/news/district-nizamabad">
				<span class="img"> <img
					src="images/yellowpages/papers/sakshi.png" height=200px width=200px alt="Sakshi"></span></div>
					 <span class="title">Sakshi</span>
			</a>
		</div>
</div>
</div>