<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Online Movie Tickets Booking</span>
	</h2>
	<div class="thumbnails recentworks row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			
				<div class="imgr"><a class="thumbnail"
					href="http://in.bookmyshow.com/nizamabad?wzrk_source=Google&wzrk_medium=CPC_NonBranded&wzrk_campaign=book_movie_tickets_campaign_india&gclid=CjwKEAiA5emkBRCT_JL9p77IyF8SJADpztPyN9cbZ_6K01gTn12lVJirHnhqV_wUG_ishFfRmy2kZhoClsLw_wcB"> <span
					class="img"> <img
						src="images/yellowpages/bookmyshow/bookmyshow.jpg" height=200px width=200px alt="Book My Show"></span></div>
						 <span class="title">Book My Show</span>
				</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr"><a class="thumbnail" href="https://www.justickets.in/nizamabad/">
				<span class="img"> <img
					src="images/yellowpages/bookmyshow/justtickets.jpg" height=200px width=200px alt="Just Tickets" height=200px width=200px></span></div>
					<span class="title">Just Tickets</span>
			</a>
		</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr"><a class="thumbnail" href="http://www.asklaila.com/search/Nizamabad/-/book%20movie%20tickets/?searchNearby=false&v=listing">
				<span class="img"> <img
					src="images/yellowpages/bookmyshow/asklaila.jpg" height=200px width=200px alt="Ask laila Nizamabad"></span></div>
					 <span class="title">Ask laila Nizamabad</span>
			</a>
		</div>
</div>
</div>