<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Stories</span>
	</h2>
	<div class="thumbnails recentworks row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			
				<div class="imgr"><a class="thumbnail"
					href="http://mocomi.com/fun/stories/"> <span
					class="img"> <img
						src="images/yellowpages/stories/anb3.jpg" height=200px width=200px alt="Akbar and birbal"></span></div>
						 <span class="title">Akbar and birbal</span>
				</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			
				<div class="imgr"><a class="thumbnail"
					href="http://www.moralstories.org"> <span
					class="img"> <img
						src="images/yellowpages/stories/anb4.jpg"  height=200px width=200px alt="akbar and birbal moral"></span></div>
						 <span class="title">akbar and birbal moral</span>
				</a>
		</div>
</div>
</div>
