<div class="row section recentworks topspace">

	<h2 class="section-title">
		<span>Automobiles</span>
	</h2>
	
	<table class="center" border=2>
	<thead>
		<tr align="center">
			<th scope="col">Automobile</th>
			<th scope="col">Address</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong class="book-title"><br>Varun Motors Pvt.Ltd</strong></td>
			<td class="item-stock">Vlg Argul Road, Nizamabad.<br>Mobile no:+(91)-8142620222.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Laxmiganupathi auto Mobiles</strong></td>
			<td class="item-stock">1-1-329, opp:vinayaka kalyana Mandapam, Nizamabad. <br>Phone
				no:+(91)-8462-235788.<br>Mobile no:+(91)-8142620222.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>National Auto Motors</strong></td>
			<td class="item-stock">Auto Nagar, Nizamabad.<br>Mobile no:+(91)-9440016670.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Sri Balaji Automobiles</strong></td>
			<td class="item-stock">Opp:Bombay Nursing Home, Hyd Road, Nizamabad. <br>Phone
				no:+(91)-8462-234543</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Laxmi Automobiles</strong></td>
			<td class="item-stock">7-5-185,Devi Road, Nizamabad.<br> Mobile no:+(91)-9848071381.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Venkata sai Moters</strong></td>
			<td class="item-stock">Beside Sbh bank(Vinayak nagar), Hyd Road, Nizamabad.<br> Phone
				no:+(91)-8462-243322</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Famous Auto Mobiles</strong></td>
			<td class="item-stock">Bodhan Road, Nizamabad. <br>Mobile no:+(91)-9299856348.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Agrolux Tractor show Room</strong></td>
			<td class="item-stock">Opp:substation, mahalaxmi nagar, Hyd Road, Nizamabad. <br>Phone
				no:+(91)-8462-235116.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Sk.Auto Mobiles</strong></td>
			<td class="item-stock">Bodhan Road, Nizamabad.<br> Mobile no:+(91)-9955119656.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Force Motors</strong></td>
			<td class="item-stock">Armoor Road, Near Viceroy gardens, Nizamabad. <br>Phone
			no:+(91)-8462-239733.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Bhagwan Auto Mobiles</strong></td>
			<td class="item-stock">Opp:Pochama temple, pochamma Street, Nizamabad.<br>Mobile
			no:+(91)-9885266389.</td>
		</tr>
		</tbody>
		</table>
</div>