
<div class="row section recentworks topspace">
<h2 class="section-title">
		<span>Auto ShowRooms</span>
	</h2>
	<div class="thumbnails recentworks row">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/autoshwrm.jpg" alt="Bajaj Auto Show Room" height=200px
					width=200px>
			</span>
		</div>
		</span> <span class="title">Sai Motors Bajaj RE Show Room</span> </a>
		<h4></h4>
		<p class="text-center">Near SBI, Vinayak nagar, Nizamabad
		</p>
	</div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/autoshwrm.jpg" alt="Jasper Show Room" height=200px
					width=200px>
			</span>
		</div>
		</span> <span class="title">Jasper Show Room</span> </a>
		<h4></h4>
		<p class="text-center">
			Beside Tata Motors,Borgam, Nizamabad.
		</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/autoshwrm.jpg" alt="Jagath Priya Auto Agencies " height=200px
					width=200px>
			</span>
		</div>
		</span> <span class="title">Jagath Priya Auto Agencies </span> </a>
		<h4></h4>
		<p class="text-center">
		Near Kanteshwar Temple,Kanteshwar, Nizamabad.Phone No 9948489255,08462-239352. 
		</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/autoshwrm.jpg" alt="Undravalli Tractor Showroom" height=200px
					width=200px>
			</span>
		</div>
		</span> <span class="title">Undravalli Auto Showroom </span> </a>
		<h4></h4>
		<p class="text-center">	Hyderabad Road, Madhavnagar, NIZAMABAD.Phone No +(91)-9908541099.
		</p>
	</div>
</div>
</div>
