<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Car servicing Center</span>
	</h2>
	
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/carservc/car1.jpg" alt="Sri Lalitha Maruthi Works " height=200px
					width=200px>
			</span>
		</div>
		</span> <span class="title">Sri Lalitha Maruthi Works </span> </a>
		<h4></h4>
		<p class="text-center">
			Yellammagutta, Hyderabad Road, Nizamabad.<br> Phone
			+(91)-9848197080
		</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/carservc/car1.jpg" alt="Satheesh Auto Works." height=200px
					width=200px>
			</span>
		</div>
		</span> <span class="title">Satheesh Auto Works. </span> </a>
		<h4></h4>
		<p class="text-center">
			Hyderabad Road, Nizamabad.<br>Mobile +(91)-9848136721
		</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/carservc/car1.jpg" alt="Puna Auto Works" height=200px
					width=200px></span>
		</div>
		</span> <span class="title">Puna Auto Works </span> </a>
		<h4></h4>
		<p class="text-center">
			Mubaraknagar, Armoor Road, Nizamabad.<br> Phone
			+(91)-9441153378.
		</p>
	</div>
</div>


