<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Car showrooms</span>
	</h2>
	<div class="thumbnails recentworks row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/carshwrms/tata.jpg" alt="TATA ShowRoom" height=200px
						width=200px></span>
			</div>
			</span> <span class="title">TATA ShowRoom</span> </a>
			<p class="text-center">Borgam,Hyderabad Road, Nizamabad.</p>
			<h4></h4>
			<p></p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/carshwrms/honda.jpg" alt="honda ShowRoom" height=200px
						width=200px>
				</span>
			</div>
			</span> <span class="title">Honda ShowRoom</span> </a>
			<p class="text-center">Hyderabad Road, Nizamabad.</p>
			<h4></h4>
			<p></p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/carshwrms/car.jpg" alt="Mahindra ShowRoom" height=200px
						width=200px></span>
			</div>
			</span> <span class="title">Mahindra ShowRoom </span> </a>
			<p class="text-center">Hyderabad Road, Nizamabad.</p>
			<h4></h4>
			<p></p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/carshwrms/hundai.jpg" alt="Hundai ShowRoom" height=200px
						width=200px>
				</span>
			</div>
			</span> <span class="title">Hundai ShowRoom</span> </a>
			<p class="text-center">Borgam,Hyderabad Road Nizamabad.</p>
			<h4></h4>
			<p></p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/carshwrms/mahindra.jpg" alt="Varun ShowRoom"
						height=200px width=200px></span>
			</div>
			</span> <span class="title"> Varun ShowRoom</span> </a>
			<p class="text-center">Borgam,Hyderabad Road, Nizamabad.</p>
			<h4></h4>
		</div>
	</div>
</div>

