<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Charitable Trusts</span>
	</h2>
	<div class="thumbnails recentworks row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/trusts/trust.png" alt="Kalayika seva socity" height=200px
						width=200px>
				</span>
			</div>
			</span> <span class="title">Kalayika seva socity</span> </a>
			<h4></h4>
			<p class="text-center">H No. 4-64, Yanampally, Dichpally(Mdl),
				Nizamabad, pin-503175.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/trusts/trust.png"
						alt="Sirivennela Social Welfare Society" height=200px width=200px>
				</span>
			</div>
			</span> <span class="title">Sirivennela Social Welfare Society</span> </a>
			<h4></h4>
			<p class="text-center">Subash Nagar, Near Telephone Echange,
				Nizamabad.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/trusts/trust.png"
						alt="Sandagiri Bumareddy Charitable Trust" height=200px width=200px></span>
			</div>
			</span> <span class="title">Sandagiri Bumareddy Charitable Trust</span> </a>
			<h4></h4>
			<p class="text-center">Nizamabad. Mobile +(91)-9440090119.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/trusts/trust.png" alt="Perali Narasiah Memorial and Charitable Trust" height=200px
						width=200px></span>
			</div>
			</span> <span class="title">Perali Narasiah Memorial and Charitable
				Trust</span> </a>
			<h4></h4>
			<p class="text-center">H.no 5-5-104,Khaleel wadi, Nizamabad,
				pin-500004.</p>
		</div>
	</div>
</div>