<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>General Stores</span>
	</h2>
	<div class="thumbnails recentworks row">
	
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgeeee">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/generalstores/general5.jpg" alt="H.k.kirana Store"
					height=200px width=200px>
			</span>
		</div>
		<span class="title">H.k.kirana Store </span> </a>
		<h4></h4>
		<p class="text-center">
			Azam Road, Nizamabad Ho, Nizamabad.<br>Phone+(91)-9912086323
		</p>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgeeee">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/generalstores/general5.jpg" alt="Rajendhra kiranam"
					height=200px width=200px>
			</span>
		</div>
		<span class="title">Rajendhra kiranam </span> </a>
		<h4></h4>
		<p class="text-center">
			Yellammagutta, Nizamabad.<br>Phone +(91)-9440882203
		</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgeeee">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/generalstores/general5.jpg" alt="Ramdev General Marchant"
					height=200px width=200px>
			</span>
		</div>
		<span class="title">Ramdev General Marchant </span> </a>
		<h4></h4>
		<p class="text-center">
			Kumargally, Nizamabad Ho, Nizamabad.<br> Phone +(91)-9440067555,
			9440130461.
		</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgeeee">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/generalstores/general5.jpg" alt="Sharada General Store"
					height=200px width=200px>
			</span>
		</div>
		<span class="title">Sharada General Store </span> </a>
		<h4></h4>
		<p class="text-center">
			Main Road, Kumar Galli, NIZAMABAD.<br>Phone +(91)-9989151449
		</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgeeee">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/generalstores/general5.jpg" alt="Sri Laxmi General Store"
					height=200px width=200px>
			</span>
		</div>
		</span> <span class="title">Sri Laxmi General Store </span> </a>
		<h4></h4>
		<p class="text-center">
			Vinayak Nagar, Nizamabad Ho, Nizamabad.<br>Phone
			+(91)-8462-227771, 235771
		</p>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgeeee">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/generalstores/general5.jpg" alt="Therinethra General store"
					height=200px width=200px>
			</span>
		</div>
		</span> <span class="title">Therinethra General store </span> </a>
		<h4></h4>
		<p class="text-center">
			Bhaskar Complex, Kotagally, Nizamabad Ho, Varni Road, Nizamabad.<br>Phone
			+(91)-9866918223
		</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgeeee">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/generalstores/general5.jpg" alt="Harshitha Kirana General Store"
					height=200px width=200px>
			</span>
		</div>
		</span> <span class="title"> Harshitha Kirana General Store </span> </a>
		<h4></h4>
		<p class="text-center">Nizamabad Ho, Shubhash Nagar, Near NHS High
			School, Nizamabad - 503001,+(91)-9948130597</p>
	</div>
	
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgeeee">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/generalstores/general5.jpg" alt="R.K.Brothers General store"
					height=200px width=200px>
			</span>
		</div>
		</span> <span class="title">R.K.Brothers General store </span> </a>
		<h4></h4>
		<p class="text-center">
			kishan Gunj, Nizamabad Ho, Nizamabad.<br>Phone +(91)-8462-231210

		</p>
	</div>
	
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgeeee"><a class="thumbnail" href=""> <span class="img"><img
				src="images/others/generalstores/general5.jpg" alt="Ashok General Store"
				height=200px width=200px>
		</span>
	</div>
	<span class="title"> Ashok General Store </span> </a>
	<h4></h4>
	<p class="text-center">
		Gandhi Chowk, Nizamabad, R P Road, Gandhi Chowk, Nizamabad. <br>Phone
		+(91)-9912871851.
	</p>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgeeee">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/generalstores/general5.jpg" alt="Annpurna Medical-General store"
					height=200px width=200px>
			</span>
		</div>
		</span> <span class="title">Annpurna Medical-General store</span> </a>
		<h4></h4>
		<p class="text-center">
			Shop No:2, Muncipal Complex, Ramesh Talkies Road, Nizamabad Ho,
			Opposite Indoor City Scan Centre, NIZAMABAD.<br>Phone
			+(91)-9912192611, 9848988378
		</p>
	</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	<div class="imgeeee">
		<a class="thumbnail" href=""> <span class="img"> <img
				src="images/others/generalstores/general5.jpg" alt="Indra Stores"
				height=200px width=200px>
		</span>
	</div>
	</span> <span class="title"> Indra Stores </span> </a>
	<h4></h4>
	<p class="text-center">
		Anand Nagar, Nizamabad Ho, Varni Cross Road, Nizamabad.<br>Phone
		+(91)-9030384340
	</p>
</div>
</div>
</div>
