		
	<div class="row section recentworks topspace">
	<h2 class="section-title">
			<span>HelpLines</span>
		</h2>
	<table align="center" border=2>
	<thead>
		<tr align="center">
			<th scope="col">Helplines For</th>
			<th scope="col">Phone/Mobile Number</th>
			<th scope="col">Division's Hhelplines</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong class="book-title"><br><img class="img-circle img-responsive img-center"
					src="images/others/helplines/rtc.jpg" alt="TSRTC" height=200px
					width=200px>TSRTC</strong></td>
			<td class="item-qty">Phone +(91)-8462-220011.</td>
			<td class="item-qty"></td>
		</tr>
		<tr>
			<td><strong class="book-title"><br><img class="img-circle img-responsive img-center"
					src="images/others/helplines/tsrtconlinebooking.jpg" alt="TSRTC" height=200px
					width=200px>TSRTC Online Booking</strong></td>
			<td class="item-qty">Toll Free 1800 200 4599.</td>
			<td class="item-qty"></td>
		</tr>
		
		<tr>
			<td><strong class="book-title"><br><img class="img-circle img-responsive img-center"
					src="images/others/helplines/train.jpg" alt="TSRTC" height=200px
					width=200px>Railway Station</strong></td>
			<td class="item-qty">Phone +(91)-8462-220022.</td>
			<td class="item-qty"></td>
		</tr>
		<tr>
			<td><strong class="book-title"><br><img class="img-circle img-responsive img-center"
					src="images/others/helplines/policehelpline.jpg" alt="TSRTC" height=200px
					width=200px>Police Control Room </strong></td>
			<td class="item-qty">Toll Free 100.</td>
			<td class="item-qty"></td>
		</tr>
		<tr>
			<td><strong class="book-title"><br><img class="img-circle img-responsive img-center"
					src="images/others/helplines/fireengine.jpg" alt="TSRTC" height=200px
					width=200px>Fire </strong></td>
			<td class="item-qty"><strong class="book-title">Toll Free 101.</strong><br>
			</td>
		<td class="item-qty"><br> <h4><strong class="book-title">Bodhan</strong></h4>Phone +(91)-8467-272101.<h4>
			<h4><strong class="book-title">Kamareddy</strong></h4>Phone +(91)-8468-229101.
			<h4><strong class="book-title">Armoor </strong></h4>Phone +(91)-8463-222222. 
			<h4><strong class="book-title">Yellareddy</strong></h4>Phone +(91)-8465-267101. 
			<h4><strong class="book-title">Banswada</strong></h4>Phone +(91)-8466-277101.
		</h4></td>
		</tr>              
		<tr>
			<td><strong class="book-title"><br><img class="img-circle img-responsive img-center"
					src="images/others/helplines/ambulance.jpg" alt="TSRTC" height=200px
					width=200px>Ambulance </strong></td>
			<td class="item-qty">Toll Free 102/104/108.</td>
			<td class="item-qty"></td>
		</tr>
		<tr>
			<td><strong class="book-title"><br><img class="img-circle img-responsive img-center"
					src="images/others/helplines/anticorruption.jpg" alt="TSRTC" height=200px
					width=200px>Anti-Corruption Bureau </strong></td>
			<td class="item-qty">Toll Free 102/104/108.</td>
			<td class="item-qty"><br> <h4><strong class="book-title">ACB Office</strong></h4>Phone +(91)-8462-237450.<h4>
			<h4><strong class="book-title">ACB DSP</strong></h4>Mobile +(91)-9440446155.
			<h4><strong class="book-title">ACB Inspector</strong></h4>Mobile +(91)-9440446188. 
		</h4></td>
		</tr>
		<tr>
			<td><strong class="book-title"><br><img class="img-circle img-responsive img-center"
					src="images/others/helplines/powerstation.jpg" alt="TSRTC" height=200px
					width=200px>Power Supply</strong></td>
			<td class="item-qty"></td>
			<td class="item-qty"><br> <h4><strong class="book-title">D1 Section AE</strong></h4>Mobile +(91)-9440811613.
			<h4><strong class="book-title">D2 Section AE</strong></h4>Mobile +(91)-9440811614.
			<h4><strong class="book-title">D3 Section AE</strong></h4>Mobile +(91)-9440811615.
			<h4><strong class="book-title">D4 Section AE</strong></h4>Mobile +(91)-9440811616.
			<h4><strong class="book-title">D5 Section AE</strong></h4>Mobile +(91)-9440814155. 
			<h4><strong class="book-title">Nizambad ADE</strong></h4>Mobile +(91)-9440811599.
		</h4></td>
		</tr>
		</tbody>
		</table>
		</div>
		
		
		
		
		
		
		
		
		
		
		
		
		