<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Interior Designer and Decoration</span>
	</h2>
	<div class="thumbnails recentworks row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgsp">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/Interior/ameen.jpg" alt="Ameen Interior Decorators" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Ameen Interior Decorators</span> </a>
			<h4></h4>
			<p class="text-center">Azam Road, Nizamabad(Dist.), Telangana .
				Phone +(91)-9948487495</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgsp">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/Interior/kala.jpg" alt="Kala Designers and Decorators" height=200px
						width=200px></span>
			</div>
			<span class="title">Kala Designers and Decorators</span> </a>
			<h4></h4>
			<p class="text-center">Jawahar Road, Nizamabad(Dist), Telangana.
				Mobile +(91)-9440793322</p>
		</div>
	</div>
</div>