<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Mobile ShowRooms</span>
	</h2>
	<div class="thumbnails recentworks row">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/mobile/bigc.jpg" alt="Big C Mobile" height=200px
					width=200px>
			</span>
		</div>
		</span> <span class="title">Big C Mobile </span> </a>
		<h4></h4>
		<p class="text-center">
			Gandhi Chowk,Main Road, Nizamabad.<br>Phone No: +(91)-9052719888.
		</p>
	</div>
	
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/mobile/lot.jpg" alt="Lot" height=200px
					width=200px>
			</span>
		</div>
		</span> <span class="title">Lot </span> </a>
		<h4></h4>
		<p class="text-center">
			Gandichowk<br> Hyderabad road, Nizamabad.
		</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/mobile/mb.jpg" alt="Lenovo Thakker Technologies" height=200px width=200px>
			</span>
		</div>
		</span> <span class="title">Lenovo Thakker Technologies </span> </a>
		<h4></h4>
		<p class="text-center">
			Gandhi Gunz, Nizamabad.<br>Phone No: +(91)-9399950005.
		</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/mobile/mb.jpg" alt="Sangeeth Mobiles Pvt Ltd." height=200px width=200px>
			</span>
		</div>
		</span> <span class="title">Sangeeth Mobiles Pvt Ltd. </span> </a>
		<h4></h4>
		<p class="text-center">
			Near Haritha AP Tourism Hotel, Nizamabad.<br>Phone No.08462251666.
		</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/mobile/mb.jpg" alt="UniverCell" height=200px width=200px>
			</span>
		</div>
		</span> <span class="title">UniverCell </span> </a>
		<h4></h4>
		<p class="text-center">
			Yellammagutta, Nizamabad.<br>Phone No.9550600599.
		</p>
	</div>
</div>
</div>

