<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Paints and Plywoods</span>
	</h2>
	<div class="thumbnails recentworks row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/paints/paints.jpg" alt="Veer Traders" height=200px
						width=200px>
				</span>
			</div>
			</span> <span class="title">Veer Traders</span> </a>
			<h4></h4>
			<p class="text-center">
				Devi Road, Nizamabad. <br>Phone no:08462-650491.
			</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/paints/paints.jpg" alt="Sri Shankar Plywoods"
						height=200px width=200px>
				</span>
			</div>
			</span> <span class="title"> Sri Shankar Plywoods</span> </a>
			<h4></h4>
			<p class="text-center">
				Vinayak nagar, Nizamabad.<br> Phone no:08462-636976


			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/paints/paints.jpg" alt="Parvathi plywood and Hardware"
						height=200px width=200px>
				</span>
			</div>
			</span> <span class="title">Parvathi plywood and Hardware</span> </a>
			<h4></h4>
			<p class="text-center">
				11-1-1623/1, kanteshwar, Nizamabad.<br> Phone no:08462-653210
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/paints/paints.jpg" alt="Hollywood Traders"
						height=200px width=200px>
				</span>
			</div>
			</span> <span class="title">Hollywood Traders</span> </a>
			<h4></h4>
			<p class="text-center">
				Beside pavan takies, Bodhan Road, Nizamabad.<br> Phone
				no:08462-223838
			</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/paints/paints.jpg" alt="Mahadev Plywood and Hardware" height=200px
						width=200px>
				</span>
			</div>
			</span> <span class="title">Mahadev Plywood and Hardware</span> </a>
			<h4></h4>
			<p class="text-center">
				7-9-822, Devi road, Nizamabad.<br> Phone no:9440348390
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/paints/paints.jpg" alt="Tirupathi Plywood and hardware"
						height=200px width=200px>
				</span>
			</div>
			</span> <span class="title">Tirupathi Plywood and hardware</span> </a>
			<h4></h4>
			<p class="text-center">
				1-1-128, vinayak nagar, Nizamabad.<br>phone no:9346556819
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/paints/paints.jpg" alt="K M Traders" height=200px
						width=200px>
				</span>
			</div>
			</span> <span class="title">K M Traders</span> </a>
			<h4></h4>
			<p class="text-center">
				Beside Mastan Hotel, Bodhan road, Nizamabad.<br> Mobile
				no:9247020786
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/paints/paints.jpg" alt="Sabri Traders" height=200px
						width=200px>
				</span>
			</div>
			</span> <span class="title">Sabri Traders</span> </a>
			<h4></h4>
			<p class="text-center">
				7-11-64, Beside Abdulla Masjid, Bodhan Road, Nizamabad.<br>
				Mobile no:9490609618

			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/paints/paints.jpg" alt="Kalanjali wood carving works"
						height=200px width=200px>
				</span>
			</div>
			</span> <span class="title">Kalanjali wood carving works</span> </a>
			<h4></h4>
			<p class="text-center">
				Padmashali hotel, pulong, Nizamabad. <br>Mobile
				no:9640200331,9640200332
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/paints/paints.jpg" alt="National Hardware plywood And Marbles"
						height=200px width=200px>
				</span>
			</div>
			</span> <span class="title">National Hardware plywood And Marbles</span> </a>
			<h4></h4>
			<p class="text-center">
				Opp: char bhai petrol pumb, Bodhan road, Nizamabad.<br>Phone
				no:08462-225678
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/paints/paints.jpg" alt="Sri Godavari Plywood"
						height=200px width=200px>
				</span>
			</div>
			</span> <span class="title">Sri Godavari Plywood</span> </a>
			<h4></h4>
			<p class="text-center">
				Beside Indur Maruti Works, Kanteshwar, Nizamabad.<br> Phone
				no:08462-645494
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/paints/paints.jpg" alt="Laxmi Ganapathi plywood and Hardware" height=200px
						width=200px>
				</span>
			</div>
			</span> <span class="title">Laxmi Ganapathi plywood and Hardware</span> </a>
			<h4></h4>
			<p class="text-center">
				Opp:SBH vinayak nagar branch, vinayak nagar, Nizamabad.<br>
				Mobile no:9676161378.
			</p>
		</div>
	</div>
</div>