<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Petrol bunks</span>
	</h2>
	<table align="center" border=2>
	<thead>
		<tr align="center">
			<th scope="col">Petrol Bunk</th>
			<th scope="col">Address</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong class="book-title"><br>Sai Ananth Services</strong></td>
			<td class="item-stock">opp.vamshi hotel, Nizamabad.<br> Mobile no:+(91)-9949049494.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Guravaya Bharathi Petrolium</strong></td>
			<td class="item-stock">Godam Road, Nizamabad.<br> Phone no:+(91)-8462-253206.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>P.Laxmikanth Rao petroleum</strong></td>
			<td class="item-stock">Weekly bazaar, Nizamabad.<br> Phone no:+(91)-9989155443.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>A Krishnaiah and sons Petrol pump</strong></td>
			<td class="item-stock">D No.6-15-1496/1a, 1b, 1c, Gurbabadi ho, Nizamabad.<br>Phone
				no:+(91)-8462-646199.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Uppala Mallaiah and co Petrol bunk</strong></td>
			<td class="item-stock">Hyderabd road, Nizamabad.<br> Phone no:+(91)-8462-646463.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>HP Petrol bunk</strong></td>
			<td class="item-stock">Vinayak Nagaar, Nizamabad.<br> Phone no:+(91)-8462-234363.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Sri Raghavendra Filling Station</strong></td>
			<td class="item-stock">Nagaram Road, Nizamabad.<br> Phone no:+(91)-8462-245245.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Sri Basweshwara Filling Station</strong></td>
			<td class="item-stock">Banjepally Village, Nizamabad.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Uma Maheshwara Filling Station</strong></td>
			<td class="item-stock">Bodhan Road, Nizamabad.<br>Phone no:+(91)-8462-253999</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Prakash Auto Service</strong></td>
			<td class="item-stock">Armoor Road, Nizamabad.<br>Phone no:+(91)-8462-230859</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Hindustan Auto center</strong></td>
			<td class="item-stock">Bodhan Road, Nizamabad.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Sohil Deseal Service</strong></td>
			<td class="item-stock">Arsapally, Nizamabad.<br>Mobile No:9440295786.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Ahmed Disel Service</strong></td>
			<td class="item-stock">Bodhan Road, Nizamabad.<br>Mobile No:9440748278.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Ahmed Disel Service</strong></td>
			<td class="item-stock">Bodhan Road, Nizamabad.<br>Mobile No:9440748278.</td>
		</tr>
		</tbody>
		</table>
</div>
