<body>
	<main id="main">
	<div class="container">
		<div class="row topspace">
			<!-- Sidebar -->
			<aside class="col-md-4 sidebar sidebar-left">

				<div class="row widget">
					<div class="col-xs-12">
						<h1 class="page-title">Ali Sagar</h1>
					</div>
				</div>
				<div class="row widget">
					<div class="col-xs-12">
						<p>
							<img src="images/tourism/alisagar/alisagar2.jpg"
								alt="Alisagar Reservoir">
						</p>
					</div>
				</div>
			</aside>
			<!-- /Sidebar -->

			<!-- Article main content -->
			</header>
			<p align=left>
				<b><h4>History.</h4></b>
			</p>
			<p align=left>Alisagar Reservoir is an irrigation project it is Located at a distance of about 13km from Nizamabad and 2 km from Nizamabad Basar</p>
			<p align=left>This irrigation scheme is intended the gap ayacut Of 53,793 from distributor 50 to 73 of Nizamsagar project.</p>
			</p>
			<p align=left>
				<b><h4>The Project</h4></b>
			</p>
			<p align=left>It is a popular picnic spot in the region of
				Nizamabad. This garden is spread over a total land area of 33 acres.
				The garden was opened in 1928 by the Nizam of Hyderabad.</p>
			<p align=left>There is a lake or Reservoir by the same name it Was built in 1931 by the order of the Nizam of Hyderabad. Later in The year 1985, the deer park was established. Deer park and flower The garden is for its popular tree parks. Boating facility is also for Visitors it is introduced recently.</p>
			<!-- /Article -->
		</div>
	</div>
	<!-- /container --> </main>