<body>
	<main id="main">
	<div class="container">
		<div class="row topspace">
			<!-- Sidebar -->
			<aside class="col-md-4 sidebar sidebar-left">
				<div class="row widget">
					<div class="col-xs-12">
						<h1 class="page-title">Ankapur</h1>
					</div>
				</div>
				<div class="row widget">
					<div class="col-xs-12">
						<p>
							<img src="images/tourism/anka/ankapur1.jpg"
								alt="Houses in Ankapur">
						</p>
					</div>
				</div>
				<div class="row widget">
					<div class="col-xs-12">
						<h4></h4>
						<p>
							<img src="images/tourism/anka/ankapur.jpg"
								alt="Houses in Ankapur">
						</p>
					</div>
				</div>
				<div class="row widget">
					<div class="col-xs-12">
						<h4>Agriculture at Ankapur</h4>
						<p>
							<img src="images/tourism/anka/agriculture_ankapur.jpg"
								alt="Agriculture at Ankapur">
						</p>
					</div>
				</div>

			</aside>
			<!-- /Sidebar -->

			<!-- Article main content -->
			<p align="left">Ankapur is a small, self adequate village located
				in Armoor Mandal, Nizamabad District, Telangana state of India.</p>
			<p align="left">We can reach ankapur in two ways, one is National Highway 63 (16) connecting Nizamabad and second one is National Highway 43 (NH7) connecting Hyderabad And Nagapur. It is about 22.4km From Nizamabad.</p>
			<p align="left">Ankapur is awarded as a model village for 100%
				Tax collection since from the last 5 years.</p>
			<h4>
				<b>RESEARCH CENTER AT ANKAPUR</b>
			</h4>
			<p align="left">International Rice Research Institute (IRRI)</p>
			<p align="left">International Crop Research Institute for the
				semi Arid Tropics(ICRISAT).</p>
			<h4>
				<b>Awards</b>
			</h4>
			<p align="left">
				Ankapur village awarded as a <b>Best Village</b> title by the The
				government of Andhra Pradesh, International Agencies like
				IRRI,ICRSSAT, DRIDA, ICAR
			</p>
			<h4>
				<b>Crops</b>
			</h4>
			<p align="left">Here People will produce many short time crops, Crops grown in the village is heady, Red jowar, Bajra, Makka.</p>
			<p align="left">Ankapur is considered one of the best villages in The country because of overall development in general and Agricultural development in particular.</p>
			<h4>
				<b>Famous</b>
			</h4>
			<p align="left">Ankapur is famous for chicken from since 31 Years. Recently this chicken became popular all over Telangana..</p>
			</article>
			<!-- /Article -->
		</div>
	</div>
	<!-- /container --> </main>