<body>
	<main id="main">
	<div class="container">
		<div class="row topspace">
			<!-- Sidebar -->
			<aside class="col-md-4 sidebar sidebar-left">

				<div class="row widget">
					<div class="col-xs-12">
						<h1 class="page-title">Kuntal</h1>
					</div>
				</div>
				<div class="row widget">
					<div class="col-xs-12">
						<p>
							<img src="images/tourism/nearestplaces/kuntal1.jpg"
								alt="Kuntala waterfall">
						</p>
					</div>
				</div>
			</aside>
			<!-- /Sidebar -->
			<!-- Article main content -->
			<h4>
				<b>Description</b>
			</h4>
			</header>
			<p align="left">Kuntala Waterfall is located in Kuntala, Adilabad
				district, Telangana. It is located on Kadem river in Neredigonda
				mandal. It is the highest waterfall in the state of Telanagana with
				a height of 147 Feet(45 meters ).</p>
			<p align="left">Formed by Kadam River, Kuntala falls cascades
				down through two steps and can be seen as two separate adjacent
				falls after the peak rains. It is one of the famous one day outings
				from Hyderabad. There is a motorable road till the entry point of
				falls from where steps are available to reach bottom of falls. The
				falls is about 10 minutes (one way) walk from the entry point.</p>
			<p align="left">Monsoons and post-monsoons are the best seasons
				to visit Kuntala Falls. It is dangerous to get into water at the
				bottom when the water flow is high due to sharp rocks and twists.</p>
			<p align="left">Public transport is available till Neredikonda
				from where private vehicles can be hired. Nirmal & Adilabad are base
				stations.</p>
			<h4>
				<b>History</b>
			</h4>
			<p align="left">According to the popular and prevalent local
				belief Kuntala Waterfall got its name after Shakuntala, the beloved
				wife of King Dushyanth, the pair fell in love with each other and
				were mesmerized by the scenic beauty of the surroundings. The locals
				also believe that Shakuntala used to bathe by the waterfall.</p>
			<p align="left">
				<b>Nearest Airport:Hyderabad :</b> Rajiv Gandhi International
				Airport (280 km)
			</p>
			<p align="left">
				<b>Nearest Railway Station: </b> Adilabad Railway Station (57 km).
			</p>
			<p align="left">
				<b>Bus station:</b> From Nizamabad busstand(115.5km).
			</p>
			</article>
			<!-- /Article -->
		</div>
	</div>
	<!-- /container --> </main>