<body>
	<main id="main">
	<div class="container">
		<div class="row topspace">
			<!-- Sidebar -->
			<aside class="col-md-4 sidebar sidebar-left">
				<div class="row widget">
					<div class="col-xs-12">
						<h1 class="page-title">Nizam Sugar Factory</h1>
					</div>
				</div>
				<div class="row widget">
					<div class="col-xs-12">
						<p>
							<img src="images/tourism/nizamsugars/nizamsugars.jpg" alt="Nizam Sugar Factory">
						</p>
					</div>
				</div>
				<div class="row widget">
					<div class="col-xs-12"></div>
				</div>
			</aside>
			<!-- /Sidebar -->
			<!-- Article main content -->
			<p align="left">
				<b><h4>History</h4></b>
			</p>
			</header>
			<p align="left">NizamSugar Factory was foundation by Mir Osman
				Ali Khan.It is established in 1921.This factory have 15,000 acres is
				located by Shakkar Nagar.Nizamsugar Factory is Located in Bodhan in
				Nizamabad district of Telangana.It is about 28kms from Nizamabad.
				Bodhan is a commercial area</p>
			<p align="left">Bodhan is located in Nizamabad district of
				Telanagana State and it is about 28 km from Nizamabad town. Bodhan
				is constellated with many ancient constructions and is a commercial
				and industrial center. A big reservoir called Belal is located here
				which is natural scenery and attracts tourist. The reservoir was
				named after the follower of prophet of Islam, Hazrat Bilal. Bodhan
				was previously known as Eka Chakrapuram.</p>
			<p align="left">BODHAN (Nizamabad dt.) OCT. 20. The stage is set
				for the takeover of the prestigious Shakkarnagar unit of the Nizam
				Sugars Limited factory near here by the Nizam Deccan Sugars Limited
				(NDSL) from November 1 with 957 workers and officials having opted
				for the Voluntary Retirement Scheme (VRS). The Shakkarnagar unit
				currently has a total strength of 1,328 workmen and 52 officials and
				from November 1, the strength would be around 400. In all 653
				permanent staff, 256 seasonal employees and 48 officers have given
				consent for the VRS while 368 have opted for retention of their
				jobs. Only three workers have not given their consent for VRS, nor
				opted for job retention.
			<p align="left">Presently the maintenance works are on and the
				factory would be ready for sugarcane crushing by December first
				week. Minor repairs are being carried out on the boilers and the
				turbines and the new management intends to go in for massive
				renovation only next year. Bodhan is a town in the Nizamabad
				district of the state of Andhra Pradesh, India. Bodhan is primarily
				known for the Nizam Sugar Factory and some historical sites.Bodhan
				is divided into three areas: Bodhan, Rakaspet and Shakkarnagar.</p>
			</article>
			<!-- /Article -->
		</div>
	</div>
	<!-- /container --> </main>