<marquee direction="left" behavior="alternate" scrolldellay="continue" title="Holding your cursor over this stops the image."
	onmouseover="stop()" onmouseout="start()">
	<img src="images/gallary/garden.JPG" height=250 width=250 >&nbsp&nbsp<img src="images/slider/slider4.jpg" height=250 width=250 >&nbsp&nbsp<img src="images/tourism/nizamsagar/nizamsagars1.jpg" height=250 width=250 >&nbsp&nbsp<img src="images/gallary/basar1.jpg" height=250 width=250>&nbsp&nbsp<img src="images/gallary/b_river.jpg" height=250 width=250>&nbsp&nbsp<img src="images/gallary/kanteshwar.jpg" height=250 width=250 >&nbsp&nbsp<img src="images/tourism/sriramsagar/sriramsagar1.jpg" height=250 width=250>&nbsp&nbsp<img src="images/slider/slider2.jpg" height=250 width=250>&nbsp&nbsp<img src="images/entertainement/grounds/cltrgrnd.jpg" height=250 width=250 >
</marquee>
<div class="row section featured topspace">
	<h2 class="section-title">
		<span>About Nizamabad</span>
	</h2>
	<p>This website aims to facilitate all the services that every individual wants to search out through online. Presently <br>we are providing the information regarding to the these perspectives Tourism, Hospitals, Medicals, Education, Hotels, <br>Banks, Function Halls, Helplines, Theaters, Parks, Gifts, GasAgencies, Jewellery, Scanning centers, Gym, Shopping Malls,etc..</p> 
	<div class="row">
		<div class="col-sm-6 col-md-3">
			<h3 class="text-center">History</h3>
			<p>Nizamabad was formely known as Induru and Indrapuri. Nizamabad
				was ruled by Rakhtrakutas in the 8th century, was ruled by the king
				Indhra Vallabha Panthya Varsha Indra Som. The city was named after
				him.</p>
			<p class="text-center">
				<a href="#/nizamabad" class="btn btn-action">Read more</a>
			</p>
		</div>
		<div class="col-sm-6 col-md-3">
			<h3 class="text-center">Places to Visit</h3>
			<p>Nizamabad is also famous for many Tourist places like Alisagar, Pocahampad Dam, Nizamsagar, Basara, Yemcha,
				Nizamabad Fort, Kuntal, Dichapally Ramalayam,
				Ankapur</p>
			<p class="text-center">
				<a href="#/nizamabad" class="btn btn-action">Read more</a>
			</p></div>
		
		<div class="col-sm-6 col-md-3">
			<h3 class="text-center">Population</h3>
			<p>Nizamabad includes 36 tehsils/mandals/Taluk.It is the Headquarters of the district, has a
				population of 487,709.It is the most populous city in the state of Telangana(According to the 2014 House Hold survey).  
			<p class="text-center">
				<a href="#/nizamabad" class="btn btn-action">Read more</a>
			</p>
		</div>
		<div class="col-sm-6 col-md-3">
			<h3 class="text-center">Transport</h3>
			<p>The National Highway No. 7 which goes from Kanyakumari in
				south to Varanasi in North India runs through this city. Another National Highway No.16
				starts from Nizamabad and passes through Karimnagar district.</p>

			<p class="text-center">
				<a href="#/nizamabad" class="btn btn-action">Read more</a>
			</p>
		</div>
	</div>
</div>
<!-- / section -->
<div class="row section recentworks topspace">
	
	<div class="thumbnails recentworks row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<a class="thumbnail" href="#/bodhan"> <span class="img"> <img
					src="images/icons/icon1/nizamsugar.jpg" height=200px width=200px alt="Bodhan">
			</span> <span class="title"></span>
			</a>
			<p class="text-center">
				<a href="#/bodhan" class="btn btn-action">Bodhan</a>&nbsp<a href="https://www.google.co.in/maps/place/Bodhan,+Telangana/@18.6613258,77.8967044,13z/data=!3m1!4b1!4m2!3m1!1s0x3bce7649e0b49e9f:0xcba4ca316d82f37c"><img src="images/map.jpg" alt="Bodhan"></a>
			</p>
			<h4></h4>
			<p></p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<a class="thumbnail" href="#/kamareddy"> <span class="img">
					<img src="images/biknoor2.jpg" height=200px width=200px alt="Kamareddy">
			</span><span class="title"></span>
			</a>
			<p class="text-center">
				<a href="#/kamareddy" class="btn btn-action">Kamareddy</a>&nbsp<a href="https://www.google.co.in/maps/place/Kamareddy,+Telangana/@18.3223638,78.3378195,14z/data=!3m1!4b1!4m2!3m1!1s0x3bcc4905804135f1:0xa2c7ddb16b831743"><img src="images/map.jpg" alt="Kamareddy"></a>
			</p>
			<h4></h4>
			<p></p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<a class="thumbnail" href="#/armoor"> <span class="img"> <img
					src="images/icons/icon1/alisagar.jpg" height=200px width=200px alt="Armoor">
			</span> <span class="title"></span>
			</a>
			<p class="text-center">
				<a href="#/armoor" class="btn btn-action">Armoor</a>&nbsp<a href="https://www.google.co.in/maps/place/Armoor,+Telangana+503224/@18.7898399,78.2905792,14z/data=!3m1!4b1!4m2!3m1!1s0x3bcdbf8ed1959617:0x19a4e109a4d8b358"><img src="images/map.jpg" alt="Armoor"></a>
			</p>
			<h4></h4>
			<p></p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<a class="thumbnail" href="#/banswada"> <span class="img">
					<img src="images/icons/icon1/pocharam.jpg" height=200px width=200px alt="Banswada">
			</span> <span class="title"></span>
			</a>
			<p class="text-center">
				<a href="#/banswada" class="btn btn-action">Banswada</a>&nbsp<a href="https://www.google.co.in/maps/place/Banswada,+Telangana+503187/@18.3809355,77.8743925,15z/data=!4m2!3m1!1s0x3bce80f96a3da331:0xbf30b775a380655"><img src="images/map.jpg" alt="Banswada"></a>
			</p>
			<h4></h4>
			<p></p>
		</div>
		</div>
		<div class="row section recentworks topspace">
	
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<a class="thumbnail" href="#/hl/helth/hospitals"> <span class="img">
					<img src="images/hospitals.jpg" height=200px width=200px alt="Hospitals">
			</span> <span class="title"></span>
			</a><a href="#/hl/helth/hospitals" class="btn btn-action">Hospitals</a>&nbsp
			<h4></h4>
			<p></p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<a class="thumbnail" href="#/hl/helth/medicals"> <span class="img">
					<img src="images/medical.jpg" height=200px width=200px alt="Hospitals">
			</span><span class="title"></span>
			</a><a href="#/hl/helth/medicals" class="btn btn-action">Medicals</a>&nbsp
			<h4></h4>
			<p></p>
	</div>
	
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<a class="thumbnail" href="#/fd/fooddining/hotels"> <span class="img">
					<img src="images/hotels.jpg" height=200px width=200px alt="Hotels">
			</span> <span class="title"></span>
			</a><a href="#/fd/fooddining/hotels" class="btn btn-action">Hotels</a>&nbsp
			<h4></h4>
			<p></p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<a class="thumbnail" href="#/et/entertainement/theaters"> <span class="img">
					<img src="images/theater.png" height=200px width=200px alt="Theaters">
			</span> <span class="title"></span>
			</a><a href="#/et/entertainement/theaters" class="btn btn-action">Theaters</a>&nbsp
			<h4></h4>
			<p></p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<a class="thumbnail" href="#/oth/others/banks"> <span class="img">
					<img src="images/bank.jpg" height=200px width=200px alt="Banks">
			</span> <span class="title"></span>
			</a><a href="#/oth/others/banks" class="btn btn-action">Banks</a>&nbsp
			<h4></h4>
			<p></p>
	</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<a class="thumbnail" href="#/yellowpages/livecrick"> <span class="img">
					<img src="images/sports news1.jpg" height=200px width=200px alt="Sports Update">
			</span> <span class="title"></span>
			</a><a href="#/yellowpages/livecrick" class="btn btn-action">Sports Update</a>&nbsp
			<h4></h4>
			<p></p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<a class="thumbnail" href="#/yellowpages/news"> <span class="img">
					<img src="images/newspapers.jpg" height=200px width=200px alt="News Papers">
			</span> <span class="title"></span>
			</a><a href="#/yellowpages/news" class="btn btn-action">News Papers</a>&nbsp
			<h4></h4>
			<p></p>
		
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<a class="thumbnail" href="#/yellowpages/cariers"> <span class="img">
					<img src="images/job.jpg" height=200px width=200px alt="News Papers">
			</span><span class="title"></span>
			</a><a href="#/yellowpages/cariers" class="btn btn-action">Cariers&Jobs</a>&nbsp
			<h4></h4>
			<p></p>
		
	</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<a class="thumbnail" href="#/pride/bus"> <span class="img">
					<img src="images/gallary/bus.jpg" height=200px width=200px alt="Bus Timings">
			</span><span class="title"></span>
			</a><a href="#/pride/bus" class="btn btn-action">Bus Timings</a>&nbsp
			<h4></h4>
			<p></p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<a class="thumbnail" href="#/pride/train"> <span class="img">
					<img src="images/icons/icon1/train.jpg" height=200px width=200px alt="Train Timings">
			</span> <span class="title"></span>
			</a><a href="#/pride/train" class="btn btn-action">Train Timings</a>&nbsp
			<h4></h4>
			<p></p>
	</div>
</div>

<!-- /section -->

<!-- /section -->

<!-- /section -->
</div>
<!-- /container -->