
<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>PG Colleges</span>
	</h2>
	<div class="thumbnails recentworks row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/pg/girirajpg.JPG" alt="girirajpg"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Girraj Govt. College </span> </a>
			<h4></h4>
			<p class="text-center">Dubba, Nizamabad,<br> Phone No.+(91)-8462-650152.</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/intermediate/svpg.jpg"
						alt="Sri vijayasai Jr. College" height=200px width=200px></span>
			</div>
			<span class="title">SV PG College</span> </a>
			<h4></h4>
			<p class="text-center">Khaleelwadi, <br>Mobile No.+(91)9440229955.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/pg/nishithapg.jpg" alt="nishitha pg"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Nishitha  PG College </span> </a>
			<h4></h4>
			<p class="text-center">Near SPOffice, Kanteshwar Road, Nizamabad,<br> Phone No.+(91)-8462-225799,<br> +(91)-8462-229711 </p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/pg/pg.jpg" alt="SSR PG College"
						height=200px width=200px></span>
			</div>
			<span class="title">S S R PG College</span> </a>
			<h4></h4>
			<p class="text-center">Khaleelwadi, Nizamabad,<br> Phone No.+(91)-8462-233861.</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/pg/pg.jpg"
						alt="St Thomas" height=200px width=200px></span>
			</div>
			<span class="title">St Thomas College of Management </span> </a>
			<h4></h4>
			<p class="text-center">Bodhan,<br> Phone No.+(91)-8467-222884.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/pg/pg.jpg" alt="Gouthami PG "
						height=200px width=200px></span>
			</div>
			<span class="title">Gouthami PG College </span> </a>
			<h4></h4>
			<p class="text-center">pangram(B), Near Madhuranagar, Nizamabad,<br> Phone No.+(91)-8462-234600/ 234700.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/pg/pg.jpg" alt="Indur PG College"
						height=200px width=200px></span>
			</div>
			<span class="title">Indur PG College of Business Management</span> </a>
			<h4></h4>
			<p class="text-center">Bodhan, Nizamabad,<br> Phone No.+(91)-8467-223015,225766.</p>
		</div>
	</div>
</div>