<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Clothes</span>
	</h2>
	<div class="thumbnails recentworks row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/hgangaram.jpg" alt="H Gangaram"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">H Gangaram </span> </a>
			<h4></h4>
			<p class="text-center">Nizamabad, <br>Phone +(91)-220165, 232074.</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/indur.JPG" alt="Kisan Cloth Emporium"
						height=200px width=200px></span>
			</div>
			<span class="title">Indur Fashions </span> </a>
			<h4></h4>
			<p class="text-center">
				R.P Road, Nizamabad,<br> Phone +(91)-8462-252999.<br>
			</p>
		</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/kisan.JPG" alt="Kisan Cloth Emporium"
						height=200px width=200px></span>
			</div>
			<span class="title">Kisan Cloth Emporium </span> </a>
			<h4></h4>
			<p class="text-center">
				R.P Road, Nizamabad.<br>Phone +(91)-8462-223676.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/DSC07428.JPG" alt="laxmi silks"
						height=200px width=200px></span>
			</div>
			<span class="title">Laxmi Silks</span> </a>
			<h4></h4>
			<p class="text-center">
				Gandhi chowk, Nizamabad. <br>Phone +(91)-8462-225001.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="http://www.megamartstores.com/"> <span class="img"> <img
						src="images/shoping/clothesrdymts/megamart.jpg" alt="megamart"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Megamart</span> </a>
			<h4></h4>
			<p class="text-center">
          RP Road, Nizamabad.<br> Phone +(91)-8462-254786.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/akurthi.JPG" alt="AAkruti"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">AAkruti</span> </a>
			<h4></h4>
			<p class="text-center">
          Hyderbad Road, Nizamabad.<br> Phone No.+(91)-8462-222676.
			</p>
		</div>
        
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/B.R.jpg" alt="B.R Fashions"
						height=200px width=200px></span>
			</div>
			<span class="title">B.R Fashions</span> </a>
			<h4></h4>
			<p class="text-center">
			RP Road, Nizamabad.<br> Mobile +(91)-9290295709.
			</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/balaji.JPG" alt="Balaji Collections"
						height=200px width=200px></span>
			</div>
			<span class="title">Balaji Collections</span> </a>
			<h4></h4>
			<p class="text-center">
			RP Road, Nizamabad.<br> .
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/arvind.JPG" alt="Arvind"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Arvind</span> </a>
			<h4></h4>
			<p class="text-center">
          D.No:5-6-523, Pragathi Nagar, Hyderbad Road, Nizamabad.<br> Phone No.+(91)-8462-234567.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/citistyle.jpg" alt="City Style"
						height=200px width=200px></span>
			</div>
			<span class="title">City Style</span> </a>
			<h4></h4>
			<p class="text-center">
			RP Road, Nizamabad.<br> .
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/dhavni.JPG" alt="city fashions"
						height=200px width=200px></span>
			</div>
			<span class="title">Dhanvi</span> </a>
			<h4></h4>
			<p class="text-center">
				Hyderabad Road, Nizamabad.<br> Phone +(91)-8462-224999.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/bangolre.jpg" alt="Bangalor Dresses"
						height=200px width=200px></span>
			</div>
			<span class="title">Bangalore Dresses</span> </a>
			<h4></h4>
			<p class="text-center">
			RP Road, Nizamabad.<br> .
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/fashion.jpg" alt="Fashion World"
						height=200px width=200px></span>
			</div>
			<span class="title">Fashion World</span> </a>
			<h4></h4>
			<p class="text-center">
				RP Road, Nizamabad.<br> 
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/fashioncorner.jpg" alt="Fashion Corner"
						height=200px width=200px></span>
			</div>
			<span class="title">Fashion Corner</span> </a>
			<h4></h4>
			<p class="text-center">
				RP Road, Nizamabad.<br> 
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/fusion.jpg" alt="Fusion Casuals"
						height=200px width=200px></span>
			</div>
			<span class="title">Fusion Casuals</span> </a>
			<h4></h4>
			<p class="text-center">
				RP Road, Nizamabad.<br> 
			</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/hii.JPG" alt="Hii Fashion"
						height=200px width=200px></span>
			</div>
			<span class="title">Hii Fashion</span> </a>
			<h4></h4>
			<p class="text-center">
				RP Road, Nizamabad.<br> 
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/homecltns.JPG" alt="OM Collection"
						height=200px width=200px></span>
			</div>
			<span class="title">OM Collection</span> </a>
			<h4></h4>
			<p class="text-center">
				RP Road, Nizamabad.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/gujrat.JPG" alt="Gujrat Cloth House"
						height=200px width=200px></span>
			</div>
			<span class="title">Gujrat Cloth House</span> </a>
			<h4></h4>
			<p class="text-center">
				RP Road, Nizamabad.<br> 
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/jayalaxmi.JPG" alt="Jayalaxmi Dresses"
						height=200px width=200px></span>
			</div>
			<span class="title">Jayalaxmi Dresses </span> </a>
			<h4></h4>
			<p class="text-center">
				RP Road, Nizamabad.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="http://www.mufti.in/"> <span class="img"> <img
						src="images/shoping/clothesrdymts/mufti.JPG" alt="Mufti"
						height=200px width=200px></span>
			</div>
			<span class="title">Mufti </span> </a>
			<h4></h4>
			<p class="text-center">
				Hyderabad Road, Nizamabad.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/jayanti.jpg" alt="Jayanthi Dresses"
						height=200px width=200px></span>
			</div>
			<span class="title">Jayanthi Dresses </span> </a>
			<h4></h4>
			<p class="text-center">
				RP Road, Nizamabad.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/kalnikethan.JPG" alt="Jayanthi Dresses"
						height=200px width=200px></span>
			</div>
			<span class="title">Kalanikethan </span> </a>
			<h4></h4>
			<p class="text-center">
				Hyderabad Road, Nizamabad.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/kidswear.jpg" alt="Kidswear"
						height=200px width=200px></span>
			</div>
			<span class="title">Kidswear </span> </a>
			<h4></h4>
			<p class="text-center">
				RP Road, Nizamabad.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/levis.JPG" alt="Levis"
						height=200px width=200px></span>
			</div>
			<span class="title">Levis</span> </a>
			<h4></h4>
			<p class="text-center">
				Hyderabad Road, Nizamabad.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/look.JPG" alt="Levis"
						height=200px width=200px></span>
			</div>
			<span class="title">Look</span> </a>
			<h4></h4>
			<p class="text-center">
				Hyderabad Road, Nizamabad.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/pepegenes.JPG" alt="Pepe Jeans"
						height=200px width=200px></span>
			</div>
			<span class="title">Pepe Jeans</span> </a>
			<h4></h4>
			<p class="text-center">
				Hyderabad Road, Nizamabad.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/peterengland.JPG" alt="Peter England"
						height=200px width=200px></span>
			</div>
			<span class="title">Peter England</span> </a>
			<h4></h4>
			<p class="text-center">
				Hyderabad Road, Nizamabad.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/rainbow.jpg" alt="Rainbow Fashions"
						height=200px width=200px></span>
			</div>
			<span class="title">Rainbow Fashions</span> </a>
			<h4></h4>
			<p class="text-center">
				Hyderabad Road, Nizamabad.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/raymond.JPG" alt="The Raymand Shop"
						height=200px width=200px></span>
			</div>
			<span class="title">The Raymand Shop</span> </a>
			<h4></h4>
			<p class="text-center">
				Hyderabad Road, Nizamabad.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/s.prabhakar.JPG" alt="S.Prabhakar"
						height=200px width=200px></span>
			</div>
			<span class="title">S.Prabhakar</span> </a>
			<h4></h4>
			<p class="text-center">
				RP Road, Nizamabad.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/spykar.JPG" alt="Spykar"
						height=200px width=200px></span>
			</div>
			<span class="title">Spykar</span> </a>
			<h4></h4>
			<p class="text-center">
				Hyderabad Road, Nizamabad.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/srinivas.jpg" alt="Sriniva Fashions"
						height=200px width=200px></span>
			</div>
			<span class="title">Sriniva Fashions</span> </a>
			<h4></h4>
			<p class="text-center">
				Hyderabad Road, Nizamabad.
			</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/trendz.JPG" alt="Trendz Exclusive"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Trendz Exclusive</span> </a>
			<h4></h4>
			<p class="text-center">
				Hyderabad road, Nizamabad.<br> 
			</p>
		</div>
			
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/clothesrdymts/vinayaka.jpg" alt="Vinayaka fshions"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Vinayaka Fashions</span> </a>
			<h4></h4>
			<p class="text-center">
				Opp:Govt.Hospital,Subash Road,Kamareddy.Ph.no:08468-225332<br> 
			</p>
		</div>
	</div>
</div>
