<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Foot wear</span>
	</h2>
	
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/footwear/boots.JPG" alt="Boots & Boots"
						height=200px width=200px></span>
			</div>
			<span class="title">Boots & Boots </span> </a>
			<h4></h4>
			<p class="text-center">Pragathi Nagar,Hyderabad Road, Nizamabad.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/footwear/style.jpg" alt="Style Footwear"
						height=200px width=200px></span>
			</div>
			<span class="title">Style Footwear</span> </a>
			<h4></h4>
			<p class="text-center">RP Road, Nizamabad,<br> </p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/footwear/popularshoemart.jpg" alt="Hollywood Shoes Exclusive"
						height=200px width=200px></span>
			</div>
			<span class="title">Popular Shoe Mart </span> </a>
			<h4></h4>
			<p class="text-center">Nizamabad.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/footwear/DSC07441.JPG" alt="Variety Shoes"
						height=200px width=200px></span>
			</div>
			<span class="title">Variety Shoes</span> </a>
			<h4></h4>
			<p class="text-center">RP Road, Nizamabad.<br> </p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/footwear/DSC07414.JPG" alt="Shoe Mart"
						height=200px width=200px></span>
			</div>
			<span class="title">Shoe Mart</span> </a>
			<h4></h4>
			<p class="text-center">RP Road, Nizamabad,<br> Phone No.+(91)-8462-225544</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/footwear/footwear.png" alt="Hollywood Shoes Exclusive"
						height=200px width=200px></span>
			</div>
			<span class="title">Hollywood Shoes Exclusive </span> </a>
			<h4></h4>
			<p class="text-center">Pragathi Nagar, Nizamabad.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/footwear/footwear.png" alt="Bata Showroom" height=200px
						width=200px></span>
			</div>
			<span class="title"> Bata Showroom</span> </a>
			<h4></h4>
			<p class="text-center">Gandhi Chowk, Nizamabad.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/footwear/footwear.png" alt="Shoe World"
						height=200px width=200px></span>
			</div>
			<span class="title"> Shoe World</span> </a>
			<h4></h4>
			<p class="text-center">Armoor Road, kanteshwar, Nizamabad.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/footwear/Showroom.jpeg" alt="Regal Footwear" height=200px
						width=200px></span>
			</div>
			<span class="title">Regal Footwear</span> </a>
			<h4></h4>
			<p class="text-center">Gandhi Chowk,Nizamabad.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/footwear/footwear.png" alt="Shoe Bazar" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Shoe Bazar </span> </a>
			<h4></h4>
			<p class="text-center">Gandhi Chowk, Nizamabad</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/footwear/footwear.png" alt="Diamond Foot Wear" height=200px
						width=200px></span>
			</div>
			<span class="title">Diamond Foot Wear</span> </a>
			<h4></h4>
			<p class="text-center">Bodhan road, Nizamabad.</p>
		</div>
	</div>
</div>