<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>B.E.D colleges</span>
	</h2>
	<div class="thumbnails recentworks row">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	<div class="imgr">
	<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/bed/bed.jpg" alt="Indur College of Education"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Indur College of Education</span> </a>
			<h4></h4>
			<p class="text-center">Achanpally, Bodhan, Nizamabad <br>Phone No.08467-223015</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	<div class="imgr">
	<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/bed/bed.jpg" alt="Sri Chaitanya College of Education"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Sri Chaitanya College of Education</span> </a>
			<h4></h4>
			<p class="text-center">Pegadapally Road,Bodhan, Nizamabad. <br> Phone No.08467-220550, 234679</p>
		</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	<div class="imgr">
	<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/bed/bed.jpg" alt="Vijay College of Education for Women"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Vijay College of Education for Women</s pan> </a>
			<h4></h4>
			<p class="text-center">Mubrak Nagar, Nizamabad.<br>Phone No.08462-646886, 237887</p>
		</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	<div class="imgr">
	<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/bed/bed.jpg" alt="Amazon College of Education"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Amazon College of Education</span> </a>
			<h4></h4>
			<p class="text-center">Naraspur Gate-Bodhan Road,Bodhan, Nizamabad.</p>
		</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	<div class="imgr">
	<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/bed/bed.jpg" alt="Sri Sai College Of Education"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Sri Sai College Of Education</span> </a>
			<h4></h4>
			<p class="text-center">Kotagally, Nizamabad.<br>Phone No.08462-236199, 234679</p>
		</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	<div class="imgr">
	<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/bed/bed.jpg" alt="Katipally Ravinder Reddy College of Education"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Katipally Ravinder Reddy College of Education</s pan> </a>
			<h4></h4>
			<p class="text-center">Subash Nagar, Nizamabad.<br>Phone No.08462-238375, 9440067479</p>
		</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	<div class="imgr">
	<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/bed/bed.jpg" alt="Karshak B.Ed College"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Karshak B.Ed College</span> </a>
			<h4></h4>
			<p class="text-center">Near Govt Degree College, Kamareddy, Nizamabad.<br>Phone No.08468-229906, 9866894434</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	<div class="imgr">
	<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/bed/bed.jpg" alt="Priyadarshini College of Education"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Priyadarshini College of Education</span> </a>
			<h4></h4>
			<p class="text-center">Survey No.405/44, Housing Board Colony,<br> Armoor, Nizamabad.</p>
		</div>
		</div>
		