<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Engineering colleges</span>
	</h2>
	<div class="thumbnails recentworks row">
		
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/btech/kshatriya.jpg" alt="Kshatriya"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Kshatriya College of Engineering</span> </a>
			<h4></h4>
			<p class="text-center">Chepur, NH-16, Armooor, Perkit, nizamabad,<br> Phone No.(+91)-8463-213499.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/btech/vrec.jpg" alt="vrec" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Vijay Rural Engineering College</span> </a>
			<h4></h4>
			<p class="text-center">Das Nagar, Manikbandar, Nizamabad, <br>Phone No.(91)-8462-280157, 280175.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/btech/b-tech.jpg" alt="Tirumala College Of Engineering  Technology"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Tirumala College Of Engineering  Technology</s pan> </a>
			<h4></h4>
			<p class="text-center">Tirumala Nagar, Bardipur (V), Dichpally (M), Dist. Nizamabad <br>Phone No.08461 - 245740, 245750</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/btech/kits.jpg" alt="kits" height=200px
						width=200px></span>
			</div>
			<span class="title">Kakatiya Institute of Technology and
				Science for Women</span> </a>
			<h4></h4>
			<p class="text-center">Das Nagar, Nizamabad,<br> Phone No.(+91)-8462-281077.</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/btech/sudeerreddy.jpeg" alt="Sudeerreddy"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Sudheer Reddy College of Engineering and
				Technology</s pan> </a>
			<h4></h4>
			<p class="text-center">Dharmaram,Dhichpalyy, Nizamabad, <br>Phone No.(+91)-8461-245888.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/btech/gscet.jpg" alt="gscet" height=200px
						width=200px></span>
			</div>
			<span class="title">Gnyana Saraswathi College of Engineering
				and Technology</span> </a>
			<h4></h4>
			<p class="text-center">Dharmaram,Dhichpally, Nizamabad,<br> Phone No.(+91)-8461-245789.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/btech/b-tech.jpg" alt="Arkay College Of Engineering & Technology" height=200px
						width=200px></span>
			</div>
			<span class="title">Arkay College Of Engineering & Technology</span> </a>
			<h4></h4>
			<p class="text-center">Achanpally Village, Bodhan - Nizamabad Road, Bodhan, Nizamabad,<br> Phone No.08462 - 225655, 245656</p>
		</div>
		
	</div>
</div>