
<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Degree colleges</span>
	</h2>
	<div class="thumbnails recentworks row">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/degree/DSC07701.JPG" alt="care Degree College" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Girraj Degree College</span> </a>
			<h4></h4>
			<p class="text-center">Dubba Road,Nizamabad,<br> Phone No.+(91)-8462-650152.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/degree/nishitha.jpg" alt="nishitha"
						height=200px width=200px></span>
			</div>
			<span class="title">Nishitha Degree College</span> </a>
			<h4></h4>
			<p class="text-center">Kanteswar Road, Nizamabad,<br> Mobile No.+(91)-9849929383.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/degree/vagdevi.JPG" alt="Vagdevi Degree College" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Vagdevi Degree College</span> </a>
			<h4></h4>
			<p class="text-center">Opp: Railway Station, Nizamabad,<br> Phone No.+(91)-8462-656631.</p>
		</div>
		
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/degree/ssrdegree.jpg" alt="ssrdegree"
						height=200px width=200px></span>
			</div>
			<span class="title">S S R Degree College</span> </a>
			<h4></h4>
			<p class="text-center">Khaleelwadi, Nizamabad, <br> Phone No.08462-233861.</p>
		</div>
	
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/degree/degree1.jpg" alt="Nalanda Degree college"
						height=200px width=200px></span>
			</div>
			<span class="title">Nalanda Degree College for Women, </span> </a>
			<h4></h4>
			<p class="text-center">D.no. 5-7-602, Khaleelwadi,Nizamabad, <br>Phone No.+(91)-8462-223635.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/degree/pragathi1.jpg" alt="Pragathi Degree College" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Pragathi Degree College</span> </a>
			<h4></h4>
			<p class="text-center">Kavitha Complex, Nizamabad,<br> Phone No.+(91)-8462-232424, <br>mobile No.+(91)-9848230515.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/intermediate/svpg.jpg"
						alt="Sri vijayasai Jr. College" height=200px width=200px></span>
			</div>
			<span class="title">SV Degree College</span> </a>
			<h4></h4>
			<p class="text-center">Khaleelwadi, <br>Mobile No.+(91)9440229955.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/degree/degree.png" alt="SRNK Gvt.Degree college" height=200px
						width=200px></span>
			</div>
			<span class="title">SRNK Govt. Degree College</span> </a>
			<h4></h4>
			<p class="text-center">Banswada, Nizamabad, <br>Phone No.+(91)-8466-226559.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/degree/degree.png" alt="Sri Vijaya Sai" height=200px
						width=200px></span>
			</div>
			<span class="title">Sri Vijaya Sai Degree College(Arts and
				Science)</span> </a>
			<h4></h4>
			<p class="text-center">Gunj Road, Bodhan, Nizamabad.</p>
		</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/degree/degree.png" alt="care Degree College" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Care Degree College</span> </a>
			<h4></h4>
			<p class="text-center">D.no. 9-2-51,Near Busstand,Nizamabad, <br>Mobile No.+(91)-8462656677.</p>
		</div>
		
	</div>
</div>