<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Junior Colleges</span>
	</h2>
	<div class="thumbnails recentworks row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/intermediate/nirmala.JPG"
						alt="nirmalahrudaya" height=200px width=200px></span>
			</div>
			<span class="title">Nirmala hrudaya </span> </a>
			<h4></h4>
			<p class="text-center">Subash Nagar, Nizamabad, <br>Phone No.+(91)-8462-239901.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/intermediate/svpg.jpg"
						alt="Sri vijayasai Jr. College" height=200px width=200px></span>
			</div>
			<span class="title">SV Jr. College</span> </a>
			<h4></h4>
			<p class="text-center">Khaleelwadi, <br>Mobile No.+(91)9440229955.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/intermediate/womenscollege.JPG" alt="Womens College"
						height=200px width=200px></span>
			</div>
			<span class="title">Womens College</span> </a>
			<h4></h4>
			<p class="text-center">Kanteshwar, Nizamabad,<br>Phone No.+(91)-8462-237201, 231138.</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/intermediate/srjunior.JPG" alt="SR Junior College"
						height=200px width=200px></span>
			</div>
			<span class="title">SR Junior College</span> </a>
			<h4></h4>
			<p class="text-center">Kanteshwar, Nizamabad.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/intermediate/ssrjr.jpg" alt="ssr jr College"
						height=200px width=200px></span>
			</div>
			<span class="title">S S R Jr. College</span> </a>
			<h4></h4>
			<p class="text-center">Khaleelwadi, Nizamabad,<br> Phone No.08462-233861</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/intermediate/college.png"
						alt="Sri vijayasai Jr. College" height=200px width=200px></span>
			</div>
			<span class="title">Sri Vijaya Sai Jr. College</span> </a>
			<h4></h4>
			<p class="text-center">Bodhan.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/intermediate/college.png " alt="Sri Shirdi Sai Mahila Jr. College"
						height=200px width=200px></span>
			</div>
			<span class="title">Sri Shirdi Sai Mahila Jr. College</span> </a>
			<h4></h4>
			<p class="text-center">Bodhan.</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/intermediate/college.png" alt="Bharatrathna Jr. College"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Kakatiya College </span> </a>
			<h4></h4>
			<p class="text-center">Pragathi Nagar, Hyd Road, Nizamabad,ph no 9705639977, 9505822877</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/intermediate/college.png" alt="MSR Jr. College"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">MSR Jr. College</span> </a>
			<h4></h4>
			<p class="text-center">Kanteshwar, Nizamabad,<br> Phone No. 8462-645341,<br> Mobile No.+(91)-9849028828.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/intermediate/college.png" alt="Gouthami Jr College"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Gouthami Jr College</span> </a>
			<h4></h4>
			<p class="text-center">Khaleelwadi, Nizamabad, <br>Phone No.08462-220340, 326777.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/intermediate/college.png" alt="Bharatrathna Jr. College"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Bharatratna Jr. College</span> </a>
			<h4></h4>
			<p class="text-center">Banswada.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/intermediate/college.png" alt="Bharatrathna Jr. College"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Sri Sai College Of Education </span> </a>
			<h4></h4>
			<p class="text-center">Kotagally, Varni Road, Nizamabad.9440729555 </p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/intermediate/college.png" alt="Bharatrathna Jr. College"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Sri Narayana Junior College </span> </a>
			<h4></h4>
			<p class="text-center">Vinak Nagar, Nizamabad.ph no 9299406961, 9247133633</p>
		</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/intermediate/college.png" alt="Bharatrathna Jr. College"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Vani Vocational Junior College </span> </a>
			<h4></h4>
			<p class="text-center">Hafadh Tower, Near Bodhan Bus Stand, Nizamabad.ph no 9390013092, 9866546357</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/intermediate/college.png" alt="Bharatrathna Jr. College"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Shaankary Junior College</span> </a>
			<h4></h4>
			<p class="text-center">Beside Reliance Petrol Bunk, Arya Nagar,, Nizamabad. ph no 08462 - 651519, 644466, 235333</p>
		</div>
	</div>
</div>