<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Medical colleges</span>
	</h2>
	<div class="thumbnails recentworks row">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/medical/medical_college.jpg" alt="Govt Medical College"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Govt Medical College</span> </a>
			<h4></h4>
			<p class="text-center">Near Busstand, Nizamabad <br>Phone No.08461 - 226310</p>
		</div>
	
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/medical/pharmacy_college.jpg" alt="Ganga Pharmacy College"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Ganga Pharmacy College</span> </a>
			<h4></h4>
			<p class="text-center">Das Nagar, Borgaon(K), Nizamabad <br>Phone No. 08462- 320077/ 280044</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/medical/pharmacy_college.jpg" alt="Tirumala College Of Pharmacy"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Tirumala College Of Pharmacy</span> </a>
			<h4></h4>
			<p class="text-center">Tirumala Nagar, Bardipur (V), Dichpally (M), Dist. Nizamabad <br>Phone No.08461 - 245740, 245750</p>
		</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/medical/dental_college.jpg" alt="Meghana Dental College"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Meghana Dental College</span> </a>
			<h4></h4>
			<p class="text-center">Mallaram Road, Nizamabad </p>
		</div>
				</div>
		
