<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Cold Storages</span>
	</h2>
	<div class="thumbnails recentworks row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/coldstre/sarang.jpg" alt="Sri kmakshi Cold Storage"
						height=200px width=200px></span>
			</div>
			<span class="title">Sri kmakshi Cold Storage</span> </a>
			<h4></h4>
			<p class="text-center">
				685/A/Aa, Kallur, Nizamabad. <br>Mobile no:+(91)-9866866171
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/coldstre/sarang.jpg" alt="Vineet cold storage Pvt.Ltd" height=200px
						width=200px></span>
			</div>
			<span class="title">Vineet cold storage Pvt.Ltd</span> </a>
			<h4></h4>
			<p class="text-center">
				Dharmaram, Nizamabad<br> Phone no:+(91)-8462-656870,221870.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/coldstre/sarang.jpg" alt="T.R.P. Hi-Tech Cold Storage" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">T.R.P. Hi-Tech Cold Storage</span> </a>
			<h4></h4>
			<p class="text-center">
				Kallur Road, Khanpoor vlg, Nizamabad.<br> Phone
				no:08462-650517,222517
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/coldstre/sarang.jpg" alt="Sarang Hitech Cold Storage Pvt.ltd" height=200px
						width=200px></span>
			</div>
			<span class="title">Sarang Hitech Cold Storage Pvt.ltd</span> </a>
			<h4></h4>
			<p class="text-center">
				Servey no 107/1, hyd road, Madhav Nagar, Nizamabad.<br> Mobile
				no:+(91)-91235708.
			</p>
		</div>
	</div>
</div>