<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Computer Institutes</span>
	</h2>
	<div class="thumbnails recentworks row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/compinst/geeklabs.jpg" alt="Geek Labs"
						height=200px width=200px></span>
			</div>
			</span> <span class="title">Geek Labs </span> </a>
			<h4></h4>
			<p class="text-center">First Floor Raj Rajeshwar Complex,Near Sai
				Mess, Nizamabad.Ph:9542934219</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/compinst/athma.JPG" alt="Athma Institute"
						height=200px width=200px>
				</span>
			</div>
			</span> <span class="title"> Athma Institute </span> </a>
			<h4></h4>
			<p class="text-center">
				Opp Sun Flower School, Thirumala Talkies X Road, Nizamabad.<br>Phone
				no+(91)-9848217066
			</p>
		</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/compinst/winner.jpg" alt="Winner Institutes"
						height=200px width=200px></span>
			</div>
			</span> <span class="title">Winner Institutes </span> </a>
			<h4></h4>
			<p class="text-center">
				Raja Rajeshwara Complex, Khaleelwadi, Near New Bus Stand, Nizamabad
				<br>Phone no +(91)-8790231004, 9014187296
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/compinst/ats.jpg" alt="ATS Computer,1st Floor"
						height=200px width=200px>
				</span>
			</div>
			</span> <span class="title">ATS Computer,1st Floor </span> </a>
			<h4></h4>
			<p class="text-center">
				Hari Charan Marwari Complex, Nizamabad Ho, Nizamabad.<br>Phone
				no+(91)-9440633344
			</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/compinst/shakthi.jpg" alt="Shakthi Creations"
						height=200px width=200px>
				</span>
			</div>
			</span> <span class="title">Shakthi Creations</span> </a>
			<h4></h4>
			<p class="text-center">Raja Rajeshwara Complex, Khaleelwadi, Near
				New Bus Stand, Nizamabad</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/compinst/shrirajan.jpg"
						alt="Shri Rajan Video Mixing" height=200px width=200px>
				</span>
			</div>
			</span> <span class="title">Shri Rajan Video Mixing</span> </a>
			<h4></h4>
			<p class="text-center">Raja Rajeshwara Complex, Khaleelwadi, Near
				New Bus Stand, Nizamabad</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/compinst/sisi-cmits.jpg" alt="SISI-CMITS"
						height=200px width=200px>
				</span>
			</div>
			</span> <span class="title">SISI-CMITS</span> </a>
			<h4></h4>
			<p class="text-center">Raja Rajeshwara Complex, Khaleelwadi, Near
				New Bus Stand, Nizamabad</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/compinst/pacecomp.jpg" alt="Pace Computers"
						height=200px width=200px></span>
			</div>
			</span> <span class="title">Pace Computers</span> </a>
			<h4></h4>
			<p class="text-center">Thirumala Talkies X Road, Nizamabad.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/compinst/satym.jpg" alt="Satyam Computers"
						height=200px width=200px></span>
			</div>
			</span> <span class="title">Satyam Computers</span> </a>
			<h4></h4>
			<p class="text-center">opp Thirumala Talkies, Thirumala Talkies X
				Road, Nizamabad.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/compinst/comp4.jpg" alt="NIIT Institute"
						height=200px width=200px>
				</span>
			</div>
			</span> <span class="title">NIIT Institute </span> </a>
			<h4></h4>
			<p class="text-center">Opp:ssr degree
				college,khleelwadi,Nizamabad</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/compinst/comp4.jpg" alt="Arena Animation "
						height=200px width=200px></span>
			</div>
			</span> <span class="title">Arena Animation </span> </a>
			<h4></h4>
			<p class="text-center">5-7-44, 2nd Floor, Khaleelwadi, Nizamabad
				Ho, Besides S.s.r. Jr. College Lane, Nizamabad</p>
		</div>
	</div>
</div>