
<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Courier Services</span>
	</h2>
	<div class="thumbnails recentworks row">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/couriers/courier1.png" alt="blue dart"
						height=200px width=200px>
			</div>
			<span class="title">Blue Dart</span> </a>
			<h4></h4>
			<p class="text-center">
				H no 3-7-640, Shivajinagar, Near Canara Bank, Bada bazaar,
				Nizamabad.<br> Mobile +(91)-9290064133
			</p>
		</div>
		
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/couriers/courier1.png" alt="professional"
						height=200px width=200px>
			</div>
			 <span class="title">Professional Couriers</span> </a>
			<h4></h4>
			<p class="text-center">
				Near NTR statue, opp. TNGO Building, Nizamabad.<br> Phone
				+(91)-8462-224072
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/couriers/courier1.png" alt="ANL Courier/Pracel Services" height=200px
						width=200px></span>
			</div>
			<span class="title">ANL Courier/Pracel Services</span> </a>
			<h4></h4>
			<p class="text-center">
				APSRTC bus stand premises, Nizamabad.<br> Phone
				+(91)-8462-645431
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/couriers/courier1.png" alt="DTDC Courier Services"
						height=200px width=200px></span>
			</div>
			<span class="title">DTDC Courier Services</span> </a>
			<h4></h4>
			<p class="text-center">5-5-34/1, Khaleelwadi, Nizamabad.Phone No +(91)-9390329177
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/couriers/courier1.png" alt="Post Office"
						height=200px width=200px></span>
			</div>
			<span class="title">Post Office</span> </a>
			<h4></h4>
			<p class="text-center"> Bada Bazar, Nizamabad.Phone No +(91)8462-220038
			</p>
		</div>
	</div>
</div>