<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>DJ and Bands</span>
	</h2>
	
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/dj/rasheed.jpg" alt="vamshi dj" height=400px
						width=70px>
				</span>
			
			<br>
	<table  border=2>
	<thead>
		<tr align="center">
			<th scope="col">Dj&Band</th>
			<th scope="col">Address</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong class="book-title"><br>Vamshi Dj</strong></td>
			<td class="item-stock"> R P road, Nizamabad.<br> Mobile no:+(91)-9848202214.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Popular sound</strong></td>
			<td class="item-stock">Ratan Complex, Varni road, Padma Nagar, Nizamabad<br> Mobile
				no:+(91)-9908893670.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Anjana DJ</strong></td>
			<td class="item-stock">Nizamabad.<br>Mobile no:+(91)-9948385263.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Sri SAI DJ</strong></td>
			<td class="item-stock">Ailapoor Nandipet, Nizamabad.<br> Mobile no:+(91)-8897584747.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Ramji Sound</strong></td>
			<td class="item-stock">Near Bada Bazaar, Nizamabad<br> Mobile no:+(91)-9032940406.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>AF Sound</strong></td>
			<td class="item-stock">Near Badi Masjid, Bodhan, Nizamabad.<br> Mobile no:+(91)-9553160609.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Rasheed Sound</strong></td>
			<td class="item-stock">Armoor Road, Kanteshwar, Nizamabad.<br>Mobile no:+(91)-9848220243.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Ravi DJ Services</strong></td>
			<td class="item-stock">Nizamabad. <br>Mobile no:+(91)-8500441736.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Team DJ</strong></td>
			<td class="item-stock">Nizamabad.<br> Mobile no:+(91)-9948442449.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Rock Star DJ Sounds</strong></td>
			<td class="item-stock">Dichpally, Nizamabad.<br> Mobile no:+(91)-9963380242.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Nani DJ Rocks</strong></td>
			<td class="item-stock">Dupally Renjal, Nizamabad.<br>Mobile no:+(91)-9502881555.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Sri Matha DJ Sound</strong></td>
			<td class="item-stock">Yedpally, Nizamabad.<br> Mobile no:+(91)-8790001720.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Sri Bhavani DJ</strong></td>
			<td class="item-stock">Goutham Nagar, Near Hanuman Temple, Nizamabad.<br> Mobile
				no:+(91)-9573678457.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Om Namashivaya Musical Band and DJ</strong></td>
			<td class="item-stock">Near Gole Hanuman, Nizamabad.<br> Mobile no:+(91)-9951081481.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Seven Hills DJ</strong></td>
			<td class="item-stock">Near chaitanya High school, Varni road, Nizamabad.<br> Mobile
				no:+(91)-9533434377.</td>
		</tr>
	</tbody>
	</table>
</div>
