<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Freelancers</span>
	</h2>
	<div class="thumbnails recentworks row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/freelancers/freelancer3.jpg" alt="Vigneshwara Digital Creation"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Vigneshwara Digital Creation</span> </a>
			<h4></h4>
			<p class="text-center">
				Nizamabad.<br> Mobile +(91)-9550910209.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/freelancers/freelancer3.jpg" alt="Varsha Multi Printing Works"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Varsha Multi Printing Works</span> </a>
			<h4></h4>
			<p class="text-center">
				Nizamabad. <br>Mobile +(91)-9966616284.
			</p>
		</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/freelancers/freelancer2.jpg" alt="Geek Labs"
					height=200px width=200px>
			</span>
		</div>
		<span class="title">Geek Labs</span> </a>
		<h4></h4>
		<p class="text-center">
			Rajarajeswara Complex 1st Floor, Opp: Chappan Bhog sweet home, Beside
			Sai Mess Line, Nizamabad. <br>Mobile +(91)-9542934219.(Website
			developement).
		</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/freelancers/freelancer3.jpg" alt="Shakthi Creations"
					height=200px width=200px>
			</span>
		</div>
		<span class="title">Shakthi Creations</span> </a>
		<h4></h4>
		<p class="text-center">Rajarajeswara Complex 1st Floor, Opp:
			Chappan Bhog sweet home, Beside Sai Mess Line Nizamabad.</p>
	</div>
</div>
</div>