<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Function Halls</span>
	</h2>
	<div class="thumbnails recentworks row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/functionhalls/sravya.JPG" alt="Sravya Gardens" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Sravya Gardens</span> </a>
			<h4></h4>
			<p class="text-center">Armoor Road, Kanteshwar, Nizamabad(Dist.). Phone No 08462-230468</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/functionhalls/srirama.JPG" alt="Sri Rama Function Hall" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Sri Rama Function Hall</span> </a>
			<h4></h4>
			<p class="text-center">Armoor Road, Nizamabad(Dist.)</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/functionhalls/srilaxmi.JPG" alt="Sri Laxmi Function Hall Function Hall" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Sri Laxmi Function Hall</span> </a>
			<h4></h4>
			<p class="text-center">Armoor Road, Nizamabad(Dist.)</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/functionhalls/fun4.jpg" alt="Sri Vijaya laxmi Gardens A/C" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Sri Vijaya laxmi Gardens A/C</span> </a>
			<h4></h4>
			<p class="text-center">Near Phulong bridge, Vinayaknagar,
				Nizamabad(Dist), Telangana. Phone No 08462-236844</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/functionhalls/fun4.jpg" alt="Blue Diamond Function Hall" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Blue Diamond Function Hall</span> </a>
			<h4></h4>
			<p class="text-center">Quilla Road, Nizamabad(Dist.)</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/functionhalls/fun4.jpg" alt="T T D Kalyana Mandapam" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">T T D Kalyana Mandapam</span> </a>
			<h4></h4>
			<p class="text-center">Phulong chowrastha, Nizamabad(Dist.),
				Telangana. Phone No 08462-231168</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/functionhalls/fun4.jpg" alt="Baswa Garden" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Baswa Garden</span> </a>
			<h4></h4>
			<p class="text-center">Vinayak nagar, Nizamabad(Dist.),
				Telangana.Phone No 9848016506</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/functionhalls/fun4.jpg" alt="Bingi Function Hall" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Bingi Function Hall</span> </a>
			<h4></h4>
			<p class="text-center">Aryanagar, Nizamabad(Dist.),
				Telangana.Phone No 9848392910</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/functionhalls/fun4.jpg" alt="Classic Function Hall" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Classic Function Hall</span> </a>
			<h4></h4>
			<p class="text-center">Quilla Road, Nizamabad(Dist.),
				Telangana.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/functionhalls/fun4.jpg" alt="Decent Function Hall" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Decent Function Hall</span> </a>
			<h4></h4>
			<p class="text-center">Quilla Road, Nizamabad(Dist.),
				Telangana.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/functionhalls/fun4.jpg" alt="Gone Reddy Kalyana Mandapam" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Gone Reddy Kalyana Mandapam</span> </a>
			<h4></h4>
			<p class="text-center">Near Phulong X road, Janda galli, Nizamabad(Dist.),
				Telangana.Phone No 08462-221984</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/functionhalls/fun4.jpg" alt="Kaja Venkataratnam Kalyana Manadapam (Kamma Sanagam)" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Kaja Venkataratnam Kalyana Manadapam (Kamma Sanagam)</span> </a>
			<h4></h4>
			<p class="text-center">Madhavnagar, Nizamabad(Dist.),
				Telangana.Phone No 9440533254</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/functionhalls/fun4.jpg" alt="Laxmi Kalyana Manadapam" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Laxmi Kalyana Manadapam </span> </a>
			<h4></h4>
			<p class="text-center">Armoor Road, Kanteshwar, Nizamabad(Dist.),
				Telangana. Phone No 9440533254</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/functionhalls/fun4.jpg" alt="Mijra Function Hall" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Mijra Function Hall</span> </a>
			<h4></h4>
			<p class="text-center">Quilla Road, Nizamabad(Dist.),
				Telangana. Phone No 08462-224229</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/functionhalls/fun4.jpg" alt="Munnuru Kapu Kalyana Mandapam" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Munnuru Kapu Kalyana Mandapam</span> </a>
			<h4></h4>
			<p class="text-center">Varni Road, Shivajinagar, Nizamabad(Dist.),
				Telangana. Phone No 08462-290243</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/functionhalls/fun4.jpg" alt="National Function Hall" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">National Function Hall</span> </a>
			<h4></h4>
			<p class="text-center">Quilla Road, Nizamabad(Dist.),
				Telangana. Phone No 08462-250842/p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/functionhalls/fun4.jpg" alt="NGO's Function Hall" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">NGO's Function Hall</span> </a>
			<h4></h4>
			<p class="text-center">Subhasnagar, Nizamabad(Dist.),
				Telangana.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/functionhalls/fun4.jpg" alt="Nizamabad Munnuru Kapu Kalyana Mandapam" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Nizamabad Munnuru Kapu Kalyana Mandapam</span> </a>
			<h4></h4>
			<p class="text-center">Pragathinagar, Nizamabad(Dist.),
				Telangana. Phone No 08462-290223</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/functionhalls/fun4.jpg" alt="Rotary Community Hall" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Rotary Community Hall</span> </a>
			<h4></h4>
			<p class="text-center">Subhashnagar, Nizamabad(Dist.),
				Telangana. Phone No 08462-554123</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/functionhalls/fun4.jpg" alt="Sana Garden" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Sana Garden</span> </a>
			<h4></h4>
			<p class="text-center">Quilla Road, Nizamabad(Dist.),
				Telangana. Phone No 08462-554123</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/functionhalls/fun4.jpg" alt="Viceroy Gardens" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Viceroy Gardens</span> </a>
			<h4></h4>
			<p class="text-center">Armoor Road, Mubaraknagar, Nizamabad(Dist.),
				Telangana. Phone No 08462-239454</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/functionhalls/fun4.jpg" alt="Venkateshwara kalyan mandapam" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Venkateshwara kalyan mandapam</span> </a>
			<h4></h4>
			<p class="text-center">Near Chaitanya public school, Gayathrinagar, Nizamabad(Dist.),
				Telangana. </p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/functionhalls/fun4.jpg" alt="Brindavan Gardens" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Brindavan Gardens</span> </a>
			<h4></h4>
			<p class="text-center">Near Eenadu office, Hyderabad Road, Nizamabad(Dist.),
				Telangana. </p>
		</div>
		
</div>
</div>
