<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Gas Agencies</span>
	</h2>
	<table border=2>
	<thead>
		<tr align="center">
			<th scope="col">Agency</th>
			<th scope="col">Address</th>
			<th scope="col">Phone/Mobile Number</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong class="book-title"><br>Shilpa Gas Agencies</strong></td>
			<td class="item-stock">Vinayak Nagar, Road No 13, Nizamabad.</td>
			<td class="item-qty">Phone no:+(91)-8462-233790.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Indane Gas</strong></td>
			<td class="item-stock">D No.5-6-526/4, Hyderabad Road,Nizamabad.</td>
			<td class="item-qty">Phone no:+(91)-8462-254666.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Jayasri Gas agencies</strong></td>
			<td class="item-stock">Yellamagutta Road, Nizamabad.</td>
			<td class="item-qty">Phone no:+(91)-8462-255090.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Gayatri Agencies</strong></td>
			<td class="item-stock">D No.6-1-41/1, yellareddy, Nizamabad.</td>
			<td class="item-qty">Phone no:+(91)-8462-228780.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Sri Sai Gas Suppliers </strong></td>
			<td class="item-stock">Beside pragathi hospital, Nizamabad.</td>
			<td class="item-qty">Phone no:+(91)-8462-254555.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Barath Gas Work</strong></td>
			<td class="item-stock">Beside Sindh Bavan, Railway station Road, Nizamabad.</td>
			<td class="item-qty">Mobile no:+(91)-9949329927.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Jaya sree Gas Agency</strong></td>
			<td class="item-stock">D No.6-1-41/1, yellareddy, Nizamabad.</td>
			<td class="item-qty">Phone no:+(91)-8462-255090.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Ananth Gas</strong></td>
			<td class="item-stock">jenapally Road, Nizamabad.</td>
			<td class="item-qty">Phone no:+(91)-8462-221025.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Indur Jawan Gas Agency</strong></td>
			<td class="item-stock">Saraswathi nagar, Nagaram, Nizamabad.</td>
			<td class="item-qty">Mobile no:+(91)-9848034160.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Thirumala Gas agencies</strong></td>
			<td class="item-stock">Opp. Hero Honda Showroom, Hyderabad Road, Nizamabad.</td>
			<td class="item-qty">Phone no:+(91)-8462-254666.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Metro Gas</strong></td>
			<td class="item-stock">Opp.Mulla Ashraf Masjid, Armoor Road, Nizamabad.</td>
			<td class="item-qty">Mobile no:+(91)-9059837016.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Dikshit Gas Agency</strong></td>
			<td class="item-stock">D No.1-4-783, Near Andhra bank, Goshala Road, Rakasipet, Bodhan,
			Nizamabad.</td>
			<td class="item-qty">Phone no:+(91)-8462-222123.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Savera Gas Agency</strong></td>
			<td class="item-stock">D No.3-2-99/12/13, Kamala Nehru colony, Nizamabad.</td>
			<td class="item-qty">Phone no:+(91)-8462-222551.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Shekar Gas Suppliers</strong></td>
			<td class="item-stock">D No.5-4-157, yellamagutta, Nizamabad Ho, Nizamabad.</td>
			<td class="item-qty">Phone no:+(91)-8462-232086.</td>
		</tr>
		<tr>
			<td><strong class="book-title"><br>Sri Saibaba Agencies</strong></td>
			<td class="item-stock">D No.4-2-77, pawan Complex, opp. Anil theatre, Saraswathi nagar, Bodhan,
			Nizamabad.</td>
			<td class="item-qty">Phone no:+(91)-8462-222198.</td>
		</tr>
	</tbody>
	</table>
	</div>
	
	
	
	
	
	
	
	
	
	
	
	
	