<div class="row section recentworks topspace">

	<h2 class="section-title">
		<span>Real Estate</span>
	</h2>
	<div class="thumbnails recentworks row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/realeste/shivaji.jpg" alt="Shivaji Group" height=200px
					width=200px> <span class="cover"> </span>
			</span> <span class="title">Shivaji Group</span>
			</a>
			<h4></h4>
			<p class="text-center">
				Gurubabadi Road, Dubba, Nizamabad.<br> Phone no:+91-8462-230116
			</p>
		</div>
	</div>
</div>