<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Tiles and Sanitary</span>
	</h2>
	<div class="thumbnails recentworks row">
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/tiles/sribajarang.jpg" alt="Sri Bajarang Tiles"
						height=200px width=200px>
			</div>
			</span><span class="title">Sri Bajarang Tiles</span> </a>
			<h4></h4>
			<p class="text-center">
				Nizamabad. <br>Phone no:+(91)-9490840831.
			</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/tiles/indur.jpg" alt="Indur Traders" height=200px
						width=200px>
			</div>
			</span> <span class="title">Indur Traders</span> </a>
			<h4></h4>
			<p class="text-center">
				Armoor road, Nizamabad. <br>Phne no: +(91)-8462-230861.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeee">
				<a class="thumbnail" href="http://satyamtilesnzb.in/"> <span class="img"> <img
						src="images/others/tiles/satyamshop_photo.jpg" alt="Satyam Tiles"
						height=200px width=200px>
			</div>
			</span><span class="title">Satyam Tiles</span> </a>
			<h4></h4>
			<p class="text-center">
				Opp. Vijay High school, Mubarak Nagar, Nizamabad.<br>Phone no:+(91)-9848940120.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/tiles/omtrading.jpg" alt="Om Trading Company"
						height=200px width=200px>
			</div>
			</span> <span class="title">Om Trading Company</span> </a>
			<h4></h4>
			<p class="text-center">
				Armoor Road, Nizamabad. <br>Phone no: +(91)-8462-230875.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/tiles/srivijaya.jpg" alt="Sri Vijaya Laxmi Enterprises"
						height=200px width=200px>
			</div>
			</span> <span class="title">Sri Vijaya Laxmi Enterprises</span> </a>
			<h4></h4>
			<p class="text-center">
				Hyd Road, Nizamabad.<br> Phone no: +(91)-8462-236433.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/tiles/vijaylaxmi.jpg" alt="Vijay Laxmi Nilayam"
						height=200px width=200px>
			</div>
			</span> <span class="title">Vijay Laxmi Nilayam</span> </a>
			<h4></h4>
			<p class="text-center">
				Dwaraka Nagar, Nizamabad.<br> Phone no: +(91)-8462-250320.

			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/tiles/darmahendra.jpg" alt="Dharmahendra Singh"
						height=200px width=200px>
			</div>
			</span> <span class="title">Dharmahendra Singh</span> </a>
			<h4></h4>
			<p class="text-center">
				Weekly Bazar Chowrasta, Nizamabad.<br> Mobile no:
				+(91)-9652804001.
			</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/tiles/laxmi.jpg" alt="Laxmi Slabs" height=200px
						width=200px>
			</div>
			</span> <span class="title">Laxmi Slabs</span> </a>
			<h4></h4>
			<p class="text-center">
				Vinayak Nagar, Nizamabad. <br>Phone no:+91-8462-234231.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/tiles/tiles.jpg" alt="Tiles" height=200px
						width=200px>
			</div>
			</span> <span class="title">Tiles</span> </a>
			<h4></h4>
			<p class="text-center">
				Vinayak Nagar, Nizamabad. <br>Mobile no:+(91)-9032299168.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/tiles/modern.jpg" alt="Modern Flooring Tiles" height=200px
						width=200px>
			</div>
			</span> <span class="title">Modern Flooring Tiles</span> </a>
			<h4></h4>
			<p class="text-center">
				Bodhan Road, Nizamabad.<br> phone no: +(91)-8462-223344.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/tiles/laxmi.jpg" alt="Laxmi Granites" height=200px
						width=200px>
			</div>
			</span> <span class="title">Laxmi Granites</span> </a>
			<h4></h4>
			<p class="text-center">
				Armoor Road, Nizamabad.<br> Mobile no:+(91)-9908210560.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/tiles/sribajarang.jpg" alt="Sai Bajarang Tilesgallery"
						height=200px width=200px>
			</div>
			</span> <span class="title">Sai Bajarang Tilesgallery</span> </a>
			<h4></h4>
			<p class="text-center">
				Armoor Road,Nizamabad.<br> Mobile no:+(91)-9490240831.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/tiles/mars.jpg" alt="Mars stone and Tiles Merchant" height=200px
						width=200px>
			</div>
			</span> <span class="title">Mars stone and Tiles Merchant</span> </a>
			<h4></h4>
			<p class="text-center">
				Arsapally, Nizamabad.<br> Phone no:+91-8462-229649.
			</p>
		</div>
	</div>
</div>