
<div class="row section recentworks topspace">
<h2 class="section-title">
		<span>Tractor ShowRooms</span>
	</h2>
	<div class="thumbnails recentworks row">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="" alt="Mahindra Show Room " height=200px
					width=200px>
			</span>
		</div>
		</span> <span class="title">Mahindra Show Room </span> </a>
		<h4></h4>
		<p class="text-center">Vinayak nagar, Nizamabad
		</p>
	</div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="" alt="Sham Agencies Swaraj Show Room" height=200px
					width=200px>
			</span>
		</div>
		</span> <span class="title">Sham Agencies Swaraj Show Room</span> </a>
		<h4></h4>
		<p class="text-center">
			Hyderabad Road,Pragathi Nagar, Nizamabad.
		</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="" alt="Sharanam Tractor Garage" height=200px
					width=200px>
			</span>
		</div>
		</span> <span class="title">Sharanam Tractor Garage </span> </a>
		<h4></h4>
		<p class="text-center">
		Vinayaka Nagar,Hyd Road, Opp Hanuman Temple, Nizamabad 
		</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="" alt="Sri Devi Engeering Works " height=200px
					width=200px>
			</span>
		</div>
		</span> <span class="title">Sri Devi Engeering Works </span> </a>
		<h4></h4>
		<p class="text-center">
			Vinayaka Nagar, Nizamabad Ho, Hyderabad Road, Nizamabad
		</p>
	</div>
	
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="" alt="Panchasheel Agencies" height=200px
					width=200px>
			</span>
		</div>
		</span> <span class="title">Panchasheel Agencies </span> </a>
		<h4></h4>
		<p class="text-center">
			5-6-463/A1, Road No 1, Nizamabad , Pragathi Nagar, Nizamabad 
		</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="" alt="Sri Sri Auto Tractors Pvt.Ltd" height=200px
					width=200px>
			</span>
		</div>
		</span> <span class="title">Sri Sri Auto Tractors Pvt.Ltd</span> </a>
		<h4></h4>
		<p class="text-center">
			Door No 5-6-573/7a, Phulong, Hyderabad Road, Nizamabad.
		</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="" alt="Jockey Exclusive Show Room " height=200px
					width=200px>
			</span>
		</div>
		</span> <span class="title">Jockey Exclusive Show Room </span> </a>
		<h4></h4>
		<p class="text-center">
			Nizamabad ,Phone No +(91)-8712340011.
		</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="" alt="Agrolux Tractor Show Room " height=200px
					width=200px>
			</span>
		</div>
		</span> <span class="title">Agrolux Tractor Show Room </span> </a>
		<h4></h4>
		<p class="text-center">
			Mahalaxmi Nagar,Hyd Road, Opp Substation, Nizamabad.phone No +(91)-8462-235116.
		</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="" alt="Peter England Show Room" height=200px
					width=200px>
			</span>
		</div>
		</span> <span class="title">Peter England Show Room </span> </a>
		<h4></h4>
		<p class="text-center">
			Nizamabad ,Phone No +(91)-8712340011.
		</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="" alt="Undravalli Tractor Showroom" height=200px
					width=200px>
			</span>
		</div>
		</span> <span class="title">Undravalli Tractor Showroom </span> </a>
		<h4></h4>
		<p class="text-center">	Hyderabad Road, Madhavnagar, NIZAMABAD.Phone No +(91)-9908541099.
		</p>
	</div>
</div>
</div>
