<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Tv ShowRooms </span>
	</h2>
	<div class="thumbnails recentworks row">
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/tvshwrms/tvshowrooms.jpg" alt="Priyanka E-zone" height=200px
						width=200px>
				</span>
			</div>
			</span> <span class="title">Lalitha Electronics</span> </a>
			<h4></h4>
			<p class="text-center">Gandhi chowk, Nizamabad.<br>Phone No 08462-232241</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/tvshwrms/tvshowrooms.jpg" alt="Priyanka E-zone" height=200px
						width=200px>
				</span>
			</div>
			</span> <span class="title">Priyanka E-zone</span> </a>
			<h4></h4>
			<p class="text-center">Gandhi chowk opp:masjid, Nizamabad.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/tvshwrms/greendust.JPG" alt="Priyanka E-zone" height=200px
						width=200px>
				</span>
			</div>
			</span> <span class="title">Green Dust</span> </a>
			<h4></h4>
			<p class="text-center">H No. 1-567, Opp. T.T.D Kalyanamandapam, Jandagally, Nizamabad.<br>Phone No. 08462-235966, <br>Mobile No. 9030777790</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/tvshwrms/tvshowrooms.jpg" alt="Shiva ganga TV Showroom " height=200px
						width=200px>
				</span>
			</div>
			</span> <span class="title">Shiva Ganga TV Showroom </span> </a>
			<h4></h4>
			<p class="text-center">
				Near Busstand Mahalaxmi Road, Armoor, Nizamabad <br>Phone No:
				+(91)-984834424.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/tvshwrms/tvshowrooms.jpg" alt="Satguru Enterprises" height=200px
						width=200px>
				</span>
			</div>
			</span> <span class="title">Satguru Enterprises </span> </a>
			<h4></h4>
			<p class="text-center">
				No:2-7-79, Jawahar Road,Nizamabad.<br>Phne no: +(91)-9246765111.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/tvshwrms/tvshowrooms.jpg" alt="Sri devi Electronics" height=200px
						width=200px>
				</span>
			</div>
			</span> <span class="title"> Sri devi Electronics </span> </a>
			<h4></h4>
			<p class="text-center">
				R.P Road,Nizamabad. <br>Phone No: +(91)-8462-224248
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/tvshwrms/tvshowrooms.jpg" alt="Bajaj Agencies" height=200px
						width=200px>
				</span>
			</div>
			</span> <span class="title"> Bajaj Agencies </span> </a>
			<h4></h4>
			<p class="text-center">
				R.P Road, Gandhi chowk, Nizamabad. <br>Phone No: +(91)-8462-251010.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/tvshwrms/tvshowrooms.jpg" alt="Roshini Electronics" height=200px
						width=200px>
				</span>
			</div>
			</span> <span class="title"> Roshini Electronics </span> </a>
			<h4></h4>
			<p class="text-center">
				Saraswathinagar, Nizamabad. <br>
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/tvshwrms/tvshowrooms.jpg" alt="Laxmi Enterprises" height=200px
						width=200px>
				</span>
			</div>
			</span> <span class="title"> Laxmi Enterprises  </span> </a>
			<h4></h4>
			<p class="text-center">
				Hyderabad Road, Nizamabad. <br>Phone No: +(91)-8462-255355.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/tvshwrms/tvshowrooms.jpg" alt="Srr Enterprises" height=200px
						width=200px>
				</span>
			</div>
			</span> <span class="title"> Srr Enterprises  </span> </a>
			<h4></h4>
			<p class="text-center">
				Weekly Bazar, Nizamabad. <br>Phone No: +(91)-8462-225063.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/tvshwrms/tvshowrooms.jpg" alt="Teja Electronics" height=200px
						width=200px>
				</span>
			</div>
			</span> <span class="title">Teja Electronics  </span> </a>
			<h4></h4>
			<p class="text-center">
				Rp Road, Khaleelwadi, Nizamabad. <br>Phone No: +(91)-8462-254871.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/tvshwrms/tvshowrooms.jpg" alt="Raj Electronics" height=200px
						width=200px>
				</span>
			</div>
			</span> <span class="title">Raj Electronics</span> </a>
			<h4></h4>
			<p class="text-center">
				Rp Road,  Nizamabad. <br>Phone No: +(91)-9949556176.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/tvshwrms/tvshowrooms.jpg" alt="Tirumala Electronics Nizamabad" height=200px
						width=200px>
				</span>
			</div>
			</span> <span class="title">Tirumala Electronics Nizamabad</span> </a>
			<h4></h4>
			<p class="text-center">
				Rp Road,  Nizamabad. <br>Phone No: +(91)-9885062917.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/tvshwrms/tvshowrooms.jpg" alt="Royal  Enterprises Electronics" height=200px
						width=200px>
				</span>
			</div>
			</span> <span class="title">Royal  Enterprises Electronics </span> </a>
			<h4></h4>
			<p class="text-center">
				Vijay Talkies Complex,  Nizamabad. <br>Phone No: +(91)-9951500273.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/tvshwrms/tvshowrooms.jpg" alt="Siddiq Enterprises" height=200px
						width=200px>
				</span>
			</div>
			</span> <span class="title">Siddiq Enterprises </span> </a>
			<h4></h4>
			<p class="text-center">
				Azam Road,  Nizamabad. <br>Phone No: +(91)-9666618880.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/others/tvshwrms/tvshowrooms.jpg" alt="Sujatha Enterprises" height=200px
						width=200px>
				</span>
			</div>
			</span> <span class="title">Sujatha Enterprises </span> </a>
			<h4></h4>
			<p class="text-center">
				Devi Road,  Nizamabad. <br>Phone No: +(91)-9849863064.
			</p>
		</div>
		
	</div>
</div>

