<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Watches</span>
	</h2>
	<div class="thumbnails recentworks row">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgeee">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/watchgenrl/watches.jpg" alt="Madina Watch Centre" height=200px
					width=200px>
			</span>
		</div>
		</span> <span class="title">Madina Watch Centre</span> </a>
		<h4></h4>
		<p class="text-center">Bodhan Road, Nizamabad, India, 503001</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgeee">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/watchgenrl/watches.jpg" alt="Royal Watch"
					height=200px width=200px>
			</span>
		</div>
		</span> <span class="title">Royal Watch </span> </a>
		<h4></h4>
		<p class="text-center">Dubba Road, Nizamabad,India, 503002.</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgeee">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/watchgenrl/watches.jpg" alt="Rashed WatchShop"
					height=200px width=200px>
			</span>
		</div>
		</span> <span class="title"> Rashed WatchShop </span> </a>
		<h4></h4>
		<p class="text-center">Nehru Park, Beside Bata Showroom,
			Nizamabad,India, 503001</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgeee">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/watchgenrl/watches.jpg" alt="World Of Titan - Raj Enterprises" height=200px
					width=200px>
			</span>
		</div>
		</span> <span class="title">World Of Titan - Raj Enterprises </span> </a>
		<h4></h4>
		<p class="text-center">#4-6-570/3A/1, Swarna Complex, Beside Hero
			Showroom, Hyd Road, Nizamabad,India, 503001</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgeee">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/watchgenrl/watches.jpg" alt="Laxmi Narasimha watch store" height=200px
					width=200px>
			</span>
		</div>
		</span> <span class="title">Laxmi Narasimha watch store </span> </a>
		<h4></h4>
		<p class="text-center">Shivaji Nagar, Nizamabad,India, 503001</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgeee">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/others/watchgenrl/watches.jpg" alt="Dawood Enterprise" height=200px
					width=200px>
			</span>
		</div>
		</span> <span class="title">Dawood Enterprise </span> </a>
		<h4></h4>
		<p class="text-center">Gandhi Chowk, Nizamabad, India, 503001</p>
	</div>
</div>
</div>