<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Fastfood-Dinning</span>
	</h2>
	<div class="thumbnails recentworks row">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/fooddining/fastfudtifin/anufastfood.jpg"
						alt="Anu Fast Food" height=200px width=200px></span>
			</div>
			<span class="title">Anu Fast Food</span> </a>
			<h4></h4>
			<p class="text-center">
				Near Bus stand, Nizamabad.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/fooddining/fastfudtifin/heavenly.jpg"
						alt="Sri Sai Heavenly" height=200px width=200px></span>
			</div>
			<span class="title">Sri Sai Heavenly</span> </a>
			<h4></h4>
			<p class="text-center">
				Near Bus stand, Nizamabad.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/fooddining/fastfudtifin/fastfood3.png"
						alt="Sri Food Corner" height=200px width=200px></span>
			</div>
			<span class="title">Sri Food Corner</span> </a>
			<h4></h4>
			<p class="text-center">
				Near Bus stand, Nizamabad.
			</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/fooddining/fastfudtifin/fastfood3.png"
						alt="Sri Shiva Sai" height=200px width=200px></span>
			</div>
			<span class="title">Sri Shiva SAI Fast Food Center</span> </a>
			<h4></h4>
			<p class="text-center">
				Gayathri Nagar, Nizamabad.<br>Phone +(91)-9849436525
			</p>
		</div>
		
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/fooddining/fastfudtifin/fastfood3.png" alt="Navarang Chines"
						height=200px width=200px></span>
			</div>
			<span class="title">Navarang Chinese Fast Food Center </span> </a>
			<h4></h4>
			<p class="text-center">
				Subhash Nagar,Nizamabad.<br>Phone +(91)-9908375001
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/fooddining/fastfudtifin/fastfood3.png"
						alt="Seven Star" height=200px width=200px></span>
			</div>
			<span class="title">Seven Star Chainis Fast Food Center</span> </a>
			<h4></h4>
			<p class="text-center">
				Bodhan Road, Nizamabad.<br>Phone +(91)-9010660175
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/fooddining/fastfudtifin/fastfood3.png" alt="Dikkis Fast Food"
						height=200px width=200px></span>
			</div>
			<span class="title">Dikkis Fast Food </span> </a>
			<h4></h4>
			<p class="text-center">
				College Complex, Kanteshwar, Nizamabad.<br>Phone No+(91)-9912927510.
			</p>
		</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/fooddining/fastfudtifin/fastfood3.png" alt="Mg Family Kitchen"
						height=200px width=200px></span>
			</div>
			<span class="title">Mg family Kitchen Fast Food Center</span> </a>
			<h4></h4>
			<p class="text-center">
				 Nizamabad.<br>Phone No+(91)-9177882977
			</p>
		</div>
	</div>
</div>

