<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Hotels</span>
	</h2>
	<div class="thumbnails recentworks row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/fooddining/Hotels/htlnikilsai.jpg" alt="Nikhil Sai"
						height=200px width=200px></span>
			</div>
			<span class="title">Nikhil Sai International</span> </a>
			<h4></h4>
			<p class="text-center">
				D No 5-6-661, Hyderabad Road.<br>Phone No +(91)-8462-236634
			</p>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/fooddining/Hotels/aroma.jpg" alt="Aroma" height=200px
						width=200px></span>
			</div>
			<span class="title">Aroma</span> </a>
			<h4></h4>
			<p class="text-center">Pragathi Nagar,Hyderabad Road, Nizamabad.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/fooddining/Hotels/hotelvamshee.jpg"
						alt="vamshee International" height=200px width=200px></span>
			</div>
			<span class="title">Vamshee International Hotel. </span> </a>
			<h4></h4>
			<p class="text-center">
				Phulong x-road, Hyderabad Road, Nizamabad. <br>Phone No
				+(91)-8462-234848.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""><span class="img"> <img
						src="images/fooddining/Hotels/kapilahotel.jpg" alt="kapila hotel"
						height=200px width=200px></span>
			</div>
			<span class="title">Kapila Hotel</span> </a>
			<h4></h4>
			<p class="text-center">
				Pragathi Nagar,Hyderabad Road, Nizamabad.<br>Phone No +(91)-8462-234561.
			</p>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/fooddining/Hotels/hoteleayu.jpg" alt="Ayu"
						height=200px width=200px></span>
			</div>
			<span class="title">Ayu</span> </a>
			<h4></h4>
			<p class="text-center">Pragathi Nagar,Hyderabad Road, Nizamabad.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/fooddining/Hotels/gouthmi.jpg"
						alt="hotel Goutham Lodge" height=200px width=200px></span>
			</div>
			<span class="title">Hotel Goutham Lodge</span> </a>
			<h4></h4>
			<p class="text-center">Opp. Bus stand, Bodhan.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/fooddining/Hotels/haritha.jpg" alt="haritha Indur Inn"
						height=200px width=200px></span>
			</div>
			<span class="title">Haritha Indur Inn</span> </a>
			<h4></h4>
			<p class="text-center">
				Station Road, Nizamabad. <br>Phone No +(91)-9603667724.
			</p>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/fooddining/Hotels/hotel.jpg" alt="devi" height=200px
						width=200px></span>
			</div>
			<span class="title">Devi Lodge</span> </a>
			<h4></h4>
			<p class="text-center">Kumar Gally, Nizamabad, Phone No
				+(91)-8462-252135</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/fooddining/Hotels/hotel.jpg"
						alt="Sri dhanalaxmi Lodge" height=200px width=200px></span>
			</div>
			<span class="title">Sri Dhanalaxmi Lodge</span> </a>
			<h4></h4>
			<p class="text-center">Arugonda Tower, Nizamabad.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/fooddining/Hotels/hotel.jpg" alt="Santhinivas"
						height=200px width=200px></span>
			</div>
			<span class="title">Santhinivas Lodge </span> </a>
			<h4></h4>
			<p class="text-center">Patel Crircle, Station Road, Nizamabad.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/fooddining/Hotels/hotel.jpg" alt="hotel mayuri"
						height=200px width=200px></span>
			</div>
			<span class="title"> Mayuri Hotel.</span> </a>
			<h4></h4>
			<p class="text-center">
				Near Bus Station, Nizamabad.<br>Phone No +(91)-8462-222925
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/fooddining/Hotels/hotel.jpg" alt="vaishnavi"
						height=200px width=200px></span>
			</div>
			<span class="title">Vaishnavi Residency </span> </a>
			<h4></h4>
			<p class="text-center">
				Near Bus Station, Nizamabad. <br> Phone No +(91)-9885019994.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/fooddining/Hotels/hotel.jpg" alt="Mukundh"
						height=200px width=200px></span>
			</div>
			<span class="title">Mukund Lodge</span> </a>
			<h4></h4>
			<p class="text-center">Nizamabad Road, Banswada, Nizamabad Dist.</p>
		</div>
	</div>
</div>











