<h1>Allahabad  Bank</h1>
<h4>
	<b>Allahabad  Banks in Nizamabad</b>
</h4>
<table class="center">
	<thead>
		<tr align="center">
			<th scope="col">Branch Name</th>
			<th scope="col">IFSC Code</th>
			<th scope="col">MICR Code</th>
			<th scope="col">Branch Code</th>
			<th scope="col">Branch Address</th>
			<th scope="col">Contact</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong class="book-title">ALLA Bank</strong>Pholong Cross Road, Nizamabad</td>
			<td class="item-stock">ALLA0212146</td>
			<td class="item-qty">503010002</td>
			<td class="item-price">212146</td>
			<td class="item-price">Opp. IBP Petrol Bunk, Pholong Cross Road, Nizamabad.</td>
			<td class="item-price">Phone No.08462-234205, email:br.nizamabad@allahabadbank.in</td>
		</tr>
		</tbody>
		</table>
		</head>
		</html>
		