<h1>Andhra Bank</h1>
<h4>
	<b>Andra Banks in Nizamabad</b>
</h4>
<table class="center">
	<thead>
		<tr align="center">
			<th scope="col">Branch Name</th>
			<th scope="col">IFSC Code</th>
			<th scope="col">MICR Code</th>
			<th scope="col">Branch Code</th>
			<th scope="col">Branch Address</th>
			<th scope="col">Contact</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>GSodown Road, Nizamabad</td>
			<td class="item-stock">ANDB0000387</td>
			<td class="item-qty"> 503011002</td>
			<td class="item-price"> 000387</td>
			<td class="item-price">Godown Road, Nizamabad </td>
			<td>Phone:08462-228002</td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>Kamareddy TQ, Nizamabad</td>
			<td class="item-stock">ANDB0000541</td>
			<td class="item-qty"> 503011602</td>
			<td class="item-price"> 000541</td>
			<td class="item-price">Kamareddy TQ, Nizamabad </td>
			<td>Phone:08468-248227</td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>Shivaji Nagar, Nizamabad</td>
			<td class="item-stock">ANDB0000749</td>
			<td class="item-qty"> 503011004</td>
			<td class="item-price"> 000749</td>
			<td class="item-price">D No.10-2-189/1, 1st Floor, Shivaji Nagar, Bada Bazar, Nizamabad</td>
			<td>Phone:08462-246365</td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>Kanteshwar, Nizamabad</td>
			<td class="item-stock">ANDB0001792</td>
			<td class="item-qty"> 503011005</td>
			<td class="item-price"> 001792</td>
			<td class="item-price">No 9189, Survey No 243, Beside Laxmi Kalyana Madapam, Armoor Road, Nizamabad</td>
			<td>Phone:08462-240189</td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>Arya Nagar, Nizamabad</td>
			<td class="item-stock">ANDB0001793</td>
			<td class="item-qty"> 503011006</td>
			<td class="item-price"> 001793</td>
			<td class="item-price">D No.1-13-405/c, R Kumari House, Vinayak Nagar Square Dichpally Road, Nizamabad</td>
			<td>Phone:08462-243370</td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>Zonal Office, Nizamabad</td>
			<td class="item-stock">ANDB0001602</td>
			<td class="item-qty"> NON-MICR</td>
			<td class="item-price"> 001602</td>
			<td class="item-price">D No.5-6-570/2/7A,7B, Ward No.6, JB Towers, Pragathi Nagar, Hyderabad Road, Nizamabad</td>
			<td></td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>Quilla Road, Nizamabad</td>
			<td class="item-stock">ANDB0002266</td>
			<td class="item-qty"> NON-MICR</td>
			<td class="item-price">002266</td>
			<td class="item-price">Beside Pavan Theater, Quilla Road, Nizamabad</td>
			<td>Mobile No. 9959834566</td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>Indalwai, Dichapally Mandal</td>
			<td class="item-stock">ANDB0000030</td>
			<td class="item-qty">503011603</td>
			<td class="item-price">000030</td>
			<td class="item-price">Main Road, Indalwai,Dichapally Mandal, Nizamabad</td>
			<td>Phone No. 235650</td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>Tadkol Road, Banswada.</td>
			<td class="item-stock">ANDB0000197</td>
			<td class="item-qty">503011522</td>
			<td class="item-price">000197</td>
			<td class="item-price">Tadkol Road, Banswada, Nizamabad.</td>
			<td>Phone No.08466-227113</td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>Kamareddy.</td>
			<td class="item-stock">ANDB0000215</td>
			<td class="item-qty">503011102</td>
			<td class="item-price">000215</td>
			<td class="item-price">Siricilla Road, Kamareddy, Nizamabad.</td>
			<td></td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>Jangampalli, Nizamabad.</td>
			<td class="item-stock">ANDB0000276</td>
			<td class="item-qty">503011583</td>
			<td class="item-price">000276</td>
			<td class="item-price">Jangampalli, Nizamabad.</td>
			<td>Phone No.08468-244134</td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>Noothpally, Nizamabad.</td>
			<td class="item-stock">ANDB0000374</td>
			<td class="item-qty">503011622</td>
			<td class="item-price">000374</td>
			<td class="item-price">Noothpally, Nandipet Mandal, Nizamabad.</td>
			<td>Phone No.08462-247096</td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>Pitlam, Nizamabad.</td>
			<td class="item-stock">ANDB0000449</td>
			<td class="item-qty">503011502</td>
			<td class="item-price">000449</td>
			<td class="item-price">Main Road, Pitlam, Nizamabad.</td>
			<td>Phone No.08466-271547</td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>Sadasivnagar, Nizamabad.</td>
			<td class="item-stock">ANDB0000541</td>
			<td class="item-qty">503011602</td>
			<td class="item-price">000541</td>
			<td class="item-price">Sadasivnagar, Nizamabad.</td>
			<td>Phone No.08466-248227</td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>Ankapur, Nizamabad.</td>
			<td class="item-stock">ANDB0000708</td>
			<td class="item-qty">503011623</td>
			<td class="item-price">000708</td>
			<td class="item-price">Ankapur, Nizamabad.</td>
			<td>Phone No.08466-227002</td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>Ankapur, Nizamabad.</td>
			<td class="item-stock">ANDB0000716</td>
			<td class="item-qty">503011624</td>
			<td class="item-price">000716</td>
			<td class="item-price">Ankapur, Via Zirayat Nagar, Nizamabad.</td>
			<td>Phone No.08466-227002</td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>Bodhan, Nizamabad.</td>
			<td class="item-stock">ANDB0000733</td>
			<td class="item-qty">503011562</td>
			<td class="item-price">000733</td>
			<td class="item-price">D No.1-4-25/2, Opp. New APSRTC Bus Stand, Nizamabad.</td>
			<td>Phone No.08467-222106</td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>Balkonda, Nizamabad.</td>
			<td class="item-stock">ANDB0000737</td>
			<td class="item-qty">503011625</td>
			<td class="item-price">000737</td>
			<td class="item-price">Andra Bank, Main Road, Balkonda, Nizamabad.</td>
			<td>Phone No.08463-232224</td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>Birkur, Nizamabad.</td>
			<td class="item-stock">ANDB0000738</td>
			<td class="item-qty">503011542</td>
			<td class="item-price">000738</td>
			<td class="item-price">Birkur, Birkur(mandal), Nizamabad.</td>
			<td>Phone No.08463-27982</td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>Kammarpally, Nizamabad.</td>
			<td class="item-stock">ANDB0000823</td>
			<td class="item-qty">503011626</td>
			<td class="item-price">000823</td>
			<td class="item-price">Kammarpally, Nizamabad.</td>
			<td>Phone No.08463-272263</td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>Nagireddypet, Nizamabad.</td>
			<td class="item-stock">ANDB0000876</td>
			<td class="item-qty">503011503</td>
			<td class="item-price">000876</td>
			<td class="item-price">Main Road, Nagireddypet, Nizamabad.</td>
			<td>Phone No.08465-273024</td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>perket, Nizamabad.</td>
			<td class="item-stock">ANDB0000901</td>
			<td class="item-qty">503011627</td>
			<td class="item-price">000901</td>
			<td class="item-price">perkit, Armoor, Nizamabad.</td>
			<td>Phone No.08465-222370</td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>Mohammad Nagar, Nizamabad.</td>
			<td class="item-stock">ANDB0000181</td>
			<td class="item-qty">503011505</td>
			<td class="item-price">000181</td>
			<td class="item-price">Mohammad Nagar, Nizamsagar, Nizamabad.</td>
			<td>Phone No.08465-275534</td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>Goshala Road, Bodhan, Nizamabad.</td>
			<td class="item-stock">ANDB0001479</td>
			<td class="item-qty">503011563</td>
			<td class="item-price">001479</td>
			<td class="item-price">D No.1-7-899, Goshala Road, Bodhan, Nizamabad.</td>
			<td>Phone No.08465-225591</td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>Armoor, Nizamabad.</td>
			<td class="item-stock">ANDB0001571</td>
			<td class="item-qty">503011202</td>
			<td class="item-price">001571</td>
			<td class="item-price">D No.1-1-5/26, Mahalaxmi Colony, Armoor, Nizamabad. </td>
			<td>Phone No.08465-225288</td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>Lakshmapur, Nizamabad.</td>
			<td class="item-stock">ANDB0000291</td>
			<td class="item-qty">503011584</td>
			<td class="item-price">000291</td>
			<td class="item-price">Lakshmapur, Nizamabad. </td>
			<td>Phone No.08465-227025</td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>Tadwai, Nizamabad.</td>
			<td class="item-stock">ANDB0000985</td>
			<td class="item-qty">503011504</td>
			<td class="item-price">000985</td>
			<td class="item-price">Tadwai, Nizamabad. </td>
			<td>Phone No.08465-250127</td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>Bheemgal, Nizamabad.</td>
			<td class="item-stock">ANDB0001386</td>
			<td class="item-qty">503011582</td>
			<td class="item-price">001386</td>
			<td class="item-price">Bhrrmgal, Nizamabad. </td>
			<td>Phone No.08463-239585</td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>Varni, Nizamabad.</td>
			<td class="item-stock">ANDB0001732</td>
			<td class="item-qty">503011523</td>
			<td class="item-price">001732</td>
			<td class="item-price">D No. 8-65, Bodhan Road, Varni, Nizamabad. </td>
			<td>Phone No.08463-281008</td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>Munipally, Nizamabad.</td>
			<td class="item-stock">ANDB0001957</td>
			<td class="item-qty">503011203</td>
			<td class="item-price">001957</td>
			<td class="item-price">D No. 3-3-34/6/C, Munipally, Jakranpally, Nizamabad. </td>
			<td>Phone No.08463-227766</td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>Nandipet, Nizamabad.</td>
			<td class="item-stock">ANDB0001750</td>
			<td class="item-qty">503011628</td>
			<td class="item-price">001750</td>
			<td class="item-price">D No. 3-59/3B, Main Road, Nandipet, Nizamabad. </td>
			<td>Phone No.08463-272727</td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>New Town, Kamareddy, Nizamabad.</td>
			<td class="item-stock">ANDB0001750</td>
			<td class="item-qty">503011628</td>
			<td class="item-price">001750</td>
			<td class="item-price">Shop No. 8,9,10, Thirumala Apartments, NGO's Colony, Kamareddy, Nizamabad.</td>
			<td>Phone No.08468-220329</td>
		</tr>
		<tr>
			<td><strong class="book-title">Andhra Bank</strong>Madnoor, Nizamabad.</td>
			<td class="item-stock">ANDB0001990</td>
			<td class="item-qty">503011543</td>
			<td class="item-price">001990</td>
			<td class="item-price">H No. 3-159-9,10 Ram Nagar, Madnoor, Nizamabad.</td>
			<td>Phone No.08464-225080</td>
		</tr>
		</tbody>
		</table>
		</head>
		</html>
		
		