<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Bank Services</span>
	</h2>
	<div class="thumbnails recentworks row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail"  href="#/oth/others/banks/sbi"> <span class="img"> <img
						src="images/others/banks/sbi1.jpg" alt="State Bank of India" height=200px
						width=200px>
				</span> 
				</div><span class="title">State Bank of India</span></a>
				<h4></h4>
			
			
		</div>
		
		
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/oth/others/banks/hdfc"> <span class="img"> <img
						src="images/others/banks/hdfc.jpg" alt="HDFC Bank" height=200px
						width=200px>
				</span> </div></span> <span class="title">HDFC Bank</span>
				</a>
				<h4></h4>
			
			
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/oth/others/banks/sbh"> <span class="img"> <img
						src="images/others/banks/SBH.jpg" alt="State Bank of hyderabad" height=200px
						width=200px></span> </span></div> <span class="title">State Bank of
						hyderabad</span>
				</a>
				<h4></h4>
			
			
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/oth/others/banks/icici"> <span class="img"> <img
						src="images/others/banks/ICICI.jpg" alt="ICICI" height=200px
						width=200px>
				</span></div> </span> <span class="title">ICICI bank</span>
				</a>
				<h4></h4>
			
			
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/oth/others/banks/syndicate"> <span class="img"> <img
						src="images/others/banks/syndicate_bank.jpg" alt="syndicate_bank"
						height=200px width=200px>
				</span></div> </span> <span class="title">Syndicate Bank</span>
				</a>
				<h4></h4>
			
			
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/oth/others/banks/andra"> <span class="img"> <img
						src="images/others/banks/andhrabank.png" alt="Andhra bank"
						height=200px width=200px>
				</span></div> </span> <span class="title">Andhra bank</span>
				</a>
				<h4></h4>
			
		</div>
		
		
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/oth/others/banks/corporation"> <span class="img"> <img
						src="images/others/banks/corporation.gif" alt="corporation bank"
						height=200px width=200px>
				</span> </span></div> <span class="title">Corporation Bank</span>
				</a>
				<h4></h4>
			
			</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/oth/others/banks/allahabad"> <span class="img"> <img
						src="images/others/banks/Allahabad_Bank.jpg" alt="Allahabad_Bank"
						height=200px width=200px></span></div> </span> <span class="title">Allahabad
						Bank</span>
				</a>
				<h4></h4>
			
			
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/oth/others/banks/panjab"> <span class="img"> <img
						src="images/others/banks/pnb.jpg" alt="Panjab National Bank" height=200px
						width=200px>
				</span></div> </span> <span class="title">Panjab National Bank</span>
				</a>
				<h4></h4>
			
			
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/oth/others/banks/bankofb"> <span class="img"> <img
						src="images/others/banks/bank_of_baroda.jpg" alt="bank_of_baroda"
						height=200px width=200px>
				</span> </div></span> <span class="title">Bank of baroda</span>
				</a>
				<h4></h4>
			
			
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/oth/others/banks/bankofi"> <span class="img"> <img
						src="images/others/banks/bankofindia.jpg" alt="bank of india"
						height=200px width=200px></span></div> </span> <span class="title">Bank
						of india</span>
				</a>
				<h4></h4>
			
			
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/oth/others/banks/union"> <span class="img"> <img
						src="images/others/banks/union.jpg" alt="Union bank" height=200px
						width=200px></span> </span></div> <span class="title">Union Bank</span>
				</a>
				<h4></h4>
			
			
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/oth/others/banks/kvbbank"> <span class="img"> <img
						src="images/others/banks/kvbbank.jpg" alt="KVB bank" height=200px
						width=200px></span> </span></div> <span class="title">KVB Bank</span>
				</a>
				<h4></h4>
			
			<p class="text-center"></p>
		</div>
	</div>
</div>