<h1>Bank of Maharasta</h1>
<h4>
	<b>Bank of Maharasta  Banks in Nizamabad</b>
</h4>
<table class="center">
	<thead>
		<tr align="center">
			<th scope="col">Branch Name</th>
			<th scope="col">IFSC Code</th>
			<th scope="col">MICR Code</th>
			<th scope="col">Branch Code</th>
			<th scope="col">Branch Address</th>
			<th scope="col">Contact</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong class="book-title">ALLA Bank</strong>Pholong Cross Road, Nizamabad</td>
			<td class="item-stock">MAHB0000579</td>
			<td class="item-qty">503014002</td>
			<td class="item-price">000579</td>
			<td class="item-price">Namdev Wada, Nizamabad.</td>
			<td class="item-price"></td>
		</tr>
		<tr>
			<td><strong class="book-title">ALLA Bank</strong>Pholong Cross Road, Nizamabad</td>
			<td class="item-stock">MAHB0000579</td>
			<td class="item-qty">503014002</td>
			<td class="item-price">000579</td>
			<td class="item-price">Namdev Wada, Nizamabad.</td>
			<td class="item-price"></td>
		</tr>
		</tbody>
		</table>
		</head>
		</html>
		