<h1>Bank of India</h1>
<h4>
	<b>Bank of India Banks in Nizamabad</b>
</h4>
<table class="center">
	<thead>
		<tr align="center">
			<th scope="col">Branch Name</th>
			<th scope="col">IFSC Code</th>
			<th scope="col">MICR Code</th>
			<th scope="col">Branch Code</th>
			<th scope="col">Branch Address</th>
			<th scope="col">Contact</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong class="book-title">CORP Bank</strong>Muthyampet, Nizamabad</td>
			<td class="item-stock">BKID0008696</td>
			<td class="item-qty">503013002</td>
			<td class="item-price">008696</td>
			<td class="item-price">Balaji Bhavan, Vinayak Nagar, Hyderabad Road,Nizamabad</td>
			<td class="item-price">Phone No.08462-220498, 230217 email: Nizamabad.Hyderabad@bankofindia.co.in</td>
		</tr>
		</tbody>
		</table>
		</head>
		</html>
		