<h1>HDFC Bank</h1>
<h4>
	<b>HDFC Bank Branches in Bodhan</b>
</h4>
<table class="center">
	<thead>
		<tr align="center">
			<th scope="col">Branch Name</th>
			<th scope="col">IFSC Code</th>
			<th scope="col">MICR Code</th>
			<th scope="col">Branch Code</th>
			<th scope="col">Branch Address</th>
			<th scope="col">Contact</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong class="book-title">HDFC Bank</strong>Hyd Road, Nizamabd</td>
			<td class="item-stock">HDFC0020982</td>
			<td class="item-qty">503240002</td>
			<td class="item-price">000982</td>
			<td class="item-price">D.NO.5-6-570/6, Beside More Super Maarket, Hyd Road, Nizamabd</td>
			<td>Phone 234009, Fax 08462-243009 </td>
		</tr>
		<tr>
			<td><strong class="book-title">HDFC Bank</strong>Bainsa, Nizamabd</td>
			<td class="item-stock">HDFC0002276</td>
			<td class="item-qty">504240682</td>
			<td class="item-price">002276</td>
			<td class="item-price">D.NO.4-3-84/9, Main Road Gunj, Bainsa, Nizamabd </td>
			<td>Mobile No. 9949493333</td>
		</tr>
		<tr>
			<td><strong class="book-title">HDFC Bank</strong>Armoor, Nizamabad</td>
			<td class="item-stock">HDFC0002293</td>
			<td class="item-qty">503240202</td>
			<td class="item-price">002293</td>
			<td class="item-price">D.NO.1-1-4/7, Kottur Building, Opp New Bus Stop, Armoor, Nizamabad</td>
			<td>Mobile No. 9949493333</td>
		</tr>
		<tr>
			<td><strong class="book-title">HDFC Bank</strong>Bodhan, Nizamabad</td>
			<td class="item-stock">HDFC0002675</td>
			<td class="item-qty">503240562</td>
			<td class="item-price">002657</td>
			<td class="item-price">D.NO.1-4-645, Ambedkar Chowrasta, Narsi Road, Bodhan, Nizamabad</td>
			<td>Mobile No. 9949493333</td>
		</tr>
		<tr>
			<td><strong class="book-title">HDFC Bank</strong>Hunsa, Nizamabad</td>
			<td class="item-stock">HDFC0003053</td>
			<td class="item-qty">503240563</td>
			<td class="item-price">003053</td>
			<td class="item-price">D.NO.4-61, 1st Floor, Hunsa Village, Nizamabad</td>
			<td>Mobile No. 9949493333</td>
		</tr>
		<tr>
			<td><strong class="book-title">HDFC Bank</strong>Gopanpalle, Nizamabad</td>
			<td class="item-stock">HDFC0003059</td>
			<td class="item-qty">503240004</td>
			<td class="item-price">003059</td>
			<td class="item-price">Plot no.85, Gangastan-II, Gopanpalle, Nizamabad</td>
			<td>Mobile No. 9949493333</td>
		</tr>
		<tr>
			<td><strong class="book-title">HDFC Bank</strong>Banswada, Nizamabad</td>
			<td class="item-stock">HDFC0003180</td>
			<td class="item-qty">503240522</td>
			<td class="item-price">003180</td>
			<td class="item-price">D No. 1-1-13, Old Baswada Road, Ambedkar Chowrasta, Banswada, Nizamabad</td>
			<td>Mobile No. 9949493333</td>
		</tr>
		<tr>
			<td><strong class="book-title">HDFC Bank</strong>Mugpal, Nizamabad</td>
			<td class="item-stock">HDFC0003431</td>
			<td class="item-qty">503240006</td>
			<td class="item-price">003431</td>
			<td class="item-price">Plot no.1-124, Mugpal, Nizamabad</td>
			<td>Mobile No. 9949493333</td>
		</tr>
		<tr>
			<td><strong class="book-title">HDFC Bank</strong>Nadepalle, Nizamabad</td>
			<td class="item-stock">HDFC0003447</td>
			<td class="item-qty">503240007</td>
			<td class="item-price">003447</td>
			<td class="item-price">H no.6-73, Hyderabad Road, Nadepalle, Nizamabad</td>
			<td>Mobile No. 9949493333</td>
		</tr>
		<tr>
			<td><strong class="book-title">HDFC Bank</strong>Vannel(Khurd), Nizamabad</td>
			<td class="item-stock">HDFC0003500</td>
			<td class="item-qty">503240622</td>
			<td class="item-price">003500</td>
			<td class="item-price">H no. 1-60-3, Main Road, Vannel(Khurd), Nizamabad</td>
			<td>Mobile No. 9949493333</td>
		</tr>
		<tr>
			<td><strong class="book-title">HDFC Bank</strong>Chimrajpalle, Nizamabad</td>
			<td class="item-stock">HDFC0003583</td>
			<td class="item-qty">503240008</td>
			<td class="item-price">003583</td>
			<td class="item-price">H no. 1-71, Chimrajpalle, Nandipet Mandal, Nizamabad</td>
			<td>Mobile No. 9949493333</td>
		</tr>
	</tbody>
</table>

