<h1>Indian Bank</h1>
<h4>
	<b>Indian Banks in Nizamabad</b>
</h4>
<table class="center">
	<thead>
		<tr align="center">
			<th scope="col">Branch Name</th>
			<th scope="col">IFSC Code</th>
			<th scope="col">MICR Code</th>
			<th scope="col">Branch Code</th>
			<th scope="col">Branch Address</th>
			<th scope="col">Contact</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong class="book-title">IDIB Bank</strong>Makloor, Nizamabad</td>
			<td class="item-stock">IDIB000M110</td>
			<td class="item-qty">503019005</td>
			<td class="item-price">00M110</td>
			<td class="item-price">Main Road Makloor, Nizamabad.</td>
			<td class="item-price">Phone No.08462-280039</td>
			
		</tr>
		<tr>
			<td><strong class="book-title">IDIB Bank</strong>Godown Road, Nizamabad</td>
			<td class="item-stock"> IDIB000N031</td>
			<td class="item-qty">503019006</td>
			<td class="item-price">00N031</td>
			<td class="item-price">H No.7-1-62, Godown Road, Nizamabad </td>
			<td class="item-price">Phone No.08462-220634</td>
		</tr>
		<tr>
			<td><strong class="book-title">IDIB Bank</strong>Sirnapally, Nizamabad</td>
			<td class="item-stock">IDIB000S065</td>
			<td class="item-qty">503019007</td>
			<td class="item-price">00S065</td>
			<td class="item-price">Sirnapally, Nizamabad</td>
			<td class="item-price">Phone No.08461-259075</td>
		</tr>
		<tr>
			<td><strong class="book-title">IDIB Bank</strong>Boregaon Kalan, Nizamabad</td>
			<td class="item-stock">IDIB000B169</td>
			<td class="item-qty">NON-MICR</td>
			<td class="item-price">00B169</td>
			<td class="item-price">H No. 5-214, Boregaon Kalan, Nizamabad</td>
			<td class="item-price">Mobile No. 9912101987</td>
		</tr>
		</tbody>
		</table>
		</head>
		</html>
		