<h1>Karur Vysya Bank</h1>
<h4>
	<b>Karur Vysya Banks in Nizamabad</b>
</h4>
<table class="center">
	<thead>
		<tr align="center">
			<th scope="col">Branch Name</th>
			<th scope="col">IFSC Code</th>
			<th scope="col">MICR Code</th>
			<th scope="col">Branch Code</th>
			<th scope="col">Branch Address</th>
			<th scope="col">Contact</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong class="book-title">Karur Vysya Bank</strong>Godown Road,
				Nizamabad</td>
			<td class="item-stock">KVBL0001449</td>
			<td class="item-qty">503053002</td>
			<td class="item-price">532771</td>
			<td class="item-price">D No 7-1-61/1H, Ram Gopal Street, Godown
				Road, Nizamabad.</td>
			<td class="item-price">Phone No.1860 200 1916,
				</td>
		</tr>
		
	</tbody>
</table>
</head>
</html>
