<h1>Panjab National  Bank</h1>
<h4>
	<b>PUNB Banks in Nizamabad</b>
</h4>
<table class="center">
	<thead>
		<tr align="center">
			<th scope="col">Branch Name</th>
			<th scope="col">IFSC Code</th>
			<th scope="col">MICR Code</th>
			<th scope="col">Branch Code</th>
			<th scope="col">Branch Address</th>
			<th scope="col">Contact</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong class="book-title">PUNB Bank</strong>Muthyampet, Nizamabad</td>
			<td class="item-stock">PUNB0284800</td>
			<td class="item-qty"></td>
			<td class="item-price">284800</td>
			<td class="item-price">Muthyampet, Nizamabad.</td>
			<td class="item-price">Phone No.08462-230648</td>
			
		</tr>
		<tr>
			<td><strong class="book-title">PUNB Bank</strong>Ram Gopal Street, Nizamabad</td>
			<td class="item-stock">PUNB0272200</td>
			<td class="item-qty">503024002</td>
			<td class="item-price"> 272200</td>
			<td class="item-price">Khaleel wadi, Nizamabad. </td>
			<td class="item-price">Phone No.08462-221283</td>
			
		</tr>
		</tbody>
		</table>
		</head>
		</html>
		