<h1>Union Bank</h1>
<h4>
	<b>Union Banks in Nizamabad</b>
</h4>
<table class="center">
	<thead>
		<tr align="center">
			<th scope="col">Branch Name</th>
			<th scope="col">IFSC Code</th>
			<th scope="col">MICR Code</th>
			<th scope="col">Branch Code</th>
			<th scope="col">Branch Address</th>
			<th scope="col">Contact</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong class="book-title">Union Bank</strong>Godown
				Road, Nizamabad</td>
			<td class="item-stock">UBIN0532771</td>
			<td class="item-qty"></td>
			<td class="item-price">532771</td>
			<td class="item-price">D No 7-1-59/1, Godown Road, P.B No.81,
				Lakhani Building, 1st Floor, Nizamabad.</td>
			<td class="item-price">Phone No.08462-220485,
				email:cbs-nizamabad@unionbankofindia.com</td>
		</tr>
		<tr>
			<td><strong class="book-title">Union Bank</strong>Navipet,
				Nizamabad</td>
			<td class="item-stock">UBIN0532789</td>
			<td class="item-qty">503026562</td>
			<td class="item-price">532789</td>
			<td class="item-price">Navipet, Nizamabad.</td>
			<td class="item-price">Phone No.08462-276239,
				email:cbsnavipet@unionbankofindia.com</td>
		</tr>
		</tbody>
		</table>
		</head>
		</html>
		