<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Gym Centres</span>
	</h2>
	<div class="thumbnails recentworks row">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href="#/hl/helth/golden"> <span class="img"> <img
					src="images/health/yogagym/gym.png" alt="Golden Muscle Gym"
					height=200px width=200px>
			</span>
		</div>
		<span class="title">Golden Muscle Gym, </span> </a>
		<p class="text-center">
			Laxmi Nilayam Old Weekly Market, Nizamabad. <br> Phone
			+(91)-9849514093
		</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href="#/hl/helth/rockgym"> <span class="img"> <img
					src="images/health/yogagym/gym.png" alt="Rock Gym And Cardio Fitness Centre" height=200px
					width=200px></span>
		</div>
		<span class="title">Rock Gym And Cardio Fitness Centre A/C
			Ladies And Gents </span> </a>
		<h4></h4>
		<p class="text-center">
			Near Ayyappa Temple, Kanteshwar, Nizamabad. <br> Mobile
			+9533047444,9491750005
		</p>
			
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href="#/hl/helth/smallstep"> <span class="img"> <img
					src="images/health/yogagym/gym.png" alt="Small Step Health
						Care Management" height=200px
					width=200px></span></div>
					 <span class="title">Small Step Health
						Care Management </span></a>
			<h4></h4>
			<p class="text-center">
				Above Vasavi Mega Mart,Gangasthan, Nizamabad.<br> Phone -
				08462-237077.
			</p>
		</div>
	</div>
	</div>