
<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Govt. Hospitals</span>
	</h2>
	<div class="thumbnails recentworks row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/hl/helth/hospitals/govt"> <span
					class="img"> <img src="images/health/hospitals/DSC07298.JPG"
						alt="Govt. Hospital" height=200px width=200px></span>
			</div>
			<span class="title">Govt. Hospital</span> </a>
			<h4></h4>
			<p class="text-center">
				Near Bus Stand<br>
			</p>
		</div>
	</div>
	<h2 class="section-title">
		<span>Pvt. Hospitals</span>
	</h2>
	<div class="thumbnails recentworks row">
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/hl/helth/hospitals/vikram"> <span
					class="img"> <img src="images/health/hospitals/vikram.jpg"
						alt="Vikram  Hospital" height=200px width=200px>
				</span>
			</div>
			<span class="title">Vikram Hospital</span> </a>
			<h4></h4>
			<p class="text-center">
				Near RDO office,Khaleelwadi <br> Nizamabad(Dist),
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/hl/helth/hospitals/arpitha"> <span
					class="img"> <img src="images/health/hospitals/arpitha.jpg"
						alt="Arpitha Hospital" height=200px width=200px>
				</span>
			</div>
			<span class="title">Arpitha Hospital</span> </a>
			<h4></h4>
			<p class="text-center">D No.5-7-624/9A , Khaleelwadi , Nizamabad
				- 503001</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/hl/helth/hospitals/tirumala"> <span
					class="img"> <img src="images/health/hospitals/tirumala.jpg"
						alt="Tirumala Hospital" height=200px width=200px>
				</span>
			</div>
			<span class="title">Tirumala Hospital</span> </a>
			<h4></h4>
			<p class="text-center">
				Near SSR College,Khaleelwadi <br> Nizamabad(Dist).
			</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/hl/helth/hospitals/drtanil"> <span
					class="img"> <img
						src="images/health/hospitals/drtanilkumar.jpg"
						alt="Dr.T Anil Kumar" height=200px width=200px>
				</span>
			</div>
			<span class="title">Dr.T Anil Kumar</span> </a>
			<h4></h4>
			<p class="text-center">
				Khaleelwadi <br> Nizamabad(Dist).
			</p>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/hl/helth/hospitals/kavithareddy"> <span
					class="img"> <img
						src="images/health/hospitals/kavithardy.JPG"
						alt="Kavitha Reddy Hospital" height=200px width=200px>
				</span>
			</div>
			<span class="title">Kavitha Reddy Hospital</span> </a>
			<h4></h4>
			<p class="text-center">
				Khaleelwadi <br> Nizamabad(Dist)
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/hl/helth/hospitals/anupama"> <span
					class="img"> <img src="images/health/hospitals/anupama.jpg"
						alt="Anupama  Hospital" height=200px width=200px>
				</span>
			</div>
			<span class="title">Anupama Hospital</span> </a>
			<h4></h4>
			<p class="text-center">
				Khaleelwadi, Nizamabad.<br>Phone No.221066, Mobile-9849059075 <br>
				Nizamabad(Dist),
			</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/hl/helth/hospitals/keshvulu"> <span
					class="img"> <img
						src="images/health/hospitals/dr.b.kisavalu.jpg"
						alt="Dr.B.Kisavalu Hospital " height=200px width=200px>
				</span>
			</div>
			<span class="title">Dr.B.Keshavulu Hospital</span> </a>
			<h4></h4>
			<p class="text-center">
				Khaleelwadi, Near Modern Public School, Nizamabad - 503001.<br>Phone
				No:(91)-8462-255189, +(91)-9949695189
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/hl/helth/hospitals/shivasaiemergency">
					<span class="img"> <img
						src="images/health/hospitals/shivasai.jpg"
						alt="Shiva Sai Emergency and multispecialist" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Shiva Sai Emergency and multispecialist</span> </a>
			<h4></h4>
			<p class="text-center">
				Khaleelwadi <br> Nizamabad(Dist),<br>Phone
				No:+918462250316.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/hl/helth/hospitals/srimaha"> <span
					class="img"> <img
						src="images/health/hospitals/srimahalaxmi.jpg"
						alt="Sri Mahalaxmi Childrens Hospital" height=200px width=200px>
				</span>
			</div>
			<span class="title">Sri Mahalaxmi Childrens Hospital</span> </a>
			<h4></h4>
			<p class="text-center">
				H No 5-7-149, 1st Floor, Khaleelwadi, Nizamabad Ho, Behind Punjab
				National Bank, Nizamabad - 503001 <br>Phone
				No.+(91)-8462-255999
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/hl/helth/hospitals/suyog"> <span
					class="img"> <img src="images/health/hospitals/suyog.jpg"
						alt="Suyog Hospital" height=200px width=200px>
				</span>
			</div>
			<span class="title">Suyog Hospital</span> </a>
			<h4></h4>
			<p class="text-center">
				Yellamma Gutta,Hyderabad Road <br> Nizamabad(Dist).
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/hl/helth/hospitals/hiranursing"> <span
					class="img"> <img
						src="images/health/hospitals/hiranursing.jpg"
						alt="Hira Nursing Home" height=200px width=200px>
				</span>
			</div>
			<span class="title">Hira Nursing Home</span> </a>
			<h4></h4>
			<p class="text-center">
				Opp:Dwakra Group Bhavan,Khaleelwadi <br> Nizamabad(Dist).
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/hl/helth/hospitals/vijaydia"> <span
					class="img"> <img
						src="images/health/hospitals/vijaydiagonstic.jpg"
						alt=" Vijay Diagnostic Center" height=200px width=200px>
				</span>
			</div>
			<span class="title"> Vijay Diagnostic Center</span> </a>
			<h4></h4>
			<p class="text-center">Doctor`s Line,Muncipal Complex,Shop No.29,
				Nizamabad, Khaleelwadi, Nizamabad - 503001 Phone
				No.+(91)-8462-645370.</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/hl/helth/hospitals/prathiba"> <span
					class="img"> <img src="images/health/hospitals/prathiba.jpg"
						alt="Prathiba Hospital" height=200px width=200px>
				</span>
			</div>
			<span class="title">Prathiba Hospital</span> </a>
			<h4></h4>
			<p class="text-center">
				Kishan Das Complex, , Khaleelwadi, Nizamabad.<br> Phone no
				9292901314
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/hl/helth/hospitals/srisainarayana">
					<span class="img"> <img
						src="images/health/hospitals/srisainarayan.jpg"
						alt="Sri Sai Narayana Eye Hospital" height=200px width=200px>
				</span>
			</div>
			<span class="title">Sri Sai Narayana Eye Hospital</span> </a>
			<h4></h4>
			<p class="text-center">
				Opp: Decan Gramina bank,<br>Khaleel Wadi, <br>Phone
				no +(91)-8462-224546.
			</p>
		</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/hospitals/shailaja.jpg"
						alt="Shilaja Diagonstic Centre" height=200px width=200px>
				</span>
			</div>
			<span class="title">Shilaja Diagonstic Centre</span> </a>
			<h4></h4>
			<p class="text-center">D No.5-4-32,new complex,
				Khaleelwadi,08462-229011, Nizamabad.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/hl/helth/hospitals/nishkalnero"> <span
					class="img"> <img
						src="images/health/hospitals/nishkalneuro.jpg"
						alt="Nishkal Neuro Hospital " height=200px width=200px>
				</span>
			</div>
			<span class="title">Nishkal Neuro Hospital</span> </a>
			<h4></h4>
			<p class="text-center">kheelwadi, Nizamabad.</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/hl/helth/hospitals/krithi"> <span
					class="img"> <img src="images/health/hospitals/kriti.jpg"
						alt="Kriti Hospital " height=200px width=200px>
				</span>
			</div>
			<span class="title">Kriti Hospital</span> </a>
			<h4></h4>
			<p class="text-center">bustand opp road,kheelwadi, Nizamabad.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/hl/helth/hospitals/vasavilasik"> <span
					class="img"> <img
						src="images/health/hospitals/vasavilasik.jpg"
						alt="Vasavi Lasik Laser Centre " height=200px width=200px>
				</span>
			</div>
			<span class="title">Vasavi Lasik Laser Centre </span> </a>
			<h4></h4>
			<p class="text-center">Khaleelwadi, Nizamabad</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/hospitals/jaya.jpg" alt="Jaya Hospital  "
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Jaya Hospital </span> </a>
			<h4></h4>
			<p class="text-center">Khaleelwadi, Nizamabad</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/hospitals/arogya.jpg" alt="Arogya Hospital "
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Arogya Hospital</span> </a>
			<h4></h4>
			<p class="text-center">Khaleel Wadi,Nizamabad - 503001 ph
				no:08462-228555</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/hospitals/bhanu.jpg" alt="Bhanu hospital "
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Bhanu hospital </span> </a>
			<h4></h4>
			<p class="text-center">Khaleelwadi, Nizamabad,Landmark: Near RDO
				Office, Nizamabad</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/hospitals/amruthalaxmi.jpg"
						alt="Amruthalaxmi Multi Speciality Hospital " height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Amruthalaxmi Multi Speciality Hospital </span> </a>
			<h4></h4>
			<p class="text-center">kaleelwadi, Mobile +(91)-8462-221706.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/hospitals/bhagavathi.jpg"
						alt="Bhagavathi Dental Hospital  " height=200px width=200px>
				</span>
			</div>
			<span class="title">Bhagavathi Dental Hospital </span> </a>
			<h4></h4>
			<p class="text-center">Beside Grameena Bank,
				Khaleelwadi,9849364210, Nizamabad</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/hospitals/balajipathology.jpg"
						alt="Balaji Pathological Lab" height=200px width=200px>
				</span>
			</div>
			<span class="title"> Balaji Pathological Lab </span> </a>
			<h4></h4>
			<p class="text-center">Door No 5-4-372/3, Nizamabad Ho, Opposite
				Dr Kanthadevi Hospital,ph no:+(91)-8462-233840, 222840, Nizamabad -
				503001</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/hospitals/srinivasa.jpg"
						alt="Ganga bhavani Hospital" height=200px width=200px>
				</span>
			</div>
			<span class="title">Ganga Bhavani Hospital </span> </a>
			<h4></h4>
			<p class="text-center">
				Khaleelwadi <br>Nizamabad. Mobile no:+(91)-9440314041
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/hospitals/srinivasa.jpg"
						alt="Srinivasa Nursing Home" height=200px width=200px>
				</span>
			</div>
			<span class="title">Srinivasa Nursing Home</span> </a>
			<h4></h4>
			<p class="text-center">
				Khaleelwadi <br> Nizamabad(Dist), Mobile +(91)-9866677972
			</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/hospitals/srinivasa.jpg"
						alt="Sri Dwarakamai Chest Hospital" height=200px width=200px>
				</span>
			</div>
			<span class="title">Sri Dwarakamai Chest Hospital</span> </a>
			<h4></h4>
			<p class="text-center">
				Bustand Lane <br>Nizamabad. Phone +(91)-8462-223388.
			</p>
		</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/hospitals/srinivasa.jpg" alt="Teja Hospitals"
						height=200px width=200px></span>
			</div>
			<span class="title">Teja Hospitals </span> </a>
			<h4></h4>
			<p class="text-center">
				Dwarakanagar <br>Nizamabad. Phone no:+(91)-8462-254659
			</p>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/hospitals/srinivasa.jpg"
						alt="Ashirwad Hospital" height=200px width=200px>
				</span>
			</div>
			<span class="title">Ashirwad Hospital</span> </a>
			<h4></h4>
			<p class="text-center">
				Saraswathi Nagar <br> Nizamabad. Phone no:+(91)-8462-220322.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/hospitals/srinivasa.jpg"
						alt="Primary Health centre" height=200px width=200px>
				</span>
			</div>
			<span class="title">Primary Health centre</span> </a>
			<h4></h4>
			<p class="text-center">
				1-18-18, Sai baba road <br>Saloora, Bodhan, Nizamabad <br>
				Phone no:+(91)-8462-259106
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/hospitals/srinivasa.jpg" alt="Aparna Hospital"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Aparna Hospital</span> </a>
			<h4></h4>
			<p class="text-center">
				Bus Depot, Mahalaxmi colony <br> Bashirabad, Nizamabad.<br>
				Mobile no:+(91)-9849925454
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/hospitals/srinivasa.jpg"
						alt="Laxmi Ear and Nose Hospital" height=200px width=200px></span>
			</div>
			<span class="title">Laxmi Ear and Nose Hospital</span> </a>
			<h4></h4>
			<p class="text-center">
				Khaleelwadi<br>Nizamabad.<br>Phone +(91)-8462-225151.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/hl/helth/hospitals/sridatta"> <span
					class="img"> <img src="images/health/hospitals/sridata.jpg"
						alt="Sri Datta Multispeciality Hospital" height=200px width=200px>
				</span>
			</div>
			
			<span class="title"> Sri Datta Multispeciality Hospital</span> </a>
			<h4></h4>
			<p class="text-center">

				Opp. RDO Office, Khaleewadi, Nizamabad, 503001, Telangana.<br>Phone
				No +91-8462-647809.
			</p>
		</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/hl/helth/hospitals/gururaga"> <span
					class="img"> <img
						src="images/health/hospitals/raghavendra.JPG"
						alt="Guru Raghavendra Ortho Care" height=200px width=200px></span>
			</div>
			<span class="title">Guru Raghavendra Ortho Care</span> </a>
			<h4></h4>
			<p class="text-center">
				H.no:5-7-93/94, <br>opp:municipal complex, Khaleelwadi
				Nizamabad.<br> Phone No:+(91)-8462-226017.
			</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="#/hl/helth/hospitals/vasan"> <span
					class="img"> <img
						src="images/health/hospitals/vasaneyecare.jpg"
						alt="Vasan Eye Care Hospital" height=200px width=200px></span>
			</div>
			<span class="title">Vasan Eye Care Hospital</span> </a>
			<h4></h4>
			<p class="text-center">
				D No:5-6-114<br>Near:Nikhil Sai International Hotel <br>
				Nizamabad. Phone no:+(91)-8462-331200,398900.
			</p>
		</div>
		
		
		
	</div>
	<h2 class="section-title">
		<span>Childrens Hospitals</span>
	</h2>
	<div class="thumbnails recentworks row">

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/hospitals/swathichildrehsp.jpg"
						alt="Swathi Children Hospital" height=200px width=200px>
				</span>
			</div>
			<span class="title">Swathi Children Hospital</span> </a>
			<h4></h4>
			<p class="text-center">
				Khaleelwadi<br>Nizamabad. Phone +(91)-8462-231377
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/hospitals/swami.jpg"
						alt="Swamy children Hospital " height=200px width=200px>
				</span>
			</div>
			<span class="title">Swamy children Hospital </span> </a>
			<h4></h4>
			<p class="text-center">Opp Modern Public School,kheelwadi,
				Nizamabad - 503002,+(91)-8462-221638.</p>
		</div>
		<h2 class="section-title">
			<span>Maternity Hospitals</span>
		</h2>

		<div class="thumbnails recentworks row">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgr">
					<a class="thumbnail" href=""> <span class="img"> <img
							src="images/health/hospitals/rajarani.jpg"
							alt="Raj Rani Maternity Nursing Home" height=200px width=200px>
					</span>
				</div>
				<span class="title">Raj Rani Maternity Nursing Home</span> </a>
				<h4></h4>
				<p class="text-center">5-6-139 Dwaraka Nagar,
					Khaleelwadi,Nizamabad - 503001 +(91)-8462-222555</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgr">
					<a class="thumbnail" href=""> <span class="img"> <img
							src="images/health/hospitals/gautham.jpg"
							alt="Adharsh Maternity Hospital" height=200px width=200px>
					</span>
				</div>
				<span class="title">Adharsh Maternity Hospital</span> </a>
				<h4></h4>
				<p class="text-center"># 5-7-624/12, Khaleelwadi, Nizamabad,
					Telangana - 503001,Phone no 08462-220253.</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgr">
					<a class="thumbnail" href=""> <span class="img"> <img
							src="images/health/hospitals/swethakidne.jpg"
							alt="Swetha kidney Centre and Maternity" height=200px width=200px>
					</span>
				</div>
				<span class="title">Swetha kidney Centre and Maternity</span> </a>
				<h4></h4>
				<p class="text-center">
					Saraswathi nagar, Hyderabad road<br> Nizamabad. Phone
					no:+(91)-8462-252369
				</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgr">
					<a class="thumbnail" href=""> <span class="img"> <img
							src="images/health/hospitals/Born.jpg" alt="Area Hospital"
							height=200px width=200px>
					</span>
				</div>
				<span class="title">Area Hospital</span> </a>
				<h4></h4>
				<p class="text-center">
					Banswada main road, Pitlam<br> Nizamabadd. Phone
					no:+(91)-8466-227010
				</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgr">
					<a class="thumbnail" href=""> <span class="img"> <img
							src="images/health/hospitals/Born.jpg" alt="Sri Sri Hospital"
							height=200px width=200px></span>
				</div>
				<span class="title">Sri Sri Hospital</span> </a>
				<h4></h4>
				<p class="text-center">
					Khaleelwadi<br> Nizamabad, <br>Phone no:+(91)-8462-221960
				</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgr">
					<a class="thumbnail" href=""> <span class="img"> <img
							src="images/health/hospitals/svr.jpg"
							alt="S.V.R Multispeciality Hospital" height=200px width=200px></span>
				</div>
				<span class="title">S.V.R Multispeciality Hospital</span> </a>
				<h4></h4>
				<p class="text-center">
					Khaleelwadi <br> Nizamabad, <br>Phone no:+(91)-8462-320932
				</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgr">
					<a class="thumbnail" href=""> <span class="img"> <img
							src="images/health/hospitals/Born.jpg"
							alt="New life maternity and general hospital" height=200px
							width=200px>
					</span>
				</div>
				<span class="title">New Life Maternity And General Hospital</span> </a>
				<h4></h4>
				<p class="text-center">
					Bodhan<br> Nizamabad, <br>Mobile no:+(91)-9966835566
				</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgr">
					<a class="thumbnail" href=""> <span class="img"> <img
							src="images/health/hospitals/Born.jpg"
							alt="Vijaya Hospital and Maternity" height=200px width=200px>
					</span>
				</div>
				<span class="title">Vijaya Hospital and Maternity</span> </a>
				<h4></h4>
				<p class="text-center">
					Khaleelwadi<br> Nizamabad. <br>Mobile no:+(91)-9949093480
				</p>
			</div>

		</div>
		<h2 class="section-title">
			<span>Pshychiatric Hospitals</span>
		</h2>
		<div class="thumbnails recentworks row">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgr">
					<a class="thumbnail" href=""> <span class="img"> <img
							src="images/health/hospitals/nero.jpg" alt="Indur Neuro hospital"
							height=200px width=200px></span>
				</div>
				<span class="title">Indur Neuro Hospital</span> </a>
				<h4></h4>
				<p class="text-center">
					opp.Ramesh Theatre, KhaleelwadiNizamabad,<br>  Phone
					no:08463-220100
				</p>
			</div>
		</div>
		<h2 class="section-title">
			<span>Rehabitations</span>
		</h2>
		<div class="thumbnails recentworks row">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgr">
					<a class="thumbnail" href=""> <span class="img"> <img
							src="images/health/hospitals/rehabitation.jpg"
							alt="Sruthi Rehabitation and physiotherapy" height=200px
							width=200px></span>
				</div>
				<span class="title">Sruthi Rehabitation And physiotherapy</span> </a>
				<h4></h4>
				<p class="text-center">
					opp.Rajeev Gandhi Auditorium, Khaleelwadi Nizamabad.<br> Phone
					no:+(91)-8462-232106
				</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgr">
					<a class="thumbnail" href=""> <span class="img"> <img
							src="images/health/hospitals/rehabitation.jpg"
							alt="Mind Health Care" height=200px width=200px>
					</span>
				</div>
				<span class="title">Mind Health Care</span> </a>
				<h4></h4>
				<p class="text-center">
					Nagireddypet Nizamabad.<br> Phone no:+(91)-8465-203455,<br> Mobile
					no:+(91)-9177374983
				</p>
			</div>
		</div>
	</div>