<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>24/7 Medical Stores</span>
	</h2>
	<div class="thumbnails recentworks row">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/medical/hetiro.jpg" alt="Hetero Medical Store" height=200px
						width=200px></span>
			</div>
			<span class="title">Hetero Medical Store</span> </a>
			<h4></h4>
			<p class="text-center">RP Road, Nizamabad.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/medical/dayandnight.jpg" alt="Day and night" height=200px
						width=200px></span>
			</div>
			<span class="title">Day and night</span> </a>
			<h4></h4>
			<p class="text-center">
				Rp Road,Nizamabad.<br>phone no:(08462)221011.
			</p>
		</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/medical/appolopharmacy.jpg" alt="apollo Pharmacy" height=200px
						width=200px></span>
			</div>
			<span class="title">Apollo pharmacy</span> </a>
			<h4></h4>
			<p class="text-center">RP Road,Nizamabad.Phone No:(08462)221011.</p>
		</div>
		</div>
	
	<h2 class="section-title">
		<span>Normal Medical Stores</span>
	</h2>
	<div class="thumbnails recentworks row">
	
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/medical/srikantmedical.jpg" alt="Srikanth Medical Store"
						height=200px width=200px></span>
			</div>
			<span class="title">Srikanth Medical Store</span> </a>
			<h4></h4>
			<p class="text-center">RP Road, Nizamabad.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/medical/hetiro.jpg" alt="Hetero Pharmacy" height=200px
						width=200px></span>
			</div>
			<span class="title">Hetero Pharmacy</span> </a>
			<h4></h4>
			<p class="text-center">Nizamabad</p>
		</div>
		
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/medical/indurhomeo.JPG" alt="Indur Home Medical" height=200px
						width=200px></span>
			</div>
			<span class="title">Indur Home Medical</span> </a>
			<h4></h4>
			<p class="text-center">
				khaleelwadi, Nizamabad.
			</p>
		</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/medical/srisai.JPG" alt="Sri Sai Medical " height=200px
						width=200px></span>
			</div>
			<span class="title">Sri Sai Medical </span> </a>
			<h4></h4>
			<p class="text-center">
				khaleelwadi, Nizamabad.
			</p>
		</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/medical/venu.JPG" alt="Venu  Medical" height=200px
						width=200px></span>
			</div>
			<span class="title">Venu  Medical</span> </a>
			<h4></h4>
			<p class="text-center">
				khaleelwadi, Nizamabad.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/medical/sumangli.JPG" alt="Sumangali  Medical" height=200px
						width=200px></span>
			</div>
			<span class="title">Sumangali  Medical</span> </a>
			<h4></h4>
		  	<p class="text-center">
				khaleelwadi, Nizamabad.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/medical/venkateswaramedical.jpg"
						alt="Sri venkateshwara Medical Store" height=200px width=200px>
				</span>
			</div>
			<span class="title">Sri venkateshwara</span> </a>
			<h4></h4>
			<p class="text-center">
				RP Road, Nizamabad.<br> 
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/medical/medicals.png" alt="Ganga Medical Store" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Ganga Medical Store</span> </a>
			<h4></h4>
			<p class="text-center">Azam Road, Nizamabad.</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/medical/medicals.png" alt="Adarsh Medical Store" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Adarsh Medical Store</span> </a>
			<h4></h4>
			<p class="text-center">Nizamabad. Phone No:08462-222617</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/medical/medicals.png" alt="Ganesh Medical Store" height=200px
						width=200px></span>
			</div>
			<span class="title">Ganesh Medical Store</span> </a>
			<h4></h4>
			<p class="text-center">
				Bodhan Road, Nizamabad.<br> Phone No:098482 93272
			</p>
		</div>
</div>