<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Pharmacy Medical Agencies</span>
	</h2>
	<div class="thumbnails recentworks row">

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/Pharma/pharmacy.jpg" alt="mr Medical Agencies" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">M R Medical Agencies</span> </a>
			<h4></h4>
			<p class="text-center">Nizamabad, Phone no:+(91)-8462-222378</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/Pharma/pharmacy.jpg" alt="new Sreenivasa Medical Agencies" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">New Sreenivasa Medical Agencies</span> </a>
			<h4></h4>
			<p class="text-center">Nizamabad. Phone no:+(91)-8462-200917</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/Pharma/pharmacy.jpg" alt="mahesh medical Agencies" height=200px
						width=200px></span>
			</div>
			<span class="title">Mahesh medical Agencies</span> </a>
			<h4></h4>
			<p class="text-center">
				5-7-45, Khaleelwadi, Nizamabad.<br> Phone no:+(91)-8462-224197
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/Pharma/pharmacy.jpg" alt="Vasavi Medical Agencies(Distributors)" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Vasavi Medical Agencies(Distributors) </span> </a>
			<h4></h4>
			<p class="text-center">
				5-5-95, Khaleelwadi, Nizamabad.<br> Phone no:+(91)-8462-233081
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/Pharma/pharmacy.jpg" alt="laxmi  Medical Agency" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Laxmi Medical Agency </span> </a>
			<h4></h4>
			<p class="text-center">
				7-10-924,opp. Gvt hospital, Kamareddy.<br> Nizamabad. Phone
				no:+(91)-08462-221112
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/Pharma/pharmacy.jpg" alt="ms vasavi Medical Agencies" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">M S vasavi Medical Agencies</span> </a>
			<h4></h4>
			<p class="text-center">Nizamabad, Phone no:+(91)-8462-233081</p>
		</div>
	</div>
</div>