<div class="row section recentworks topspace">	
	<h2 class="section-title">
		<span>Scanning centers</span>
	</h2>
	<div class="thumbnails recentworks row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/scanning/sany.jpg" alt="Sanvy Scan center" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Sanvy Scan center</span> </a>
			<h4></h4>
			<p class="text-center">
				khaleelwadi, Nizamabad<br>Phone no:+(91)-8462-220768.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/scanning/scanning.jpg" alt="Indur MRI and Cti Scan center" height=200px
						width=200px>
				</span>
			</div>
			<span class="title">Indur MRI and Cti Scan center</span> </a>
			<h4></h4>
			<p class="text-center">
				khaleelwadi, Nizamabad<br>Phone no:+(91)-8462-220768.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/scanning/scanning.jpg" alt="Srinivas Scanning center"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Srinivas Scanning center</span> </a>
			<h4></h4>
			<p class="text-center">Near Rajivgandhi Auditorium, Nizamabad,
				Phne no:+(91)-8462-228853.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/scanning/scanning.jpg" alt="vijayScanning Center" height=200px
						width=200px></span>
			</div>
			<span class="title">Vijay Scanning Center</span> </a>
			<h4></h4>
			<p class="text-center">
				Khaleelwadi,Nizamabad.<br>Phone no:+(91)-8462-239086.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/scanning/scanning.jpg" alt="Sitala Scanning Center" height=200px
						width=200px></span>
			</div>
			<span class="title">Sitala Scanning Center</span> </a>
			<h4></h4>
			<p class="text-center">
				Khaleelwadi,Nizamabad.<br>
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/scanning/scanning.jpg" alt="Sneha Scanning Center" height=200px
						width=200px></span>
			</div>
			<span class="title">Sneha Scanning Center</span> </a>
			<h4></h4>
			<p class="text-center">
				Khaleelwadi,Nizamabad.<br>
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/scanning/scanning.jpg" alt="Balaji Scanning Center" height=200px
						width=200px></span>
			</div>
			<span class="title">Balaji Scanning Center</span> </a>
			<h4></h4>
			<p class="text-center">
				Khaleelwadi,Nizamabad.<br>
			</p>
		</div>
	</div>
</div>