<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Cariers&jobs</span>
	</h2>
	<div class="thumbnails recentworks row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

			<div class="imgr">
				<a class="thumbnail" href="http://www.careerbuilder.co.in/"> <span
					class="img"> <img
						src="images/yellowpages/careersjobs/career_builder.png" height=200px width=200px alt="CareerBuilder"></span>
			</div>
			<span class="title">CareerBuilder</span> </a>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="http://your.bosch-career.com"> <span
					class="img"> <img
						src="images/yellowpages/careersjobs/bosch_logo.png"  height=200px width=200px alt="BoschCareer"
						height=200px width=200px></span>
			</div>
			<span class="title">BoschCareer </span> </a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="http://www.careersportal.co.za/"> <span
					class="img"> <img
						src="images/yellowpages/careersjobs/thecareresportal.png" height=200px width=200px alt="careersportal"></span>
			</div>
			<span class="title">careersportal</span> </a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail"
					href="http://www.shell.com/global/aboutshell/careers.html"> <span
					class="img"> <img
						src="images/yellowpages/careersjobs/shell.jpg" height=200px width=200px alt="Shell"></span>
			</div>
			<span class="title">Shell</span> </a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="http://resume.naukri.com"> <span
					class="img"> <img
						src="images/yellowpages/careersjobs/naukari.jpg" height=200px width=200px alt="Naukri"></span>
			</div>
			<span class="title">Naukri</span> </a>
		</div>
	</div>
	</div>