<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>train Tickets Booking</span>
	</h2>
	<div class="thumbnails recentworks row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			
				<div class="imgr"><a class="thumbnail"
					href="https://www.irctc.co.in"> <span
					class="img"> <img
						src="images/yellowpages/train/irctc.jpg" height=200px width=200px alt="Irctc"></span></div>
						 <span class="title">Irctc</span>
				</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr"><a class="thumbnail" href="https://www.railticketonline.com">
				<span class="img"> <img
					src="images/yellowpages/train/rto-logo.jpg" height=200px width=200px alt="Railticket" height=200px width=200px></span></div>
					<span class="title">Railticket</span>
			</a>
		</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr"><a class="thumbnail" href="http://www.ixigo.com/trains">
				<span class="img"> <img
					src="images/yellowpages/train/ixigo.com-Logo.jpg" height=200px width=200px alt="Ixigo"></span></div>
					 <span class="title">Ixigo</span>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr"><a class="thumbnail" href="http://www.cleartrip.com/trains">
				<span class="img"> <img
					src="images/yellowpages/train/cleartrip.png" height=200px width=200px alt="Clear Trip"></span></div>
					 <span class="title">Clear Trip</span>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr"><a class="thumbnail" href="http://www.makemytrip.com/railways/">
				<span class="img"> <img
					src="images/yellowpages/train/makemytrip.jpg" height=200px width=200px alt="Make My Trip"></span></div>
					 <span class="title">Make My Trip</span>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr"><a class="thumbnail" href="http://www.zoomtra.com/railways/train-tickets.shtml">
				<span class="img"> <img
					src="images/yellowpages/bus/zoo1.png" alt="Zoomntra"></span></div>
					 <span class="title">Zoomntra</span>
			</a>
		</div>
</div>
</div>