<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Bus Tickets Booking</span>
	</h2>

	<div class="thumbnails recentworks row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			
				<div class="imgr"><a class="thumbnail"
					href="http://www.cleartrip.com/buses"> <span
					class="img"> <img
						src="images/yellowpages/bus/cleartrip.png" height=200px width=200px alt="cleartrip"></span></div>
						 <span class="title">cleartrip</span>
				</a>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr"><a class="thumbnail" href="http://www.ixigo.com/buses">
				<span class="img"> <img
					src="images/yellowpages/bus/ixigo.jpg" height=200px width=200px alt="ixigo" height=200px width=200px></span></div>
					<span class="title">ixigo </span>
			</a>
		</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr"><a class="thumbnail" href="http://www.makemytrip.com/bus-tickets/">
				<span class="img"> <img
					src="images/yellowpages/bus/makemytrip.jpg" height=200px width=200px alt="Make My Trip" ></span></div>
					 <span class="title">Make My Trip</span>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr"><a class="thumbnail" href="http://www.redbus.in/">
				<span class="img"> <img
					src="images/yellowpages/bus/redbus.jpg" height=200px width=200px alt="Red Bus"></span></div>
					 <span class="title">Red Bus</span>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr"><a class="thumbnail" href="http://www.zoomtra.com/bus-tickets/">
				<span class="img"> <img
					src="images/yellowpages/bus/zoo1.png" alt="Zoomtra"></span></div>
					 <span class="title">Zoomtra</span>
			</a>
		</div>
</div>
</div>