<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Grounds</span>
	</h2>
	<div class="thumbnails recentworks row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/entertainement/grounds/cltrgrnd.jpg" alt="Collector ground"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Collector Ground</span> </a>
			<h4></h4>
			<p class="text-center">Collector office,Nizamabad</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/entertainement/grounds/ground1.JPG" alt="Polytechnic Ground"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Polytechnic Ground</span> </a>
			<h4></h4>
			<p class="text-center">Polytechnic college,kanteshwar,Nizamabad</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/entertainement/grounds/ground1.png" alt="Womens College Ground"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Womens college Ground</span> </a>
			<h4></h4>
			<p class="text-center">Kanteshwar,Nizamabad</p>
		</div>	
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/entertainement/grounds/ground1.png" alt="Nagaram Grounde"
						height=200px width=200px></span>
			</div>
			<span class="title">Nagaram Ground</span> </a>
			<h4></h4>
			<p class="text-center">Nagaram,Nizamabad</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/entertainement/grounds/ground1.png" alt="ITI College Ground"
						height=200px width=200px></span>
			</div>
			<span class="title">ITI College Ground</span> </a>
			<h4></h4>
			<p class="text-center">Shivaji Nagar,Nizamabad</p>
		</div>
	</div>
</div>