<div class="thumbnails recentworks row">
	<h2 class="section-title">
		<span>Parks</span>
	</h2>
	<div class="thumbnails recentworks row">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/entertainement/parks/alisagardeer.jpg"
					alt="alisagar deer Park" height=200px width=200px></span>
		</div>
		<span class="title">Alisagar Deer park</span> </a>
		<h4></h4>
		<p class="text-center">Alisagar,yadapally(mdl), Nizamabad</p>
	</div>
	
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/entertainement/parks/park1.png" alt="lalbagh Park"
					height=200px width=200px></span>
		</div>
		<span class="title">Lal Bagh Park</span> </a>
		<h4></h4>
		<p class="text-center">Lal bagh park, kota gally, Nizamabad,
			Telangana</p>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/entertainement/parks/park1.png" alt="yerrakunta Colony Park"
					height=200px width=200px></span>
		</div>
		<span class="title">yerrakunta colny Park</span> </a>
		<h4></h4>
		<p class="text-center">Yerrakunta Colony Park, Kanteshwar,
			Nizamabad.</p>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/entertainement/parks/park1.png" alt="APHb Park" height=200px width=200px></span>
		</div>
		<span class="title">APHB Park</span> </a>
		<h4></h4>
		<p class="text-center">APHB Park, Nizamabad, Telangana.</p>
	</div>
	
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/entertainement/parks/park1.png" alt="temple Park"
					height=200px width=200px>
			</span>
		</div>
		<span class="title">Temple Park</span> </a>
		<h4></h4>
		<p class="text-center">Nizamabad, Telangana.</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/entertainement/parks/park1.png" alt="yedapally Nursery"
					height=200px width=200px></span>
		</div>
		<span class="title">Yedapally Nursery</span> </a>
		<h4></h4>
		<p class="text-center">Yedapally Nursery, Maddipati Nagar,
			yedapally, Telangana.</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/entertainement/parks/park1.png" alt="rock Garden" height=200px width=200px>
			</span>
		</div>
		<span class="title">Rock Garden</span> </a>
		<h4></h4>
		<p class="text-center">Rock Garden , Bodhan-Niazamabad Road,
			Telangana.</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/entertainement/parks/park1.png" alt="thilak Gardens"
					height=200px width=200px></span>
		</div>
		<span class="title">Thilak Gardens</span> </a>
		<h4></h4>
		<p class="text-center">Near Busstand,station Road, Nizamabad</p>
	</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/entertainement/parks/park1.png" alt="Ashok Sagar"
					height=200px width=200px></span>
		</div>
		<span class="title">Ashok Sagar</span> </a>
		<h4></h4>
		<p class="text-center">Bodhan Road, Nizamabad</p>
	</div>
</div>
