<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Theaters<span>
	</h2>
	
	<table class="center" border=2>
	<thead>
		<tr align="center">
			<th scope="col">Theater</th>
			<th scope="col">Movie</th>
			<th scope="col">Show Timings</th>
			<th scope="col">Book Show</th>
			<th scope="col">Map</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong class="book-title"><img
						src="images/entertainement/theaters/devi.jpg" alt="Devi theater"
						height=200px width=200px><br>Devi Theater</strong> Pragathi Nagar,Hyderabad Road, Nizamabad, <br>Phone
				+(91)-8462-234788.</td>
			<td class="item-stock">xxxxxx</td>
			<td class="item-qty">11.15<br>2.15<br>6.15<br>9.00</td>
			<td class="item-price"><a class="thumbnail"
					href="http://in.bookmyshow.com/nizamabad?wzrk_source=Google&wzrk_medium=CPC_NonBranded&wzrk_campaign=book_movie_tickets_campaign_india&gclid=CjwKEAiA5emkBRCT_JL9p77IyF8SJADpztPyN9cbZ_6K01gTn12lVJirHnhqV_wUG_ishFfRmy2kZhoClsLw_wcB">
						 <span class="title">Book My Show</span>
				</a><a class="thumbnail" href="https://www.justickets.in/nizamabad/">
					<span class="title">Just Tickets</span>
			</a><a class="thumbnail" href="http://www.asklaila.com/search/Nizamabad/-/book%20movie%20tickets/?searchNearby=false&v=listing">
				</div>
					 <span class="title">Ask laila Nizamabad</span>
			</a></td>
			<td><strong class="book-title"><a href="https://www.google.co.in/maps/place/Devi+Theatre/@18.6699198,78.1056478,16z/data=!4m2!3m1!1s0x0:0xd21fe478a08758be">View Map</a></strong></td>
		</tr>
		<tr>
			<td><strong class="book-title"><img
						src="images/entertainement/theaters/thirumala.jpg" alt="Tirumala Theater"
						height=200px width=200px><br>Tirumala Theater</strong>Weekly bazar, Nizamabad,</br> Phone +(91)-9640257771</td>
			<td class="item-stock">xxxxxx</td>
			<td class="item-qty">11.15<br>2.15<br>6.15<br>9.00</td>
			<td class="item-price"><a class="thumbnail"
					href="http://in.bookmyshow.com/nizamabad?wzrk_source=Google&wzrk_medium=CPC_NonBranded&wzrk_campaign=book_movie_tickets_campaign_india&gclid=CjwKEAiA5emkBRCT_JL9p77IyF8SJADpztPyN9cbZ_6K01gTn12lVJirHnhqV_wUG_ishFfRmy2kZhoClsLw_wcB">
						 <span class="title">Book My Show</span>
				</a><a class="thumbnail" href="https://www.justickets.in/nizamabad/">
					<span class="title">Just Tickets</span>
			</a><a class="thumbnail" href="http://www.asklaila.com/search/Nizamabad/-/book%20movie%20tickets/?searchNearby=false&v=listing">
				</div>
					 <span class="title">Ask laila Nizamabad</span>
			</a></td>
			<td><strong class="book-title"><a href="https://www.google.co.in/maps/place/Thirumala+theatre/@18.6705928,78.1022841,17z/data=!3m1!4b1!4m2!3m1!1s0x3bcddb292aa8f629:0x27f6158166bc4ec">View Map</a></strong></td>
		</tr>
		<tr>
			<td><strong class="book-title"><img
						src="images/entertainement/theaters/sridevi.jpg" alt="Sridevi Theater"
						height=200px width=200px><br>Sridevi Theater</strong>Beside eros showroom,Gandhi chowk</br> Nizamabad, Phone +(91)-8462-651578</td>
			<td class="item-stock">xxxxxx</td>
			<td class="item-qty">11.15<br>2.15<br>6.15<br>9.00</td>
			<td class="item-price"><a class="thumbnail"
					href="http://in.bookmyshow.com/nizamabad?wzrk_source=Google&wzrk_medium=CPC_NonBranded&wzrk_campaign=book_movie_tickets_campaign_india&gclid=CjwKEAiA5emkBRCT_JL9p77IyF8SJADpztPyN9cbZ_6K01gTn12lVJirHnhqV_wUG_ishFfRmy2kZhoClsLw_wcB">
						 <span class="title">Book My Show</span>
				</a><a class="thumbnail" href="https://www.justickets.in/nizamabad/">
					<span class="title">Just Tickets</span>
			</a><a class="thumbnail" href="http://www.asklaila.com/search/Nizamabad/-/book%20movie%20tickets/?searchNearby=false&v=listing">
				</div>
					 <span class="title">Ask laila Nizamabad</span>
			</a>></td>
			<td><strong class="book-title"><a href="">View Map</a></strong></td>
		</tr>
		<tr>
			<td><strong class="book-title"><img
						src="images/entertainement/theaters/ashok.JPG" alt="Ashok theater"
						height=200px width=200px><br>Ashok theater</strong>Beside Busstand,Station Road, Nizamabad, </br>Phone +(91)-8462-224333</td>
			<td class="item-stock">xxxxxx</td>
			<td class="item-qty">11.15<br>2.15<br>6.15<br>9.00</td>
			<td class="item-price"><a class="thumbnail"
					href="http://in.bookmyshow.com/nizamabad?wzrk_source=Google&wzrk_medium=CPC_NonBranded&wzrk_campaign=book_movie_tickets_campaign_india&gclid=CjwKEAiA5emkBRCT_JL9p77IyF8SJADpztPyN9cbZ_6K01gTn12lVJirHnhqV_wUG_ishFfRmy2kZhoClsLw_wcB">
						 <span class="title">Book My Show</span>
				</a><a class="thumbnail" href="https://www.justickets.in/nizamabad/">
					<span class="title">Just Tickets</span>
			</a><a class="thumbnail" href="http://www.asklaila.com/search/Nizamabad/-/book%20movie%20tickets/?searchNearby=false&v=listing">
				</div>
					 <span class="title">Ask laila Nizamabad</span>
			</a>></td>
			<td><strong class="book-title">View Map</strong></td>
		</tr>
	    <tr>
			<td><strong class="book-title"><img
						src="images/entertainement/theaters/lalithamahal.JPG" alt="Lalitha Mahal Theater"
						height=200px width=200px><br>Lalitha Mahal Theater</strong>Dubba Road, Nizamabad, </br>Phone +(91)-8462-232378</td>
			<td class="item-stock">xxxxxx</td>
			<td class="item-qty">11.15<br>2.15<br>6.15<br>9.00</td>
			<td class="item-price"><a class="thumbnail"
					href="http://in.bookmyshow.com/nizamabad?wzrk_source=Google&wzrk_medium=CPC_NonBranded&wzrk_campaign=book_movie_tickets_campaign_india&gclid=CjwKEAiA5emkBRCT_JL9p77IyF8SJADpztPyN9cbZ_6K01gTn12lVJirHnhqV_wUG_ishFfRmy2kZhoClsLw_wcB">
						 <span class="title">Book My Show</span>
				</a><a class="thumbnail" href="https://www.justickets.in/nizamabad/">
					<span class="title">Just Tickets</span>
			</a><a class="thumbnail" href="http://www.asklaila.com/search/Nizamabad/-/book%20movie%20tickets/?searchNearby=false&v=listing">
				</div>
					 <span class="title">Ask laila Nizamabad</span>
			</a></td>
			<td><strong class="book-title">View Map</strong></td>
		</tr>
		<tr>
			<td><strong class="book-title"><img
						src="images/entertainement/theaters/theater.png" alt="Vijay Theater"
						height=200px width=200px><br>Vijay Theater</strong>Beside Nishitha college,Nizamabad<br> Phone +(91)-8462-220508</td>
			<td class="item-stock">xxxxxx</td>
			<td class="item-qty">11.15<br>2.15<br>6.15<br>9.00</td>
			<td class="item-price"><a class="thumbnail"
					href="http://in.bookmyshow.com/nizamabad?wzrk_source=Google&wzrk_medium=CPC_NonBranded&wzrk_campaign=book_movie_tickets_campaign_india&gclid=CjwKEAiA5emkBRCT_JL9p77IyF8SJADpztPyN9cbZ_6K01gTn12lVJirHnhqV_wUG_ishFfRmy2kZhoClsLw_wcB">
						 <span class="title">Book My Show</span>
				</a><a class="thumbnail" href="https://www.justickets.in/nizamabad/">
					<span class="title">Just Tickets</span>
			</a><a class="thumbnail" href="http://www.asklaila.com/search/Nizamabad/-/book%20movie%20tickets/?searchNearby=false&v=listing">
				</div>
					 <span class="title">Ask laila Nizamabad</span>
			</a></td>
			<td><strong class="book-title">View Map</strong></td>
		</tr>
		<tr>
			<td><strong class="book-title"><img
						src="images/entertainement/theaters/theater.png" alt="Natraj Theater"
						height=200px width=200px><br>Natraj Theater</strong>Bodhan Road, Nizamabad, Phone +(91)-8462-221411</td>
			<td class="item-stock">xxxxxx</td>
			<td class="item-qty">11.15<br>2.15<br>6.15<br>9.00</td>
			<td class="item-price"><a class="thumbnail"
					href="http://in.bookmyshow.com/nizamabad?wzrk_source=Google&wzrk_medium=CPC_NonBranded&wzrk_campaign=book_movie_tickets_campaign_india&gclid=CjwKEAiA5emkBRCT_JL9p77IyF8SJADpztPyN9cbZ_6K01gTn12lVJirHnhqV_wUG_ishFfRmy2kZhoClsLw_wcB">
						 <span class="title">Book My Show</span>
				</a><a class="thumbnail" href="https://www.justickets.in/nizamabad/">
					<span class="title">Just Tickets</span>
			</a><a class="thumbnail" href="http://www.asklaila.com/search/Nizamabad/-/book%20movie%20tickets/?searchNearby=false&v=listing">
				</div>
					 <span class="title">Ask laila Nizamabad</span>
			</a></td>
			<td><strong class="book-title">View Map</strong></td>
		</tr>
		<tr>
			<td><strong class="book-title"><img
						src="images/entertainement/theaters/theater.png" alt="Maheshwari Cinema Hall"
						height=200px width=200px><br>Maheshwari Cinema Hall</strong>Tadkole Road, </br>Banswada, Phone +(91)-9948394060</td>
			<td class="item-stock">xxxxxx</td>
			<td class="item-qty">11.15<br>2.15<br>6.15<br>9.00</td>
			<td class="item-price"><a class="thumbnail"
					href="http://in.bookmyshow.com/nizamabad?wzrk_source=Google&wzrk_medium=CPC_NonBranded&wzrk_campaign=book_movie_tickets_campaign_india&gclid=CjwKEAiA5emkBRCT_JL9p77IyF8SJADpztPyN9cbZ_6K01gTn12lVJirHnhqV_wUG_ishFfRmy2kZhoClsLw_wcB">
						 <span class="title">Book My Show</span>
				</a><a class="thumbnail" href="https://www.justickets.in/nizamabad/">
					<span class="title">Just Tickets</span>
			</a><a class="thumbnail" href="http://www.asklaila.com/search/Nizamabad/-/book%20movie%20tickets/?searchNearby=false&v=listing">
				</div>
					 <span class="title">Ask laila Nizamabad</span>
			</a></td>
			<td><strong class="book-title">View Map</strong></td>
		</tr>
		<tr>
			<td><strong class="book-title"><img
						src="images/entertainement/theaters/theater.png" alt="Usha Prasad Multiplex"
						height=200px width=200px><br>Usha Prasad Multiplex</strong>Shivaji Nagar,Nizamabad.  </br></br> </td>
			<td class="item-stock">xxxxxx</td>
			<td class="item-qty">10.00<br>1.00<br>4.00<br>7.00<br>10.00</td>
			<td class="item-price"><a class="thumbnail"
					href="http://in.bookmyshow.com/nizamabad?wzrk_source=Google&wzrk_medium=CPC_NonBranded&wzrk_campaign=book_movie_tickets_campaign_india&gclid=CjwKEAiA5emkBRCT_JL9p77IyF8SJADpztPyN9cbZ_6K01gTn12lVJirHnhqV_wUG_ishFfRmy2kZhoClsLw_wcB">
						 <span class="title">Book My Show</span>
				</a><a class="thumbnail" href="https://www.justickets.in/nizamabad/">
					<span class="title">Just Tickets</span>
			</a><a class="thumbnail" href="http://www.asklaila.com/search/Nizamabad/-/book%20movie%20tickets/?searchNearby=false&v=listing">
				</div>
					 <span class="title">Ask laila Nizamabad</span>
			</a></td>
			<td><strong class="book-title">View Map</strong></td>
		</tr>
		<tr>
			<td><strong class="book-title"><img
						src="images/entertainement/theaters/theater.png" alt="Srinivasa Theater"
						height=200px width=200px><br>Srinivasa Theater</strong>Tadkole Road, </br>Shakkar nagar Chourasta,</br> Bodhan</td>
			<td class="item-stock">xxxxxx</td>
			<td class="item-qty">11.15<br>2.15<br>6.15<br>9.00</td>
			<td class="item-price"><a class="thumbnail"
					href="http://in.bookmyshow.com/nizamabad?wzrk_source=Google&wzrk_medium=CPC_NonBranded&wzrk_campaign=book_movie_tickets_campaign_india&gclid=CjwKEAiA5emkBRCT_JL9p77IyF8SJADpztPyN9cbZ_6K01gTn12lVJirHnhqV_wUG_ishFfRmy2kZhoClsLw_wcB">
						 <span class="title">Book My Show</span>
				</a><a class="thumbnail" href="https://www.justickets.in/nizamabad/">
					<span class="title">Just Tickets</span>
			</a><a class="thumbnail" href="http://www.asklaila.com/search/Nizamabad/-/book%20movie%20tickets/?searchNearby=false&v=listing">
				</div>
					 <span class="title">Ask laila Nizamabad</span>
			</a></td>
			<td><strong class="book-title">View Map</strong></td>
		</tr>
		<tr>
			<td><strong class="book-title"><img
						src="images/entertainement/theaters/theater.png" alt="Sri Venkateshwara Theater"
						height=200px width=200px><br>Sri Venkateshwara Theater</strong>Rakasipet, Bodhan,</br> Phone +(91)-8467-222111</td>
			<td class="item-stock">xxxxxx</td>
			<td class="item-qty">11.15<br>2.15<br>6.15<br>9.00</td>
			<td class="item-price"><a class="thumbnail"
					href="http://in.bookmyshow.com/nizamabad?wzrk_source=Google&wzrk_medium=CPC_NonBranded&wzrk_campaign=book_movie_tickets_campaign_india&gclid=CjwKEAiA5emkBRCT_JL9p77IyF8SJADpztPyN9cbZ_6K01gTn12lVJirHnhqV_wUG_ishFfRmy2kZhoClsLw_wcB">
						 <span class="title">Book My Show</span>
				</a><a class="thumbnail" href="https://www.justickets.in/nizamabad/">
					<span class="title">Just Tickets</span>
			</a><a class="thumbnail" href="http://www.asklaila.com/search/Nizamabad/-/book%20movie%20tickets/?searchNearby=false&v=listing">
				</div>
					 <span class="title">Ask laila Nizamabad</span>
			</a></td>
			<td><strong class="book-title">View Map</strong></td>
		</tr>
		<tr>
			<td><strong class="book-title"><img
						src="images/entertainement/theaters/theater.png" alt="Priyadelux theate"
						height=200px width=200px><br>Priyadelux theate</strong>kamareddy.<br>phone+(91)-8468-222355</td>
			<td class="item-stock">xxxxxx</td>
			<td class="item-qty">11.15<br>2.15<br>6.15<br>9.00</td>
			<td class="item-price"><a class="thumbnail"
					href="http://in.bookmyshow.com/nizamabad?wzrk_source=Google&wzrk_medium=CPC_NonBranded&wzrk_campaign=book_movie_tickets_campaign_india&gclid=CjwKEAiA5emkBRCT_JL9p77IyF8SJADpztPyN9cbZ_6K01gTn12lVJirHnhqV_wUG_ishFfRmy2kZhoClsLw_wcB">
						 <span class="title">Book My Show</span>
				</a><a class="thumbnail" href="https://www.justickets.in/nizamabad/">
					<span class="title">Just Tickets</span>
			</a><a class="thumbnail" href="http://www.asklaila.com/search/Nizamabad/-/book%20movie%20tickets/?searchNearby=false&v=listing">
				</div>
					 <span class="title">Ask laila Nizamabad</span>
			</a></td>
			<td><strong class="book-title">View Map</strong></td>
		</tr>
	</tbody></table>
	</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
