<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Optical stores</span>
	</h2>
	<div class="thumbnails recentworks row">


		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/optical/eye.JPG" alt="Eye Zone opticals"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Eye Zone opticals</span> </a>
			<h4></h4>
			<p class="text-center">
				Khaleelwadi,Nizamabad.<br>
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/optical/shankeropt.JPG" alt="Shanker opticals"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Shanker opticals</span> </a>
			<h4></h4>
			<p class="text-center">
				Khaleelwadi,Nizamabad.<br>
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/optical/drishti.JPG" alt="Durshti Opticals"
						height=200px width=200px></span>
			</div>
			<span class="title">Durshti Opticals</span> </a>

			<p class="text-center">
				Khaleelwadi Road, Nizamabad.<br>Phone +(91)-9440032085.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/optical/optical.jpg" alt="Gouri optical"
						height=200px width=200px></span>
			</div>
			<span class="title">Gouri optical</span> </a>
			<h4></h4>
			<p class="text-center">
				Khaleelwadi, Nizamabad.<br>
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/optical/optical.jpg" alt="Ramdev Opticals"
						height=200px width=200px></span>
			</div>
			<span class="title">Ramdev Opticals</span> </a>
			<h4></h4>
			<p class="text-center">
				Tiwari Complex, Khaleelwadi, Nizamabad. <br>Mobile
				+(91)-9533243233
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/optical/optical.jpg" alt="Vasan eye care Store"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Vasan eye care Store</span> </a>
			<h4></h4>
			<p class="text-center">
				Hyderabad Road,Nizamabad<br>Phone +(91)-8462-655515.
			</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/optical/optical.jpg" alt="Zoom Opticals"
						height=200px width=200px></span>
			</div>
			<span class="title">Zoom Opticals</span> </a>
			<h4></h4>
			<p class="text-center">
				Khaleelwadi Street, Nizamabad.<br>Phone +(91)-9885000782
			</p>
		</div>
	</div>
</div>