<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Pathological labs</span>
	</h2>
	<div class="thumbnails recentworks row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div class="imgr">
						<a class="thumbnail" href=""> <span class="img"> <img
								src="images/health/pathological/pathological.jpg" alt="pavan Clinic" height=200px
								width=200px></span></div><span class="title">Pavan Clinic</span>
						</a>
						<h4></h4>
						<p class="text-center">
							Vidyut Nagar, Kanteshwar, Nizamabad<br>phone no:9848234093.
						</p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/health/pathological/pathological.jpg" alt="Jyothi Diagnostic center" height=200px
						width=200px> </span></div> <span class="title">Jyothi Diagnostic center</span>
				</a>
				<h4></h4>
				<p class="text-center">
					Khaleelwadi, Nizamabad.<br>phone no:08462-253177
				</p>
			</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<div class="imgr">
							<a class="thumbnail" href=""> <span class="img"> <img
									src="images/health/pathological/pathological.jpg" alt="Sri Tara pathological Laboratory"
									height=200px width=200px> </span></div> <span class="title">Sri Tara pathological Laboratory</span>
							</a>
							<h4></h4>
							<p class="text-center">
								Manorama scanning Centre,Nizamabad<br>phone no:9949035448
							</p>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
							<div class="imgr">
								<a class="thumbnail" href=""> <span class="img"> <img
										src="images/health/pathological/pathological.jpg" alt="Sri sai saraswati pathological lab"
										height=200px width=200px></span></div> <span class="title">Sri sai saraswati pathological lab</span>
								</a>
								<h4></h4>
								<p class="text-center">
									kanteshwar, Nizamabad.<br>phone no:9949051885.
								</p>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="imgr">
									<a class="thumbnail" href=""> <span class="img"> <img
											src="images/health/pathological/pathological.jpg" alt="SV Pathological
												laboratory" height=200px
											width=200px></span></div> <span class="title">SV Pathological
												laboratory</span></a>
									<h4></h4>
									<p class="text-center">
										khaleelwadi, Nizamabad<br>phone no:08462-329091
									</p>
								</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgr">
					<a class="thumbnail" href=""> <span class="img"> <img
							src="images/health/pathological/pathological.jpg" alt="Medi Care Pathological Lab" height=200px
							width=200px> </span></div> <span class="title">Medi Care Pathological Lab</span>
					</a>
					<h4></h4>
					<p class="text-center">
						Ahmedpura colony,Nizamabad<br>phone no:8801234882
					</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="imgr">
					<a class="thumbnail" href=""> <span class="img"> <img
							src="images/health/pathological/sainidhi.jpg" alt="Medi Care Pathological Lab" height=200px
							width=200px> </span></div> <span class="title">Sai Nidhi Institute Of DNA Research Center</span>
					</a>
					<h4></h4>
					<p class="text-center">
						Beside Barath Lab,Kheelwadi,Nizamabad<br>phone no:9052409295
					</p>
				</div>
							</div>
						</div>