<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Yoga Center</span>
	</h2>
	<div class="thumbnails recentworks row">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/health/yogagym/yoga.jpg" alt="Guruji Yoga centre" height=200px
					width=200px></span>
		</div>
		<span class="title">Guruji Yoga centre</span> </a>
		<p class="text-center">Armoor Road, Kanteshwar, Nizamabad.
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/health/yogagym/yoga.jpg" alt="Sahaja Yoga Meditation Centre." height=200px
					width=200px></span>
		</div>
		<span class="title">Sahaja Yoga Meditation Centre. </span></a>
		<h4></h4>
		<p class="text-center">Hyd Road, Nizamabad.</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/health/yogagym/yoga.jpg" alt="Sadhana Yoga kendram." height=200px
					width=200px></span>
		</div>
		<span class="title"> Sadhana Yoga kendram. </span></a>
		<h4></h4>
		<p class="text-center">
			New Ngos Colony, Nizamabad Ho, Nizamabad.<br> Phone
			+(91)-9295604255.
		</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/health/yogagym/yoga.jpg" alt="Arogyaraksha Nature Cure, Yoga and Beauty
			Centre" height=200px
					width=200px></span>
		</div>
		<span class="title"> Arogyaraksha Nature Cure, Yoga and Beauty
			Centre </span></a>
		<h4></h4>
		<p class="text-center">
			subhash Nagar, Beside Tagore Vidyanikethan, Nizamabad.<br> Phone
			+(91)-9030888141
		</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/health/yogagym/yoga.jpg" alt="Vipassana International Meditation Centre
			Pocharam." height=200px
					width=200px></span>
		</div>
		<span class="title">Vipassana International Meditation Centre
			Pocharam.</span></a>
		<h4></h4>
		<p class="text-center">
			Yedpalli Mandal, Nizamabad.<br> Phone +(91)-9908596336
		</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imgr">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/health/yogagym/yoga.jpg" alt="Arogyaraksha Yoga" height=200px
					width=200px></span>
		</div>
		<span class="title"> Arogyaraksha Yoga </span></a>
		<h4></h4>
		<p class="text-center">
			Subhash Nagar, Beside Tagore Vidya Nikethan, Nizamabad.<br>Phone
			+(91)-9030888141
		</p>
	</div>
</div>
</div>



