<body>
	<main id="main">
	<div class="container">
		<div class="row topspace">
			<!-- Sidebar -->
			<aside class="col-md-4 sidebar sidebar-left">
				<div class="row widget">
					<div class="col-xs-12">
						<h1 class="page-title">Basar</h1>
					</div>
				</div>
				<div class="row widget">
					<div class="col-xs-12">
						<p>
							<img src="images/tourism/nearestplaces/saraswati.jpg" alt="Godhead Saraswathi">
						</p>
					</div>
				</div>
				<div class="row widget">
					<div class="col-xs-12">
						<p>
							<img src="images/tourism/nearestplaces/akshrabyas.jpg" alt="Basar Temple outside view">
						</p>
					</div>
				</div>
			</aside>
			<!-- /Sidebar -->

			<!-- Article main content -->
			<h4>
				<b>Description</b>
			</h4>
			</header>
			<p align=left>The Godhead saraswathi davy is located in Basar
				village, Adilabad District of Telangana state.</p>
			<h4>
				<b>History</b>
			</h4>
			<p align=left>Five thousand years ago Sri Veda Vyasa after the
				Epic war of "Maha Bharatha" travelled from South to North in
				Dhandakaranya region and performed peace to please the godhead
				Saraswathi on the banks of holy river Godavari. Every day he wakes up by early morning and goes to the Godavari river for a bath and returns to his Ashramam and engaged in his meditation till the sun set. He used to pray by following words for the Godhead Saraswathi "Paramashanthi Pradaayini, Adrushyaroopini". Because of Veda Vyasa's meditation this region called as "Tapobhoomi". He followed by three goddesses..</p>
			<h4>
				<b>Specialities</b>
			</h4>
			<p align=left>Here one 'Koneru' available in east side of the
				main temple. These Koneru also called "Papaharini-Pushkarini".</p>
			<p align=left>Here is "Vyasa Guha" which the Maharushi the Veda Vyasa prayed for the godhead Lord Saraswathi Matha. This place is Located back side of the temple on the hills and The godhead Lord Saraswathi Matha's big Statue is located back side of the temple.</p>
			<p align=left>
				The place attracts with greenery and neatness. It attracts every Visitors' attention. There is another specialty of Vedavathi Shila near the bus station in the village. The specialty of this stone Is if we beat with any stone it resounds like a "Raagi"..
			</p>
			<p align=left>There is a lord Vinayaka Swami's temple near the Mayan temple of lord Saraswathi Matha. There is a Datta Mandir beside Lord Saraswathi Matha's temple in the main temple at the wavy tree. There is a Maha Laxmi Matha's temple near the main temple of the lord Saraswathi Matha.</p>
			<h4>
				<b>Travelling</b>
			</h4>
			<p align=left>1. BUS: Basara is a popular town in Adilabad District in the state of Telangana. It is about 28kms from Bodhan of Nizamabad district, 30kms from Bhainsa of Adilabad district, 15kms From Dharmabad of Maharastra, 35kms from Nizamabad, 210kms from Hyderabad, capital of Telangana State.</p>
			<p align=left>2. Train: Basara is a popular town in Adilabad District in the state of Telangana. We can reach temple simple way For trainees. Here trains are available.</p>
			<h4>
				<b>Special Movements in Temple</b>
			</h4>
			<p align=left>1. Akshaya Shudda Pournami (Vyasa Pournami)</p>
			<p align=left>2. Ashvayuja Shudda Pratipada Dashami (Dasara
				Navaratrulu)</p>
			<p align=left>3. Maagha Shudda Panchami (Vasantha Panchami), Sri
				Saraswathi Devi's Birthday</p>
			<p align=left>4. Palguna Thrayodashi (Maha Shivarathri)</p>
			<h4>
				<b>Facilities</b>
			</h4>
			<p align=left>Nityannadanna stream available for all people. Beside the temple we can find many private lodging for accommodations.
			</p>
			<p align=left>The temple trust will provide a free bus facility From Railway Station to Godavari River via temple.</p>
			<h4>
				<b>Temple Seva & Visiting Hours</b>
			</h4>
			<div class="container">
				<table>
					<thead>
						<tr>
							<th>Type of Pooja</th>
							<th>Timings</th>
						</tr>
						<p>
					<tbody>
						<tr>
							<td><strong class="book-title">pooja</strong></td>
							<td>4.30am</td>
						</tr>
						<tr>
							<td><strong class="book-title">Abhishekam,Alankarana,Harathi.</strong>
							</td>
							<td>04:30 to 07:30 am</td>
						</tr>
						<tr>
							<td><strong class="book-title">Aksharabysam Time.</strong></td>
							<td>07:30 to 12:00</td>
						</tr>
						<tr>
							<td><strong class="book-title">Temple closed</strong></td>
							<td>12:30to02:00 pm</td>
						</tr>
						<tr>
							<td><strong class="book-title">Arachana, Darshan</strong></td>
							<td>02:00 to 06:30pm</td>
						</tr>
						<tr>
							<td><strong class="book-title">Maha harathi</strong></td>
							<td>07:30pm</td>
						</tr>
						<tr>
							<td><strong class="book-title">Temple closed.</strong></td>
							<td>08:30pm</td>
						</tr>
					</tbody>
				</table>
			</div>
			</article>
			<!-- /Article -->
		</div>
	</div>
	<!-- /container --> </main>