<body>
	<main id="main">
	<div class="container">
		<div class="row topspace">
			<!-- Sidebar -->
			<aside class="col-md-4 sidebar sidebar-left">
				<div class="row widget">
					<div class="col-xs-12">
						<h1 class="page-title">Laxmi Narasimha Swami</h1>
					</div>
				</div>
				<div class="row widget">
					<div class="col-xs-12">
						<p>
							<img src="images/tourism/jankampet/jankampet2.jpg" alt="Laxmi Narasimha Swamy">
						</p>
					</div>
				</div>
				<div class="row widget"></div>
			</aside>
			<!-- /Sidebar -->
			<!-- Article main content -->
			<p align=left>
				<b><h4>Places to be seen in Jankampet</h4></b>
			</p>
			</header>
			<p align=left>Jankampet is famously known for the Laxmi Narasimha Swami temple. It is very near to the Nizamabad city. This temple is Located on the hill, it was built in 10th century by bodhan Chalukyas. In 12th century kakathiyas were rebuilt this temple.</p>
			<p align=left>
				One of the famous pond in south India is located at this place known
				By the name <b>Ashtamuki koneru</b> . The pond has 8 faces in 8
				Directions so this pond is named as Ashtamuki koneru.</b>
			<p align=left>Most of the people come on Amavasya and pournami Days, and annual jatara. This jatara is very famous in the Telangana State.</p>
			<p align=left>
				<b><h4>Importance of Jankampet</h4></b>
			</p>
			<p align=left>South India one and only one Ashtamukhee Koneru Here it is. The Ashtamukhee Koneru is the specially of the temple And nowhere in the Telangana State this temple is seen. Crystal Clear water will be flowing over the koneru in Rainy time and lots Of pilgrims are coming into Pournami Amavasya Day, Annual Jatra is Famous.</p>
			<p align=left>This can be developed as another picnic spot in the
				District by developing garden other tourist amenities.</p>
			<!-- /Article -->
		</div>
	</div>
	<!-- /container --> </main>