<body>
	<main id="main">
	<div class="container">
		<div class="row topspace">
			<!-- Sidebar -->
			<aside class="col-md-4 sidebar sidebar-left">
				<div class="row widget">
					<div class="col-xs-12">
						<h1 class="page-title">
							<b>Narsingpally</b>
						</h1>
					</div>
				</div>
				<div class="row widget"></div>
				<div class="row widget">
					<div class="col-xs-12">
						<h4>Lord Venkateswara Swami Temple </h4>
						<p align="left">
							<img src="images/gallary/20150103_115756.jpg" alt="Lord Venkateswara Swami Temple">
					</div>
				</div>
			</aside>
			<!-- /Sidebar -->
			<p align="left">
			<h4>
				<b>HISTORY</b>
			</h4>
			</p>
			<p align="left">Lord Venkateswara Swami Temple is located in Narsingpally Nizamabad Mandal in, Nizamabad District in Telangana State, India. It belongs to Telangana region . It is 10 KM away from District headquarters Nizamabad. </p>
			<p align="left">We can reach Narsingpally easily from the nearby Villages 4Kms Distance From Kulaspur, 5Kms Distance From Mullangi, 6Kms Distance From Nyalkal,   6Kms Distance From Badsi, 6Kms Distance From Dharmaram.</p>
			<p align="left">It is surrounded by Nizamabad Mandals towards North, Makloor towards North, Yedapalle towards west, Gandhari towards the South.</p>
			
			</p>
			<p align=left>Telugu is the Local Language here. </p>
				<h4>
				<b><p>How to Reach  Narsingpally </p></b>
			</h4>
			<h4>
			<p align="left">Nizamabad, Bodhan, Kamareddy, Bhainsa are the nearest Cities to Narsingpally. </p>
				<b><p align=left>By Rail </p></b>
			</h4>
			
			</p>
			<p align=left>There is no railway station near to Narsingpally in less than 10 km.  </p>
			<h4>
				<b><p align=left>By Buss </p></b>
			</h4>
			
			</p>
			<p align=left>Nizamabad , Bodhan , Kamareddy , Bhainsa  are the nearby by towns to Narsingpally having road connectivity to Narsingpally.</p>
			
			</article>
			<!-- /Article -->
		</div>
	</div>
	<!-- /container -->