<body>
	<main id="main">
	<div class="container">
		<div class="row topspace">
			<!-- Sidebar -->
			<aside class="col-md-4 sidebar sidebar-left">
				<div class="row widget">
					<div class="col-xs-12">
						<h1 class="page-title">
							<b>Nizam sagar</b>
						</h1>
					</div>
				</div>
				<div class="row widget"></div>
				<div class="row widget">
					<div class="col-xs-12">
						<h4>Nizamsagar Dam</h4>
						<p align="left">
							<img src="images/tourism/nizamsagar/Nizamsagardam.jpg" alt="NizamSagar Dam">
						</p>
						<p align="left">
							The dam was constructed in 1923 by<b> Mir Osman Ali khan</b>. It
							was constructed by emptying over 40 villages. The history of<b>
								dam poster</b> is placed besides the hanuman temple.
						</p>
						<p align="left">
							The visiting place near to the dam is <b>golebangla</b>. From the
							<b>golebangla</b> total dam view is easily to see it was
							constructed in 19th century.
						</p>
					</div>
				</div>
			</aside>
			<!-- /Sidebar -->
			<p align="left">
			<h4>
				<b>HISTORY</b>
			</h4>
			</p>
			<p align="left">Nizam sagar is one of the famous dam in
				Nizamabad(dist), Telangana(india). It is located in Nizamsagar
				village. Is constructed on the Manjira river over the achampet and
				banjapalle villages.</p>
			<p align="left">The length of the dam is 8kms,this reservoir
				contains 24 gates,the capacity of reservoir is across
				29,716Mcft.,height of the dam above river bed is 115.50ft.
				cultivated command area is 2.75 lakhs acres. Area localized 2.31
				lakhs acres..</p>
			<p align="left">Every year so many people come to visit the dam.
				For relaxing there are parks and each and every facilities are
				available at this location. Boating is also available for enjoying
				the dam view.</p>
			<p align="left">
			<h4>
				<b>SALIENT FEATURES</b>
			</h4>
			</p>
			<p align=left>Capcity of reservoir is Gross 29,716Mcft.</p>
			<p align=left>Live is 25,600Mcft.</p>
			<p align=left>Present capacity @ 786Mcft.
			</li>
			<p align=left>Height of the Dam above River Bed is 115.50ft.</p>
			<p align=left>Gravity 10,100ft , Composit 5,200ft.</p>
			<p align=left>Area Irrigated : i) Cultivated command area is 2.75
				Lakhs Acres.</p>
			<p align=left>ii) Area Localized: 2.31 Lakhs Acfes</p>
			</article>
			<!-- /Article -->
		</div>
	</div>
	<!-- /container -->