<body>
	<main id="main">
	<div class="container">
		<div class="row topspace">
			<!-- Sidebar -->
			<aside class="col-md-4 sidebar sidebar-left">
				<div class="row widget">
					<div class="col-xs-12">
						<h1 class="page-title">Shri Hanuman Mandir</h1>
					</div>
				</div>
				<div class="row widget">
					<div class="col-xs-12">
						<p><img src="images/tourism/sarangapur/Sarangapur1.jpg" alt="Hanuman Temple"></p>
					</div>
				</div>
			</aside>			<!-- /Sidebar -->
			<!-- Article main content -->
					<p align=left><h4><b>HISTORY AND DISCRIPTION</b></h4></p>
				</header>
				<p align=left>Hanuman Temple is located in Sarangapur. Temple is 7km away from Nizamabad. This temple foundation by Saint Samartha Ramadas,  the  guru of chhatrapathi Shivaji Maharaj. </p>
				<p align=left>Sarangpur has been developed by the department of Telangana tourism.</p>
				<p align=left>The image of the temple is powerful, it is used to drive the evil spirits out of the people who are affected by the evils.</p>
				<p align=left>Saturday is dedicated to Hanuman, on that day the people who are affected by mental illnesses and other diseases brought to the temple to touch the rod which is used by the Sadguru Gopalanad Swami.</p>
				<p align=left>The hanuman temple is on a small hillock, there are nice  places around  the temple where People can spend their time.</p>
			</article>
			<!-- /Article -->
		</div>
	</div>	<!-- /container -->
</main>
