<body>
	<main id="main">
	<div class="container">
		<div class="row topspace">
			<!-- Sidebar -->
			<aside class="col-md-4 sidebar sidebar-left">
				<div class="row widget">
					<div class="col-xs-12">
						<h1 class="page-title">Sriram Sagar</h1>
					</div>
				</div>
				<div class="row widget">
					<div class="col-xs-12">
						<p align=left><img src="images/tourism/sriramsagar/sriramsagar.jpg" alt="SriramSagar Dam"></p>
				<p align=left>The project foundation was laid on 26th july 1963 by the first prime minister of india <b>Jawaharlal Nehru</b>.
               </p>
               </div>
               </div>
				</aside>
				<p align=left>The another name of the project is <b>khustapuram  project</b>. This project proposal was first investigated by <b>erstwhile</b> Hyderabad state under Nizam rule.</p>
				<p align=left><h2><b>HISTORY</b></h2></p>
				<p align=left>Sriram sagar is an irrigation project in Nizamabad dist.  It is an Indian flood-flow project on the Godavari river. This project is located 3km away from the National High way 7. This project has 42 floodgates and  it includes Four canals like kakatiya canal, laxmi canal, saraswathi canal, and flood flow canal.The most of the catchment area upstream of this dam is located in Maharashtra.  
               </p>
               <p align=left>This project serves many districts like (karimnagar, Warangal, adilabad, nalgonda, khammam,etc.) the people mostly depends on this project because it provides drinking water and for cultivation. There is a hydroelectric plant working at the dam site.</p>
               <p align=left>Every year so many people come to visit the dam. For relaxing there are parks and each and every facilities are available at this location.  </p>
			</article>
			<!-- /Article -->
		</div>
	</div>	<!-- /container -->
</main>

