	<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Schools </span>
	</h2>
	<div class="thumbnails recentworks row">
	
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/nirmalahrudaya.JPG"
						alt="Nirmalahrudaya " height=200px width=200px></span>
			</div>
			<span class="title">Nirmala Hrudaya School</span> </a>
			<h4></h4>
			<p class="text-center">Subash Nagar, Nizamabad, <br> Phone No.08462-239901</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/sunflower.JPG" alt="Sunflower"
						height=200px width=200px></span>
			</div>
			<span class="title">Sunflower High School</span> </a>
			<h4></h4>
			<p class="text-center">Bobbili Street, Nizamabad,<br> Phone No.08462-224070.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/rbvrr.JPG" alt="RBVRR " height=200px
						width=200px></span>
			</div>
			<span class="title">RBVRR High School</span> </a>
			<h4></h4>
			<p class="text-center">Armoor road, Mubarak Nagar, Nizamabad<br> Phone No.08462-237683</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/Vignan1.jpg" alt="Vignan"
						height=200px width=200px></span>
			</div>
			<span class="title">Vignan Techo School </span> </a>
			<h4></h4>
			<p class="text-center">Subash Nagar, Nizamabad, <br>Phone No.08462-240259.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href="" height=200px width=200px> <span
					class="img"> <img src="images/education/schools/school6.JPG"
						alt="CSI">
				</span>
			</div>
			<span class="title">C S I High School</span> </a>
			<h4></h4>
			<p class="text-center">Kanteshwar, Opp Govt Politechnic college, Nizamabd, <br>Phone No.08462-37953</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/knowledgepark.jpg"
						alt="Knowledgepark international school" height=200px width=200px>
				</span>
			</div>
			<span class="title">Knowledgepark international school</span> </a>
			<h4></h4>
			<p class="text-center">Yakubpura, Bodhan Road, Nizamabad. <br>Phone No.08462-645681,<br> Mobile No.9849061791, 9247238198.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/sttherisa.JPG"
						alt="St Theresa" height=200px width=200px></span>
			</div>
			<span class="title">ST Theresa High School</span> </a>
			<h4></h4>
			<p class="text-center">Kanteshwar, Nizamabad.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/stjudes.jpg"
						alt="St Jude's" height=200px width=200px></span>
			</div>
			<span class="title">St.Jude's High School</span> </a>
			<h4></h4>
			<p class="text-center">Mubarak Nagar, Nizamabad.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/ravi.JPG"
						alt="Ravi" height=200px width=200px></span>
			</div>
			<span class="title">Ravi Public School</span> </a>
			<h4></h4>
			<p class="text-center">Kanteshwar, Nizamabad.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/vidyaresidential.jpg"
						alt="Vijaya " height=200px width=200px></span>
			</div>
			<span class="title">Vijaya Residential High School</span> </a>
			<h4></h4>
			<p class="text-center">Birkoor, Nizamabad.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa vidyaniketan" height=200px width=200px>
				</span>
			</div>
			<span class="title">Sreenivasa Vidyaniketan</span> </a>
			<h4></h4>
			<p class="text-center">Banswada, Nizamabad.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sri bharathi vidyalayam" height=200px width=200px></span>
			</div>
			<span class="title">Sri Bharathi Vidyalayam </span> </a>
			<h4></h4>
			<p class="text-center">Beemgal, Nizamabad.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title">Sreenivasa High School</span> </a>
			<h4></h4>
			<p class="text-center">Narsi Road, Bodhan.</p>
		</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title">Kakatiya High School </span> </a>
			<h4></h4>
			<p class="text-center">Pragathi Nagar,Nizamabad.</p>
		</div>
		
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title">Vijay Public School </span> </a>
			<h4></h4>
			<p class="text-center">#3-68/2a, Mubarak Nagar, Nizamabad.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title">A.P Social Residential School For Girls</span> </a>
			<h4></h4>
			<p class="text-center">Kotagalli, Nizamabad.</p>
		</div>
			
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title">Presidency High School </span> </a>
			<h4></h4>
			<p class="text-center">Vinayak Nagar, Nizamabad, Phone No. 9246912616</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title">Nalanda High School </span> </a>
			<h4></h4>
			<p class="text-center">Near Radio Station, Nyalkal Road, Nizamabad.Phone No. 08462 - 653400</p>
		</div>
			
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title">Sacred Heart Academy </span> </a>
			<h4></h4>
			<p class="text-center">Borgoan(P), Vinayak Nagar, Nizamabad.Phone No. 08462 - 235244</p>
		</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title">Sri Arbindho High School</span> </a>
			<h4></h4>
			<p class="text-center">Pavan Nagar, Opp.KCP Oil Mill, Nizamabad.Phone No. 9440090141</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title">Sri Vishwa Shanti School</span> </a>
			<h4></h4>
			<p class="text-center">Near TTD mandapam, Pullong Road<br> Nizamabad,Phone No. 9912086135</p>
		</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title">Vishwa Bharathi E - Techno School</span> </a>
			<h4></h4>
			<p class="text-center">Vinayak Nagar, Nizamabad.Phone No. 8341880076</p>
		</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title">Scholars High School </span> </a>
			<h4></h4>
			<p class="text-center">New NGOs Colony, Nizamabad.Phone No. 9849012413</p>
		</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title">Adarsha High School </span> </a>
			<h4></h4>
			<p class="text-center"> Weekly Market, Bobbili Street, Nizamabad.Phone No. 08462 - 224070</p>
		</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title">Geetanjali High School </span> </a>
			<h4></h4>
			<p class="text-center">New NGOs Colony, Subhash Nagar, Nizamabad.Phone No. 9440242010</p>
		</div>
			
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title">Vivekananda Model School </span> </a>
			<h4></h4>
			<p class="text-center">Kanteshwar, Nizamabad.Phone No. 08462 - 646576</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title">Oxford High School</span> </a>
			<h4></h4>
			<p class="text-center">4th Lane, Beside Vijay Theatre, Yellamagutta, Nizamabad.Phone No. 08462 - 250903</p>
		</div>
			
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title">Orchid School</span> </a>
			<h4></h4>
			<p class="text-center">Opp.Radio Station, Nyalkal Road, Nizamabad.Phone No. 08462 - 245577</p>
		</div>
			
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title">Doodles The Play School</span> </a>
			<h4></h4>
			<p class="text-center">Vinayak Nagar, Nizamabad.Phone No. 9573482550 </p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title">Radiant Abacus School </span> </a>
			<h4></h4>
			<p class="text-center">Malaria Office, Barkatpura Road, Boorud Galli,, Nizamabad.Phone No. 08462 - 645294</p>
		</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title">Cute Kids Convent School </span> </a>
			<h4></h4>
			<p class="text-center">Cute Kids Complex, Govt.Girls School, Jenda Galli, Nizamabad.</p>
		</div>
		
			
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title">Indian Public School </span> </a>
			<h4></h4>
			<p class="text-center">Vinayak Nagar, Nizamabad,Phone No. 9397306123</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title">National High School </span> </a>
			<h4></h4>
			<p class="text-center"># 9-12-149, Quilla Road, Nizamabad.Phone No. 08462 - 220486</p>
		</div>
		
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title">Vignan High School</span> </a>
			<h4></h4>
			<p class="text-center">Subhash Nagar , Nizamabad.</p>
		</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title"> Patashala The School </span> </a>
			<h4></h4>
			<p class="text-center">Road No 4,Vinayak Nagar.Phone No. 9951854446</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title">Little Scholars E - Techno School </span> </a>
			<h4></h4>
			<p class="text-center">Laxmisharada Complex, Beside MRF Showroom, Vinayak Nagar, Nizamabad.Phone No. 08462 - 238366</p>
		</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title">Vishwodaya High School </span> </a>
			<h4></h4>
			<p class="text-center">Arya Nagar, Borgaon(P), Nizamabad.Phone No. 08462 - 235148</p>
		</div>
			
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title">Raghava High School  </span> </a>
			<h4></h4>
			<p class="text-center">Vinayak Nagar, 1st Mayor Street, Nizamabad. Phone No. 9396424996</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title"> Blooming Buds High School  </span> </a>
			<h4></h4>
			<p class="text-center"> Mubarak Nagar, Srinivasa Nagar Colony, Nizamabad Phone No. 08462 - 202249</p>
		</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title"> HPS Kids  </span> </a>
			<h4></h4>
			<p class="text-center">Lane Beside JJ Ready Hospital, Khaleelwadi,Phone No. 9618737373</p>
		</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title"> SSR Discovery Academy </span> </a>
			<h4></h4>
			<p class="text-center">Madhavanagar, Nizamabad,Phone No. 8978198421</p>
		</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title"> Navya Bharathi Global School  </span> </a>
			<h4></h4>
			<p class="text-center">Near Das Nagar Junction, Manik Bhandar, Nizamabad,Phone No. 9908523333</p>
		</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title">Indrani School </span> </a>
			<h4></h4>
			<p class="text-center">5-11-261, Saraswathi Nagar,<br> Nizamabad.Phone No. 9441706932 </p>
		</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sreenivasa " height=200px width=200px></span>
			</div>
			<span class="title"> Vasavi Spaes School </span> </a>
			<h4></h4>
			<p class="text-center">Vasavi Yuvajana Sangam, Opp. Mahalaxmi Temple, Mahalaxmi Nagar, Nizamabad.Phone No. 9951261999</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgr">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/education/schools/school.png"
						alt="sri saraswathi shishu mandir" height=200px width=200px></span>
			</div>
			<span class="title">Sri Saraswathi Shishu Mandir</span> </a>
			<h4></h4>
			<p class="text-center">Kotagally, Nizamabad.</p>
		</div>
		
			
</div>