
<div class="wrapper col4">
  <div id="container">
    <div id="services">
      <h1>Banswada</h1>
      <ul>
        <li>
          <h2>About Banswada</h2>
          <div class="imgholder"><img src="images/gallary/banswada.jpg" width="240" height="120"alt="" /></div>
          <p>Banswada is Located  in  Nizamabad  District of  Telangana. It is about 35km from District Headquarters Nizamabad. Bansawada  is a fifth Largest  town in Nizamabad.</p>
                                      
          <p class="more"><a href="http://en.wikipedia.org/wiki/Banswada">Continue Reading &raquo;</a></p>
        </li>
        <li>
          <h2>History</h2>
          <div class="imgholder"><img src="images/tourism/alisagar/alisagar.jpg" width="240" height="120" alt="" /></div>
          <p>Bansawada  is a fifth Largest  town in Nizamabad. This name is derived  Antique name  Mahisawada( the hoary indian epic, the mahabarata,  part of the story  takes place in mahishapuram) bansawada was derived from  word  BASAVANAMU  which means MOGILOPULA THOTA (pandanus  plantation) on behalf of this city is named as  Banswada.</p>
          <p class="more"><a href="http://en.wikipedia.org/wiki/Banswada">Continue Reading &raquo;</a></p>
        </li>
        <li class="last">
          <h2>Temple</h2>
          <div class="imgholder"><img src="images/gallary/b_sai1.jpg" width="240" height="120" alt="" /></div>
          <p>Temples to visited in Bansawada are Sai Baba Temple in  Nemali.  It is  also known as another shirdi  near   at  Bansawada. </p>
          <p class="more"><a href="http://en.wikipedia.org/wiki/Banswada">Continue Reading &raquo;</a></p>
        </li>
      </ul>
      <br class="clear" />
    </div>
    <div id="content">
      <h2>Population Tally</h2>
      <p> Telugu is the Local Language here. Banswada population  is 22,665 peoples , Banswada  pincode is 503187, Banswada STD code is 08466.</p>
    </div>
    <div class="holder">
      <h2></h2>
        <div class="imgholder"><img src="images/gallary/b-river.jpg" width="240" height="120" alt="" /></div>
        <h2>Agriculture</h2>
        <p>Agriculture divions in Banswada are Banswada, Nizamsagar, Pitlam.</p>
        <p class="readmore"><a href="http://en.wikipedia.org/wiki/Banswada">Continue Reading &raquo;</a></p>
      </div>
    <div id="content">
      <h2>Nizamsagar</h2>
      <p>About Nizamsagar. It  is one of the famous dam  in Nizamabad(dist),  Telangana(india). It is located in Nizamsagar village. Is constructed  on  the  Manjira river over the achampet  and  banjapalle villages. The dam was constructed in 1923 by Mir Osman Ali khan. It was constructed by emptying over 40 villages.</p>
    </div>
    
    <div id="content">
      <h2>Transportation</h2>
      <p>We can reach Bansawada  only  through bus. The nearest cities of Banswada are Nizamabad it is about 48km  north ,  Karimnagar;  it is about  170km east, Degloor state of  Maharashata it is about  48km west:  Bsara it is about 69km  north  and   Hyderabad  the state of Telangana it is about 168km  south.</p>
    </div>
    <div id="column">
      
    </div>
    <br class="clear" />
  </div>
</div>