<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Gifts</span>
	</h2>
	<div class="thumbnails recentworks row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/gifts/choice.jpg" alt="Choice Gift Center" height=200px
						width=200px></span>
			</div>
			<span class="title">Choice Gift Center</span> </a>
			<h4></h4>
			<p class="text-center">
				R.P Road Nizamabad, Opp Delhiwala Sweet Home, Nizamabad.<br>Mobile
				-09966078782
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/gifts/gifts.png" alt="Seven Hills Gift Shop" height=200px
						width=200px></span>
			</div>
			<span class="title"> Seven Hills Gift Shop</span> </a>
			<h4></h4>
			<p class="text-center">Suryatowers,Pragathi Nagar,Nizamabad.</p>
		</div>
	</div>
</div>

