<div class="row section recentworks topspace">
	<h2 class="section-title">
		<span>Jewellery</span>
	</h2>
	
	<div class="thumbnails recentworks row">
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/jewelllery/tatagoldplus.JPG" alt="Tata GoldPlus"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Tata GoldPlus</span> </a>
			<h4></h4>
			<p class="text-center">
				Pragathi Nagar, Hyderabad Road, Nizamabad.<br>
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/jewelllery/joyalikkas.jpg" alt="Joyalukkas" height=200px
						width=200px></span>
			</div>
			<span class="title">Joyalukkas</span> </a>
			<h4></h4>
			<p class="text-center">
				Hyderabad Road, Nizamabad.<br>Phone +(91)-8462-235600
			</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/jewelllery/k.gangadhar.JPG" alt="K Gangadhar Jewellers"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">K Gangadhar Jewellers</span> </a>
			<h4></h4>
			<p class="text-center">
				RP Road, Nizamabad.<br>
			</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/jewelllery/srijanaradhana.JPG" alt="S.Janardhan Jewellers"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">S.Janardhan Jewellers</span> </a>
			<h4></h4>
			<p class="text-center">
				RP Road, Nizamabad.<br>
			</p>
		</div>
		
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/jewelllery/jewellery.png"
						alt="Sri Jagadamba Jewellers" height=200px width=200px></span>
			</div>
			<span class="title">Sri Jagadamba Jewellers</span> </a>
			<h4></h4>
			<p class="text-center">
				Marwadi Street, Kumar gally, Nizamabad.<br> Phone
				+(91)-8462-250471.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/jewelllery/jewellery.png" alt="Sri Uma Maheshara Jewellers"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Sri Uma Maheshara Jewellers</span> </a>
			<h4></h4>
			<p class="text-center">
				Near Jalabi Shop, Kumar gally, Nizamabad.<br>Mobile
				+(91)9849845543.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/jewelllery/jewellery.png" alt="Shivasai Jewellers"
						height=200px width=200px>
				</span>
			</div>
			<span class="title">Shivasai Jewellers</span> </a>
			<h4></h4>
			<p class="text-center">
				Gandhi Gunj Road, Nizamabad.<br>Mobile +(91)-9440539805.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/jewelllery/jewellery.png" alt="SriVijayalaxmi Diamond and jewellery."
						height=200px width=200px>
				</span>
			</div>
			<span class="title">SriVijayalaxmi Diamond and jewellery.</span> </a>
			<h4></h4>
			<p class="text-center">
				Kumar gally, Nizamabad.<br>Mobile +(91)9949349576,9705853347
			</p>
		</div>
	</div>
</div>