<div class="row section recentworks topspace">	
<h2 class="section-title">
		<span>Ladies Emporium </span>
	</h2>
	<div class="thumbnails recentworks row">

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/ladiesempo/ladiesemporium.png" alt="vaishnavi Ladies Emporium"
						height=200px width=200px>
				</span>
			</div>
			<span class="title"> Vaishnavi Ladies Emporium</span> </a>
			<h4></h4>
			<p class="text-center">
				Hyderbad Road, Nizanabad.<br>Mobile +(91)-8983755849.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/ladiesempo/ladiesemporium.png" alt="sri balaji"
						height=200px width=200px>
				</span>
			</div>
			<span class="title"> Sri Balaji Ladies</span> </a>
			<h4></h4>
			<p class="text-center">
				Armoor Road, Nizamabad.<br>Mobile +(91)-9989195761.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/ladiesempo/ladiesemporium.png" alt="vijaya laxmi"
						height=200px width=200px>
				</span>
			</div>
			<span class="title"> Vijayalaxmi Ladies Emporium.</span> </a>
			<h4></h4>
			<p class="text-center">
				R P Road, Nizamabad.<br>Mobile +(91)-9908277675.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="imgeeee">
				<a class="thumbnail" href=""> <span class="img"> <img
						src="images/shoping/ladiesempo/ladiesemporium.png" alt="abdulla"
						height=200px width=200px> 
				</span> <span class="title"> Abdulla Shopping center</span>
				</a>
				<h4></h4>
				<p class="text-center">
					Ahmedi Bazar, Nizamabad.<br>Mobile +(91)-9848594219.
				</p>
			</div>
		</div>
	</div>