<div class="thumbnails recentworks row">
<marquee title="Holding your cursor over this stops the marquee."
		onmouseover="this.stop();" onmouseout="this.start();">
		<P>Wel come to The Nizamabad Website For Parks</P>
	</marquee>
	<h2 class="section-title">
		<span>Parks</span>
	</h2>
	<div class="thumbnails recentworks row">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imge">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/entertainement/parks/alisagardeer.jpg"
					alt="alisagar deer Park" height=200px width=200px></span>
		</div>
		<span class="title">Alisagar Deer park</span> </a>
		<h4></h4>
		<p class="text-center">Ali sagar Garden, ali sagar Road,
			Telanagana.</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imge">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/entertainement/parks/parks.jpg" alt="yedapally Nursery"
					height=180px width=150px></span>
		</div>
		<span class="title">Yedapally Nursery</span> </a>
		<h4></h4>
		<p class="text-center">Yedapally Nursery, Maddipati Nagar,
			yedapally, Telangana.</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imge">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/entertainement/parks/parks.jpg" alt="lalbagh Park"
					height=180px width=150px></span>
		</div>
		<span class="title">Lal Bagh Park</span> </a>
		<h4></h4>
		<p class="text-center">Lal bagh park, kota gally, Nizamabad,
			Telangana</p>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imge">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/entertainement/parks/parks.jpg" alt="yerrakunta Colony Park"
					height=180px width=150px></span>
		</div>
		<span class="title">yerrakunta colny Park</span> </a>
		<h4></h4>
		<p class="text-center">Yerrakunta Colony Park, Kanteshwar,
			Nizamabad.</p>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imge">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/entertainement/parks/parks.jpg" alt="APHb Park" height=180px
					width=150px></span>
		</div>
		<span class="title">APHB Park</span> </a>
		<h4></h4>
		<p class="text-center">APHB Park, Nizamabad, Telangana.</p>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imge">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/entertainement/parks/parks.jpg" alt="alisagar"
					height=180px width=150px></span>
		</div>
		<span class="title">Ali sagar Gardens</span> </a>
		<h4></h4>
		<p class="text-center">Ali sagar Garden, ali sagar Road,
			Telanagana.</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imge">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/entertainement/parks/parks.jpg" alt="temple Park"
					height=180px width=150px>
			</span>
		</div>
		<span class="title">Temple Park</span> </a>
		<h4></h4>
		<p class="text-center">Nizamabad, Telangana.</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imge">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/entertainement/parks/parks.jpg" alt="rock Garden" height=180px
					width=150px>
			</span>
		</div>
		<span class="title">Rock Garden</span> </a>
		<h4></h4>
		<p class="text-center">Rock Garden , Bodhan-Niazamabad Road,
			Telangana.</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="imge">
			<a class="thumbnail" href=""> <span class="img"> <img
					src="images/entertainement/parks/parks.jpg" alt="thilak Gardens"
					height=180px width=150px></span>
		</div>
		<span class="title">Thilak Gardens</span> </a>
		<h4></h4>
		<p class="text-center">Thilak Gardens, Khaleelwadi, Nizamabad</p>
	</div>
</div>
